{% extends 'mpoweradmin-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Admin dashboard - Seminars</title>
<style>
.progress {
    height: 10px;
}

.progress-bar {
    border-radius: 0;
}
</style>
{% endblock %}
{% block content %}

<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h1>All Seminars</h1>
    <p class="pxp-text-light">Seminar update</p>

    <div class="mt-4 mt-lg-5">
        <div class="row justify-content-between align-content-center">
            <div class="col-auto order-2 order-sm-1">
                <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                    <select class="form-select" name="act">
                        <option value="a">Bulk actions</option>
                        {% comment %} <option>Edit</option> {% endcomment %}
                        <option value="b">Delete</option>
                    </select>
                    <button class="btn ms-2" onclick="multiple()">Apply</button>
                </div>
            </div>
            <div class="col-auto order-1 order-sm-2">
                <div class="pxp-company-dashboard-jobs-search mb-3">
                    <div class="pxp-company-dashboard-jobs-search-results me-3">{{ count }} Seminars</div>
                    <div class="pxp-company-dashboard-jobs-search-search-form">
                        <div class="input-group">
                            <span class="input-group-text" style="background: white"><span class="fa fa-search"></span></span>
                            <input type="text" class="form-control" placeholder="Search Seminars..." id="search">
                        </div>
                    </div>
                    {% if count > 0 %}
                        <div class="pxp-company-dashboard-jobs-bulk-actions">
                            <a class="btn ms-2" data-bs-target="#pxp-template-modal" data-bs-toggle="modal">Create Seminar</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {%  if count == 0 %}
        <div class="pt-5 d-flex flex-column justify-content-center align-items-center">
        <h4>No Seminars to display.</h4>    
        <div class="pxp-company-dashboard-jobs-bulk-actions"><a class="btn ms-2 mt-2 btn-primary" data-bs-target="#pxp-template-modal" data-bs-toggle="modal">Create Seminar</a></div>
        </div>
        {% else %}
        <div class="table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" onClick="toggle(this)" class="form-check-input" name="all"></th>
                        <th style="width: 15%;"></th>
                        <th style="width: 15%;">Seminar Name</th>
                        <th style="width: 15%;">Date<span class="fa fa-angle-up ms-3"></span></th>
                        <th style="width: 15%;">City</th>
                        <th style="width: 15%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in pe %}
                    <tr>
                        <td><input type="checkbox" name="chek" class="form-check-input" value={{ i.seminar_id }}></td>
                        <td >
                                    <div class="pxp-company-dashboard-candidate-avatar pxp-cover" style="background-image: url('{{i.image}}');"></div>
                        </td>
                        <td>
                            <a href="#">
                                <div class="pxp-company-dashboard-job-title" onclick="templatemodal('{{i.seminar_id}}')" data-bs-target="#pxp-tempshow-modal" data-bs-toggle="modal">{{ i.title }}</div>
                            </a>
                        </td>
                        <td><div class="pxp-company-dashboard-job-date mt-1">{{ i.date }}</div></td>
                        <td><div class="pxp-company-dashboard-job-category">{{ i.city }}</div></td>
                        <td>
                            <div class="pxp-dashboard-table-options">
                                <ul class="list-unstyled">
                                    <li><button title="View" id="pxp-test-modal-button" data-bs-target="#pxp-tempshow-modal" data-bs-toggle="modal" onclick="templatemodal('{{ i.seminar_id }}')"><span class="fa fa-eye"></span></button></li>
                                    <input style="display: none" value={{i.seminar_id}}>
                                    <li><button title="Delete" onclick="delseminar({{i.seminar_id}})"><span class="fa fa-trash-o"></span></button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                <div class="col-auto">
                    <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                        <ul class="pagination pxp-pagination">
                            {% if count >= 11 %}
                            {% if pe.has_previous %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.number|add:'-4' > 1 %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in pe.paginator.page_range %}
                                {% if pe.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span style="padding: 0.7rem" class="page-link">{{pe.number}}</span>
                                    </li>
                                {% elif i > pe.number|add:'-5' and i < pe.number|add:'5' %}
                                    {% if GET_params %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if pe.paginator.num_pages > pe.number|add:'4' %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.has_next %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.next_page_number }}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.next_page_number}}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-auto">
                    {% comment %} <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>



<div class="modal fade pxp-user-modal" id="pxp-template-modal" aria-hidden="true" aria-labelledby="expModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 70vw; padding: 15px 15px !important">
                <div class="pxp-dashboard-content-details" style="margin-right:0px; box-shadow: none; padding: 0px; min-height: 0px">
                    <form enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-title" class="form-label">Seminar title</label>
                            <input type="text" id="pxp-step-name" class="form-control" placeholder="Add title" name="seminar_title">
                        </div>
                        <div class="mb-3">
                            <label for="pxp-company-seminar-date" class="form-label">Date</label>
                            <input type="date" id="pxp-step-name" class="form-control" placeholder="Date" name="seminar_date">
                        </div>
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-time" class="form-label">Time</label>
                            <input type="time" id="pxp-step-name" class="form-control" placeholder="Time" name="seminar_time">
                        </div>
                        
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-city" class="form-label">City</label>
                            <input type="text" id="pxp-step-name" class="form-control" placeholder="City" name="seminar_city">
                        </div>
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-speaker" class="form-label">Speaker's name</label>
                            <input type="text" id="pxp-step-name" class="form-control" placeholder="Speakers name" name="seminar_speakers">
                        </div>
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-isonline" class="form-label">Address</label>
                            <input type="text" id="pxp-step-name" class="form-control" placeholder="Address" name="seminar_address">
                        </div>
                
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-description" class="form-label">Description</label>
                            <textarea class="form-control" id="pxp-step-description" placeholder="Type the description here..." name="seminar_description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="pxp-admin-seminar-image" class="form-label">Poster</label>
                            <input type="file" id="pxp-step-name" class="form-control" placeholder="Poster" name="seminar_image" accept="image/*">
                        </div>
                    </form>
                </div>
                <input id="pxp-step-id" style="display: none" name="stepidm">
                <button class="btn rounded-pill pxp-subsection-cta" onclick="createSeminar()">Create</button>
            </div>
        </div>
    </div>
</div>


{% comment %} <div class="modal fade pxp-user-modal" id="pxp-temp-edit-modal" aria-hidden="true" aria-labelledby="expModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 70vw; padding: 15px 15px !important">
                <div class="pxp-dashboard-content-details" style="margin-right:0px; box-shadow: none; padding: 0px; min-height: 0px">
                    <form enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="pxp-company-job-title" class="form-label">Seminar name</label>
                            <input type="text" id="pxp-step-name" class="form-control" placeholder="Add title" name="templ_name_edit">
                        </div>
                
                        <div class="mb-3">
                            <label for="pxp-company-job-description" class="form-label">Description</label>
                            <textarea class="form-control" id="pxp-step-description" placeholder="Type the description here..." name="templ_description_edit"></textarea>
                        </div>
                    </form>
                </div>
                <input id="pxp-step-id" style="display: none" name="templateidm">
                <button class="btn rounded-pill pxp-subsection-cta" onclick="editTemplate()">Create</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% comment %} <div class="modal fade pxp-user-modal" id="pxp-template-modal" aria-hidden="true" aria-labelledby="testEditModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 70vw; padding: 15px 15px !important">
                <div class="pxp-dashboard-content-details">
                    <h1>Create Seminar</h1>
                    <p class="pxp-text-light">Create a Seminar forkdfkls onboarding procedures.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mt-4 mt-lg-5">
                            <div class="row justify-content-between align-content-center">
                                <div class="col-auto order-1 order-sm-2">
                                    <div class="pxp-company-dashboard-jobs-search mb-3" style="align-items: flex-start; flex-direction: column">
                                        <div class="pxp-company-dashboard-jobs-search-search-form" style="display: flex; align-items: center">
                                            <div style="margin-right: 4px; width: 16rem">
                                                Name: 
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Enter name" name="templ_name" id="editname" required>
                                            </div>
                                        </div>
                                        <div style="display: flex; align-items: baseline">
                                        <div class="pxp-company-dashboard-jobs-search-search-form mt-3" style="display: flex; align-items: center">
                                            <div style="margin-right: 4px; width: 16rem">
                                                Description:
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Enter description" name="templ_description" id="edittime" required>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
                <button class="btn rounded-pill pxp-subsection-cta" onclick="createTemplate()" >Create</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}


{% comment %} <div class="modal fade pxp-user-modal" id="pxp-template-modal" aria-hidden="true" aria-labelledby="testEditModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 70vw; padding: 15px 15px !important">
                <div class="pxp-dashboard-content-details">
                    <h1>Create Seminar</h1>
                    <p class="pxp-text-light">Create a Seminar for onboarding procedures.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mt-4 mt-lg-5">
                            <div class="row justify-content-between align-content-center">
                                <div class="col-auto order-1 order-sm-2">
                                    <div class="pxp-company-dashboard-jobs-search mb-3" style="align-items: flex-start; flex-direction: column">
                                        <div class="pxp-company-dashboard-jobs-search-search-form" style="display: flex; align-items: center">
                                            <div style="margin-right: 4px; width: 16rem">
                                                Name: 
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Enter name" name="templ_name" id="editname" required>
                                            </div>
                                        </div>
                                        <div style="display: flex; align-items: baseline">
                                        <div class="pxp-company-dashboard-jobs-search-search-form mt-3" style="display: flex; align-items: center">
                                            <div style="margin-right: 4px; width: 16rem">
                                                Description:
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Enter description" name="templ_description" id="edittime" required>
                                            </div>
                                        </div>
                        
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
                </div>
                <button class="btn rounded-pill pxp-subsection-cta" onclick="createTemplate()" >Create</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}


<div class="modal fade pxp-user-modal" id="pxp-tempshow-modal" aria-hidden="true" aria-labelledby="feedbackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered widthadjuster" style="justify-content: center">
        <div class="modal-content" style="width: 35rem">
            <div class="modal-header" style="padding: 10px; flex-direction: column">
                <h5 id="name_of_temp"></h5>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-body" style="padding: 1rem !important">
                <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto; flex-direction: column">
                    <div id="desc_of_temp">
                    </div>
                </div>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-header" style="padding: 10px; flex-direction: column">
                <table id="stepsadder" style="width: 100%">
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function createSeminar() {
    let name = $("[name='seminar_title']").val();
    let date = $("[name='seminar_date']").val();
    let time = $("[name='seminar_time']").val();
    let city = $("[name='seminar_city']").val();
    let speaker = $("[name='seminar_speakers']").val();
    let address = $("[name='seminar_address']").val();
    let imageInput = $("[name='seminar_image']")[0]; // Get the file input element
    let desc = $("[name='seminar_description']").val();

    let formData = new FormData();
    formData.append('name', name);
    formData.append('date', date);
    formData.append('time', time);
    formData.append('city', city);
    formData.append('speakers', speaker);
    formData.append('address', address);
    formData.append('image', imageInput.files[0]); // Add the file data
    formData.append('desc', desc);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    $.ajax({
        type: "POST",
        url: "{% url 'mpoweradmin:create_seminar' pk %}",
        data: formData,
        processData: false, 
        contentType: false,
        success: function (data) {
            location.reload();
        }
    });
}

    
    function templatemodal(id)
    {
        $.ajax(
        {
            type:"GET",
            url: "{% url 'employer:get_template' pk=pk %}",
                data:{
                        temp_id: id
                },
            success: function( data ) 
            {
                $('#name_of_temp').text("Name : "+data['name']);
                $('#desc_of_temp').text("Description : "+data['desc']);

                let final_data=data['info'];
                let inserter=document.getElementById('stepsadder');
                inserter.innerHTML='';
                let trval=document.createElement('tr')
                let th1=document.createElement('th')
                th1.innerHTML="Order"
                th1.setAttribute('style', 'text-align: center')
                let th2=document.createElement('th')
                th2.innerHTML="Step name"
                th2.setAttribute('style', 'text-align: center')
                trval.append(th1)
                trval.append(th2)
                inserter.append(trval);
                for(let i=0;i<final_data.length;i++)
                {
                    let tr1=document.createElement('tr')
                    let td=document.createElement('td')
                    td.setAttribute('style', 'text-align: center')
                    td.innerHTML=final_data[i][0]
                    tr1.append(td)
                    let td1=document.createElement('td')
                    td1.setAttribute('style', 'text-align: center')
                    td1.innerHTML=final_data[i][1]
                    tr1.append(td1)
                    inserter.append(tr1)
                }
            }
        })
    }

</script>
{% endblock %}

{% block script %}

$(document).ready(function () {
    $('#cdas').removeClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').removeClass('pxp-active');
    $('#cman').removeClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').removeClass('pxp-active');
    $('#pen').removeClass('pxp-active');
    $('#templ').addClass('pxp-active');
    $('#step').removeClass('pxp-active');
})


var $rows = $('#table tbody tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

$("[name='chek']").change(function(){
    let a=0;
    checkboxes = document.getElementsByName('chek');
    let n=checkboxes.length
    for(let i=0;i<n;i++) {
      if(checkboxes[i].checked==false)
      {
        a=a+1;
      }
    }
    if(a==0)
    {
        $("[name=all]").prop('checked', true);
    }
    else
    {
        $("[name=all]").prop('checked', false);
    }
})

function toggle(source) {
    checkboxes = document.getElementsByName('chek');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
}

function delseminar(id)
{
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'sem_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function multiple()
{
    let action=$("[name='act']").val();
    if(action=='a')
    {
        alert("Please select an appropriate action")
        return;
    }
    let ids=[];
    $("[name='chek']:checked").map(function () {
        ids.push(this.value);
    })
    if(ids.length==0)
    {
        alert("Please select at least one of the records to apply delete operation")
        return;
    }
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'ids': ids,
                    'act': "delall",
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

{% endblock %}