{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - Create test</title>
{% endblock %}
{% block content %}

<style>
   .pxp-dashboard-content-details form .form-control, .pxp-dashboard-content-details form .form-select {
    padding:0.5rem;
   }
   @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Raleway');

// variables
$base-color: cadetblue;
$base-font: 'Raleway', sans-serif;

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lighten(cadetblue, 45%);
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: inherit;
  margin: 0 0 .75em 0;
  color: desaturate(cadetblue, 15%);
  text-align: center;
}

.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten(cadetblue, 10%);
  }
  & input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    &::after {
      content: "\002B"; 
      font-family: 'Material Icons';
      position: absolute;
      font-size: 2.5rem;
      color: white;
      top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50%;
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;        
      }
    }
  }
}


.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    /* content: "photo_size_select_actual";  */
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(cadetblue, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}
</style>
<div class="pxp-dashboard-content-details">
    <h1>Create test</h1>
    <p class="pxp-text-light">Create a test for a evaluating candidates.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mt-4 mt-lg-5">
            <div class="row justify-content-between align-content-center">
                <div class="col-auto order-1 order-sm-2">
                    <div class="pxp-company-dashboard-jobs-search mb-3" style="align-items: flex-start; flex-direction: column">
                        <div class="pxp-company-dashboard-jobs-search-search-form" style="display: flex; align-items: center">
                            <div style="margin-right: 4px; width: 16rem">
                                Name: 
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter name" name="name" required>
                            </div>
                        </div>
                        <div style="display: flex; align-items: baseline">
                        <div class="pxp-company-dashboard-jobs-search-search-form mt-3" style="display: flex; align-items: center">
                            <div style="margin-right: 4px; width: 16rem">
                                Time limit (minutes): 
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter time" name="timelimit" required>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
            </div>
        </div>
        <hr />
        <div id="quiz">
            <div class="queswithopt">
                <div class="singlequestion">
                    <div class="questondesc" style="display: flex; align-items: baseline">
                        Q. &nbsp;<input type="text" class="form-control" name="desc" placeholder="Question" required/>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="box">
                        <div class="js--image-preview">
                        </div>
                        <div class="upload-options">
                            <label>
                                <input type="file" class="image-upload" accept="image/*" onchange="handleFileUpload(this)" name="image_1"/>
                            </label>
                        </div>
                    </div>
                    
                </div>
            
                <div class="options" style="display: flex; flex-wrap: wrap; justify-content: space-around">
                    <div class="questondesc col-5 mt-1" style="display: flex; align-items: baseline">
                        <span style="width: 6rem">Option 1. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>
                    </div>
                    <div class="questondesc col-5 mt-1" style="display: flex; align-items: baseline">
                        <span style="width: 6rem">Option 2. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>
                    </div>
                    <div class="questondesc col-5 mt-1" style="display: flex; align-items: baseline">
                        <span style="width: 6rem">Option 3. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>
                    </div>
                    <div class="questondesc col-5 mt-1" style="display: flex; align-items: baseline">
                        <span style="width: 6rem">Option 4. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>
                    </div>
                </div>
                <div class="pxp-company-dashboard-jobs-bulk-actions mb-3 col-5">
                    <div>
                        Answer: 
                    </div>
                    <select class="form-select" name="correct">
                        <option value=1>Option 1</option>
                        <option value=2>Option 2</option>
                        <option value=3>Option 3</option>
                        <option value=4>Option 4</option>
                    </select>
                </div>
            </div>
            <hr />
        </div>
    
    <div class="pxp-company-dashboard-jobs-bulk-actions mb-3 gap-3 mt-3" id="ext" style="align-items: flex-start">
    <button class="btn" onclick="addques()" style="padding: 0.5rem">Add Question</button>
    <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
        <button class="btn btn-primary" type="submit" style="padding: 0.5rem">Create Test</button>
    </div>
    </div>
</form>
</div>
<script>
 function handleFileUpload(input) {
    const box = input.closest('.box');
    initDropEffect(box);
    initImageUpload(box);
    const selectedFile = input.files[0];
}

function initImageUpload(box) {
    let uploadField = box.querySelector('.image-upload');

    //uploadField.addEventListener('change', getFile);
    
    //console.log("hello1A"+uploadField);


    //function getFile(e){
        //let file = e.currentTarget.files[0];
        checkType(uploadField.files[0]);
    //}
    
    function previewImage(file){
        let thumb = box.querySelector('.js--image-preview'),
            reader = new FileReader();

        reader.onload = function() {
            thumb.style.backgroundImage = 'url(' + reader.result + ')';
        }
        reader.readAsDataURL(file);
        thumb.className += ' js--no-default';
    }

    function checkType(file){
        let imageType = /image.*/;
        if (!file.type.match(imageType)) {
            throw 'File is not an image.';
        } else if (!file){
            throw 'No image selected.';
        } else {
            previewImage(file);
        }
    }
}

var boxes = document.querySelectorAll('.box');

function initDropEffect(box) {
    let area, drop, areaWidth, areaHeight, maxDistance, dropWidth, dropHeight, x, y;

    area = box.querySelector('.js--image-preview');
    area.addEventListener('click', fireRipple);

    function fireRipple(e) {
        area = e.currentTarget;
        if (!drop) {
            drop = document.createElement('span');
            drop.className = 'drop';
            this.appendChild(drop);
        }
        drop.className = 'drop';

        areaWidth = getComputedStyle(this, null).getPropertyValue("width");
        areaHeight = getComputedStyle(this, null).getPropertyValue("height");
        maxDistance = Math.max(parseInt(areaWidth, 10), parseInt(areaHeight, 10));

        drop.style.width = maxDistance + 'px';
        drop.style.height = maxDistance + 'px';

        dropWidth = getComputedStyle(this, null).getPropertyValue("width");
        dropHeight = getComputedStyle(this, null).getPropertyValue("height");

        x = e.pageX - this.offsetLeft - (parseInt(dropWidth, 10) / 2);
        y = e.pageY - this.offsetTop - (parseInt(dropHeight, 10) / 2) - 30;

        drop.style.top = y + 'px';
        drop.style.left = x + 'px';
        drop.className += ' animate';
        e.stopPropagation();
    }
}

// for (let i = 0; i < boxes.length; i++) {
//     let box = boxes[i];
//     console.log(box);

//     initDropEffect(box);
//     initImageUpload(box);
// }


</script>
{% endblock content%}

{% block script %}
$(document).ready(function () {
$('#cdas').removeClass('pxp-active');
$('#cedi').removeClass('pxp-active');
$('#cnew').removeClass('pxp-active');
$('#cman').removeClass('pxp-active');
$('#ccan').removeClass('pxp-active');
$('#csub').removeClass('pxp-active');
$('#ccha').removeClass('pxp-active');
$('#cinb').removeClass('pxp-active');
$('#cnot').removeClass('pxp-active');
$('#scn').removeClass('pxp-active');
$('#qui').addClass('pxp-active');
$('#inr').removeClass('pxp-active');
$('#pen').removeClass('pxp-active');
})
var panelNumber=1;
function removeques()
{
    let div=document.getElementsByClassName('queswithopt');
    $('.queswithopt').last().remove();
    $('#quiz').children().last().remove();
    panelNumber = panelNumber - 1;

    if(div.length==1)
    {
        $('#questremove').remove();
    }

}

function addques()
{
    panelNumber = panelNumber + 1;

    let div=document.createElement('div');
    div.setAttribute('class', 'queswithopt')
    let quesdiv=document.createElement('div');
    quesdiv.setAttribute('class', 'singlequestion');
    let descdiv=document.createElement('div');
    descdiv.setAttribute('class', 'questondesc');
    descdiv.setAttribute('style', 'display: flex; align-items: baseline');
    descdiv.innerHTML='Q. &nbsp;<input type="text" class="form-control" name="desc" placeholder="Question" required/>';
    quesdiv.append(descdiv);
    div.append(quesdiv);
    ////////////////////////////////////////////


    const wrapperDiv = document.createElement('div');
    wrapperDiv.classList.add('wrapper');
    
    const boxDiv = document.createElement('div');
    boxDiv.classList.add('box');
    
    const imagePreviewDiv = document.createElement('div');
    imagePreviewDiv.classList.add('js--image-preview');
    
    const uploadOptionsDiv = document.createElement('div');
    uploadOptionsDiv.classList.add('upload-options');
    
    const labelElement = document.createElement('label');
    
    const inputElement = document.createElement('input');
    inputElement.setAttribute('type', 'file');
    inputElement.classList.add('image-upload');
    inputElement.setAttribute('accept', 'image/*');
    inputElement.setAttribute('onchange', 'handleFileUpload(this)');
    inputElement.setAttribute('name', 'image_'+panelNumber);


    
    labelElement.appendChild(inputElement);
    
    uploadOptionsDiv.appendChild(labelElement);
    
    boxDiv.appendChild(imagePreviewDiv);
    boxDiv.appendChild(uploadOptionsDiv);
    
    wrapperDiv.appendChild(boxDiv);
    
    div.appendChild(wrapperDiv);
    
    ////////////////////////////////////////////
    let optdiv=document.createElement('div');
    optdiv.setAttribute('class', 'options');
    optdiv.setAttribute('style', 'display: flex; flex-wrap: wrap; justify-content: space-around');
    let optdescdiv=document.createElement('div');
    optdescdiv.setAttribute('class', 'questondesc col-5 mt-1');
    optdescdiv.setAttribute('style', 'display: flex; align-items: baseline')
    optdescdiv.innerHTML='<span style="width: 6rem">Option 1. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>';
    optdiv.append(optdescdiv);
    let optdescdiv2=document.createElement('div');
    optdescdiv2.setAttribute('class', 'questondesc col-5 mt-1');
    optdescdiv2.setAttribute('style', 'display: flex; align-items: baseline')
    optdescdiv2.innerHTML='<span style="width: 6rem">Option 2. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>';
    optdiv.append(optdescdiv2);
    let optdescdiv3=document.createElement('div');
    optdescdiv3.setAttribute('class', 'questondesc col-5 mt-1');
    optdescdiv3.setAttribute('style', 'display: flex; align-items: baseline')
    optdescdiv3.innerHTML='<span style="width: 6rem">Option 3. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>';
    optdiv.append(optdescdiv3);
    let optdescdiv4=document.createElement('div');
    optdescdiv4.setAttribute('class', 'questondesc col-5 mt-1');
    optdescdiv4.setAttribute('style', 'display: flex; align-items: baseline')
    optdescdiv4.innerHTML='<span style="width: 6rem">Option 4. &nbsp;</span><input type="text" class="form-control" name="optdesc" placeholder="Option" required/>';
    optdiv.append(optdescdiv4);
    div.append(optdiv);
    let corrans=document.createElement('div');
    corrans.setAttribute('class', 'pxp-company-dashboard-jobs-bulk-actions mb-3');
    corrans.setAttribute('style', 'width: 25rem');
    let textans=document.createElement('div');
    //textans.setAttribute('style', 'width: 13rem');
    textans.innerHTML="Answer:";
    corrans.append(textans);
    let select=document.createElement('select');
    select.setAttribute('class', 'form-select');
    select.setAttribute('name', 'correct');
    let option=document.createElement('option');
    option.setAttribute('value', 1);
    option.innerHTML="Option 1";
    select.append(option);
    let option2=document.createElement('option');
    option2.setAttribute('value', 2);
    option2.innerHTML="Option 2";
    select.append(option2);
    let option3=document.createElement('option');
    option3.setAttribute('value', 3);
    option3.innerHTML="Option 3";
    select.append(option3);
    let option4=document.createElement('option');
    option4.setAttribute('value', 4);
    option4.innerHTML="Option 4";
    select.append(option4);
    corrans.append(select);
    div.append(corrans);
    let hr=document.createElement('hr');
    let maindiv=document.getElementById('quiz');
    quiz.append(div);
    let removediv=document.createElement('div');
    removediv.setAttribute('class', 'pxp-company-dashboard-jobs-bulk-actions mb-3');
    removediv.setAttribute('id', 'questremove');
    let delbut=document.createElement('button');
    delbut.setAttribute('class', 'btn');
    delbut.setAttribute('onclick', 'removeques()');
    delbut.setAttribute('style', 'padding: 0.5rem');
    delbut.innerHTML="Remove Question";
    removediv.append(delbut);
    quiz.append(hr);
    let externdiv=document.getElementById('ext');
    let allque=document.getElementsByClassName('queswithopt');
    <!-- console.log(allque.length); -->
    if(allque.length==2)
    {
        externdiv.append(removediv);
    }
}

{% endblock %}