{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard</title>
{% endblock %}
{% block header %}
<style>
    .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#close-popup {
    margin-top: 10px;
}
.pxp-company-dashboard-job-percent{
    font-size: 12px;
    font-weight: 500;
}

.star-rating {
  
  display:flex;
  flex-direction: row-reverse;
  font-size:2.0em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;

  width:8em;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}
</style>
{% endblock header %}
{% block content %}


<div class="pxp-dashboard-content-details">
    <h1>Dashboard</h1>
    <p class="pxp-text-light">Welcome to mpower!</p>

    <div class="row mt-4 mt-lg-5 align-items-center">
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-primary">
                    <span class="fa fa-file-text-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ nums.0 }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Jobs posted</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-success">
                    <span class="fa fa-user-circle-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ nums.1 }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Applications</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-warning">
                    <span class="fa fa-envelope-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ nums.2 }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Unread messages</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-danger">
                    <span class="fa fa-bell-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ request.session.notifnum }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Notifications</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xl-6">
            <h2>Company Profile Visits</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value vissh"></span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 34%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select cselectVal" id="cselec">
                            <option value="s">Last 7 days</option>
                            <option value="t">Last 30 days</option>
                            <option value="x">Last 60 days</option>
                            <option value="n">Last 90 days</option>
                            <option value="y">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-company-dashboard-visits-chart"></canvas>
            </div>
        </div>
        <div class="col-xl-6">
            <h2 class="mt-4 mt-lg-5 mt-xl-0">Applications</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value appsh"></span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 56%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select cselectVal2">
                            <option value="s">Last 7 days</option>
                            <option value="t">Last 30 days</option>
                            <option value="x">Last 60 days</option>
                            <option value="n">Last 90 days</option>
                            <option value="y">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-company-dashboard-app-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xxl-6">
            <h2>Recent Notifications</h2>
            <div class="pxp-dashboard-notifications">
                {% for i in notifics %}
                {% if i.notif_type == "M" %}
                <div class="pxp-dashboard-notifications-item mb-3">
                    <div class="pxp-dashboard-notifications-item-left">
                        <div class="pxp-dashboard-notifications-item-type"><span class="fa fa-envelope-o"></span></div>
                        <div class="pxp-dashboard-notifications-item-message">
                            <a href="#" onclick="messageclick({{i.log_id}})">{{ i.name }}</a> sent you a message.
                        </div>
                    </div>
                    <div class="pxp-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% elif i.notif_type == "V" %}
                <div class="pxp-dashboard-notifications-item mb-3">
                    <div class="pxp-dashboard-notifications-item-left">
                        <div class="pxp-dashboard-notifications-item-type"><span class="fa fa-user-circle-o"></span></div>
                        <div class="pxp-dashboard-notifications-item-message">
                            <a href="#" data-bs-target="#pxp-candidate-modal" data-bs-toggle="modal" onclick="candidatemodal('{{i.user_id}}')">{{ i.name }}</a> viewed your profile.
                        </div>
                    </div>
                    <div class="pxp-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% elif i.notif_type == "T" %}
                <div class="pxp-dashboard-notifications-item mb-3">
                    <div class="pxp-dashboard-notifications-item-left">
                        <div class="pxp-dashboard-notifications-item-type"><span class="fa fa-book"></span></div>
                        <div class="pxp-dashboard-notifications-item-message">
                            <a href="#" data-bs-target="#pxp-results-modal" data-bs-toggle="modal" onclick="resultsmodal('{{i.test_id}}')">{{ i.name }}</a> had attempted {{i.test_name}} test.
                        </div>
                    </div>
                    <div class="pxp-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% else %}
                <div class="pxp-dashboard-notifications-item mb-3">
                    <div class="pxp-dashboard-notifications-item-left">
                        <div class="pxp-dashboard-notifications-item-type"><span class="fa fa-briefcase"></span></div>
                        <div class="pxp-dashboard-notifications-item-message">
                            <a href="#">{{ i.name }}</a> applied for <a href="#">{{ i.title }}</a>.
                        </div>
                    </div>
                    <div class="pxp-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-xxl-6">
            <h2 class="mt-4 mt-lg-5 mt-xxl-0">Recent Messages</h2>
            <div class="pxp-company-dashboard-messages">
                {% for i in recent %}
                <div class="pxp-company-dashboard-messages-item mb-3">
                    {% if i.3 %}
                    <div class="pxp-company-dashboard-messages-item-avatar pxp-cover" style="background-image: url('{{i.3.url}}');"></div>
                    {% else %}
                    <div class="pxp-company-dashboard-messages-item-avatar pxp-cover" onload="firstLetter({{i.2}})" style="background-image: url('/static/images/company-logo-1.png');"></div>
                    {% endif %}
                    <div class="pxp-company-dashboard-messages-item-details ms-3">
                        <div class="pxp-company-dashboard-messages-item-name">{{ i.2 }}</div>
                        <div class="pxp-company-dashboard-messages-item-date pxp-text-light">{{ i.0 }}</div>
                        <p class="mt-1 mb-0">{{ i.1 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mt-4 mt-lg-5">
        <h2>Recent Candidates</h2>
        <div class="table-responsive">
            <table class="table align-middle">
                <!-- (i.datetime, user.user_id,user.photo, user.name, user.location, user.log_id.log_id)) -->
                {% for i in candi %}
                <tr>
                    {% if i.2 %}
                    <td style="width: 3%;"><div class="pxp-company-dashboard-candidate-avatar pxp-cover" style="background-image: url('{{i.2.url}}');"></div></td>
                    {% else %}
                    <td style="width: 3%;"><div class="pxp-company-dashboard-candidate-avatar pxp-cover" style="background-image: url('/static/images/company-logo-1.png');"></div></td>
                    {% endif %}
                    <td style="width: 25%;"><div class="pxp-company-dashboard-candidate-name">{{ i.3 }}</div></td>
                    {% if i.5 %}
                    <td style="width: 25%;"><div class="pxp-company-dashboard-candidate-title">{{ i.0 }}</div></td>
                    {% else %}
                    <td style="width: 25%;"><div class="pxp-company-dashboard-candidate-title">Not specified</div></td>
                    {% endif %}
                    {% if i.5 %}
                    <td><div class="pxp-company-dashboard-candidate-location"><span class="fa fa-globe"></span>{{ i.4 }}</div></td>
                    {% else %}
                    <td><div class="pxp-company-dashboard-candidate-location"><span class="fa fa-globe"></span>Not specified</div></td>
                    {% endif %}
                    <td>
                        <div class="pxp-dashboard-table-options">
                            <ul class="list-unstyled">
                                <li><button title="View profile" id="pxp-candidate-modal-button" data-bs-target="#pxp-candidate-modal" data-bs-toggle="modal" onclick="candidatemodal('{{i.1}}')"><span class="fa fa-eye"></span></button></li>
                                <li><button title="Send message" onclick="messageclick({{i.5}})"><span class="fa fa-envelope-o"></span></button></li>
                                {% comment %} <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li> {% endcomment %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>
{% if jobs_ %}
<div id="popup" class="popup">
    <div class="popup-content">
        <div class="d-flex justify-content-end">
            <button id="close-popup" class="btn btn-secondary" onclick="closePopup()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="container mt-5">
            <h5 class="text-primary">Feedback</h5>
            <p class="text-muted">Provide feedback related to resumes provided to you.</p>
        </div>
        <div class="modal-body" style="padding: 1rem !important">
            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto">
                <select class="form-select" name="jobidReq">
                        {% for i in jobs_ %} 
                        <option value="{{ i.jobid }}">
                        {{ i.title }}
                        </option>
                        {% endfor %}
                </select>
                <br>
            </div>
            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto">
            
                <div class="star-rating ">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star">&#9733;</label>
                  </div>

                <button class="btn ms-2" onclick="resumeFeed()">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content%}

{% block script %}
$(document).ready(function () {
    $('#cdas').addClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').removeClass('pxp-active');
    $('#cman').removeClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').removeClass('pxp-active');
    $('#pen').removeClass('pxp-active');
})


function chart_show(dates, chart_data, para)
{
    var companyVisitsChartElem, labelval, colorval, gradient;
    if(para=="v")
    {
        companyVisitsChartElem=document.getElementById('pxp-company-dashboard-visits-chart').getContext('2d');
        gradient = companyVisitsChartElem.createLinearGradient(0, 250, 0, 0);
        gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
        gradient.addColorStop(.5, 'rgba(0, 112, 201, 0.09)');
        gradient.addColorStop(1, 'rgba(0, 112, 201, 0.12)');
        labelval='Visits';
        colorval='rgba(0, 112, 201, 1)'
    }
    else
    {
        companyVisitsChartElem=document.getElementById('pxp-company-dashboard-app-chart').getContext('2d');
        gradient = companyVisitsChartElem.createLinearGradient(0, 250, 0, 0);
        gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
        gradient.addColorStop(.5, 'rgba(255, 168, 35, 0.09)');
        gradient.addColorStop(1, 'rgba(255, 168, 35, 0.12)');
        labelval='Applications';
        colorval='rgba(255, 168, 35, 1)';
    }
    var companyVisitsChart = new Chart(companyVisitsChartElem, {
        type: 'line',
        data: {
            labels: dates, 
            datasets: [{
                label: labelval,
                data: chart_data,
                borderWidth: 3,
                borderColor: colorval,
                pointBackgroundColor: 'rgba(255, 255, 255, 0)',
                pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                pointBorderColor: 'rgba(66, 133, 244, 0)',
                pointHoverBorderColor: colorval,
                pointBorderWidth: 10,
                pointHoverBorderWidth: 3,
                pointHitRadius: 20,
                cubicInterpolationMode: 'monotone',
                fill: true,
                backgroundColor: gradient
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: 'rgba(153, 153, 153, 1)',
                        maxTicksLimit: 7,
                        maxRotation: 0
                    },
                    gridLines: {
                        zeroLineColor: 'rgba(232, 232, 232, 1)',
                        drawOnChartArea: false,
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: 'rgba(153, 153, 153, 1)',
                        callback: function(value, index, values) {
                            if (Math.floor(value) === value) {
                                return value;
                            }
                        }
                    },
                    gridLines: {
                        zeroLineColor: 'rgba(232, 232, 232, 0)',
                    },
                }],
            },
            responsive: true,
            tooltips: {
                backgroundColor: 'rgba(0, 39, 69, 1)',
                cornerRadius: 7,
                mode: 'index',
                intersect: false,
                displayColors: false,
                xPadding: 10,
                yPadding: 10,
                titleFontColor: 'rgba(255, 255, 255, .7)',
                bodyFontColor: 'rgba(255, 255, 255, 1)',
                titleFontStyle: 'normal',
                bodyFontStyle: 'bold',
            },
            legend: {
                display: false,
            }
        }
    });
}


if ($('#pxp-company-dashboard-visits-chart').length > 0) {
    $('.vissh').text({{charts.vcount_7}});
        let selectedItem;
        var dates=[];
        var chart_data=JSON.parse('{{ charts.vpastsev }}');
        function getMonthName(monthNumber) {
            const date = new Date();
            date.setMonth(monthNumber - 1);
            return date.toLocaleString('en-US', { month: 'short' });
          }
          var de={{charts.vdates|safe}};
          
          for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_show(dates, chart_data, "v");

        $("select.cselectVal").change(function() {
            dates=[];
            selectedItem = $(this).children("option:selected").val();
            if($(this).val()=="s")
            {
                $('.vissh').text({{charts.vcount_7}});
                de={{charts.vdates|safe}};
                chart_data=JSON.parse('{{ charts.vpastsev }}');
            }
            else if($(this).val()=="t")
            {
                $('.vissh').text({{charts.vcount_30}});
                de={{charts.vdates30|safe}};
                chart_data=JSON.parse('{{ charts.vpastthi }}');
            }
            else if($(this).val()=="x")
            {
                $('.vissh').text({{charts.vcount_60}});
                de={{charts.vdates60|safe}};
                chart_data=JSON.parse('{{ charts.vpastsix }}');
            }
            else if($(this).val()=="n")
            {
                $('.vissh').text({{charts.vcount_90}});
                de={{charts.vdates90|safe}};
                chart_data=JSON.parse('{{ charts.vpastnin }}');
            }
            else if($(this).val()=="y")
            {
                $('.vissh').text({{charts.vcount_365}});
                de={{charts.vdates365|safe}};
                chart_data=JSON.parse('{{ charts.vpastyea }}');
            }
            for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_show(dates, chart_data, "v");
        });
}

if ($('#pxp-company-dashboard-app-chart').length > 0) {
    $('.appsh').text({{counts.0}});
    let selectedItem;
    var dates=[];
    var chart_data=JSON.parse('{{ charts.pastsev }}');
    function getMonthName(monthNumber) {
        const date = new Date();
        date.setMonth(monthNumber - 1);
        return date.toLocaleString('en-US', { month: 'short' });
        }
        var de={{charts.dates|safe}};
        
        for(let i=0;i<de.length;i++)
        {
            let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
            dates.push(abc)
        }
        chart_show(dates, chart_data, "a");

    $("select.cselectVal2").change(function() {
        dates=[];
        selectedItem = $(this).children("option:selected").val();
        if($(this).val()=="s")
        {
            $('.appsh').text({{charts.count_7}});
            de={{charts.dates|safe}};
            chart_data=JSON.parse('{{ charts.pastsev }}');
        }
        else if($(this).val()=="t")
        {
            $('.appsh').text({{charts.count_30}});
            de={{charts.dates30|safe}};
            chart_data=JSON.parse('{{ charts.pastthi }}');
        }
        else if($(this).val()=="x")
        {
            $('.appsh').text({{charts.count_60}});
            de={{charts.dates60|safe}};
            chart_data=JSON.parse('{{ charts.pastsix }}');
        }
        else if($(this).val()=="n")
        {
            $('.appsh').text({{charts.count_90}});
            de={{charts.dates90|safe}};
            chart_data=JSON.parse('{{ charts.pastnin }}');
        }
        else if($(this).val()=="y")
        {
            $('.appsh').text({{charts.count_365}});
            de={{charts.dates365|safe}};
            chart_data=JSON.parse('{{ charts.pastyea }}');
        }
        for(let i=0;i<de.length;i++)
        {
            let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
            dates.push(abc)
        }
        chart_show(dates, chart_data, "a");
    });
}
// Function to show the popup
function showPopup() {
    document.getElementById("popup").style.display = "flex";
}

// Function to close the popup
function closePopup() {
    document.getElementById("popup").style.display = "none";
}

// Show the popup when the page loads
window.onload = function() {
    showPopup();
};

// Close the popup when the close button is clicked
document.getElementById("close-popup").addEventListener("click", closePopup);

function resumeFeed(){
    let jobidRequest=$("[name='jobidReq']").val();
    let rating=$("[name='rating']").val();
    console.log(jobidRequest);
    $.ajax(
        {
            type:"POST",
            url: "{% url 'employer:resume_feedback' pk %} ",
            data:{
                    jobid: jobidRequest,
                    rating:rating,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}
{% endblock %}