{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - Edit template</title>
{% endblock %}
{% block content %}

<div class="pxp-dashboard-content-details">
    <h1>Edit template</h1>
    <p class="pxp-text-light">Edit template according to onboarding procedure.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="mb-3">
                <label for="pxp-company-name" class="form-label"><h5>Template name</h5></label>
                <input type="text" id="pxp-company-name" class="form-control" placeholder="Template name" name="templ_name" value="{{ template.template_name }}">
            </div>
        </div>
        <hr/>
        <div class="mb-3">
            <label for="pxp-company-about" class="form-label"><h5>Description</h5></label>
            <textarea class="form-control" id="pxp-company-about" placeholder="Description" name="templ_desc">{{ template.template_description }}</textarea>
        </div>
        <div class="mt-lg-5">
            <button class="btn rounded-pill pxp-section-cta">Edit template</button>
        </div>
    </form>
    <hr/>
    <div class="mb-3">
        <label for="pxp-company-about" class="form-label"><h5>All steps</h5></label>
    </div>
    <div class="mt-4 mt-lg-5">
        <div class="table-responsive">
            <table class="table align-middle">
                <th style="width: 10%">Order</th>
                <th style="width: 40%">Name</th>
                <th style="width: 25%">Description</th>
                {% for i in steps %}
                <tr>
                    <td style="width: 10%;"><div class="pxp-candidate-dashboard-experience-company">{{ forloop.counter }}</div></td>
                    <td style="width: 40%;"><div class="pxp-candidate-dashboard-experience-company">{{ i.step_id.step_name }}</div></td>
                    <td style="width: 25%;"><div class="pxp-candidate-dashboard-experience-company">{{ i.step_id.step_description }}</div></td>
                    <td>
                        <div class="pxp-dashboard-table-options">
                            <ul class="list-unstyled">
                                <li><button title="Delete" class="delete_exp" onclick="delastep({{ i.step_id.step_id }})"><input style="display: none" value={{ i.step_id.step_id }} /><span class="fa fa-trash-o"></span></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <button class="btn rounded-pill pxp-section-cta" data-bs-target="#pxp-tempshow-modal" data-bs-toggle="modal" onclick="addsteptotemp()">Add step</button>
    <hr/>
</div>



<div class="modal fade pxp-user-modal" id="pxp-tempshow-modal" aria-hidden="true" aria-labelledby="feedbackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered widthadjuster" style="justify-content: center">
        <div class="modal-content" style="width: 35rem">
            <div class="modal-header" style="padding: 10px; flex-direction: column">
                <h4 id="name_of_temp">Available steps to add</h4>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-body" style="padding: 1rem !important">
                <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto; flex-direction: column">
                    <div id="addstepshere" style="width: 100%; display: flex; flex-direction: column;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}


{% block script %}
$(document).ready(function () {
    $('#cdas').removeClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').removeClass('pxp-active');
    $('#cman').removeClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').removeClass('pxp-active');
    $('#pen').removeClass('pxp-active');
    $('#templ').addClass('pxp-active');
    $('#step').removeClass('pxp-active');
})

function addsteptotemp()
{
    $.ajax(
        {
            type:"GET",
            url: "{% url 'employer:get_all_steps' pk=pk pk2=pk2 %}",
                data:{
                },
            success: function( data ) 
            {
                let final_data=JSON.parse(data['info']);
                let inserter=document.getElementById('addstepshere');
                inserter.innerHTML='';
                for(let i=0;i<final_data.length;i++)
                {
                    let div=document.createElement('div');
                    div.setAttribute('class', 'spacematch mt-4')
                    div.setAttribute('style', 'display: flex; justify-content: space-between;')
                    let p=document.createElement('p');
                    p.innerHTML=final_data[i].step_name;
                    div.append(p);
                    let but=document.createElement('button');
                    but.setAttribute('class', 'btn rounded-pill pxp-section-cta')
                    let finalstring='finaladd('+final_data[i].step_id+')'
                    but.setAttribute('onclick', finalstring)
                    but.innerHTML="Add"
                    div.append(but);
                    inserter.append(div);
                }
            }
        })
}

function finaladd(id)
{
    $.ajax(
        {
            type:"POST",
            url: "{% url 'employer:get_all_steps' pk=pk pk2=pk2 %}",
            data:{
                    'step_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function delastep(id)
{
    $.ajax(
        {
            type:"POST",
            url: "{% url 'employer:delastep' pk=pk pk2=pk2 %}",
            data:{
                    'step_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}
{% endblock %}