{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - All interviews</title>
{% endblock %}
{% block content %}

<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h1>Interviews</h1>
    <p class="pxp-text-light">Interviews that are scheduled to evaluate candidates.</p>

    <div class="mt-4 mt-lg-5">
        <div class="row justify-content-between align-content-center">
            <div class="col-auto order-2 order-sm-1">
                <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                    <select class="form-select" name="act">
                        <option value="a">Bulk actions</option>
                        {% comment %} <option>Edit</option> {% endcomment %}
                        <option value="c">Done</option>
                        <option value="b">Delete</option>
                    </select>
                    <button class="btn ms-2" onclick="multiple()">Apply</button>
                </div>
            </div>
            <div class="col-auto order-1 order-sm-2">
                <div class="pxp-company-dashboard-jobs-search mb-3">
                    <div class="pxp-company-dashboard-jobs-search-results me-3">{{ count }} Interviews</div>
                    <div class="pxp-company-dashboard-jobs-search-search-form">
                        <div class="input-group">
                            <span class="input-group-text" style="background: white"><span class="fa fa-search"></span></span>
                            <input type="text" class="form-control" placeholder="Search interviews..." id="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" onClick="toggle(this)" class="form-check-input" name="all"></th>
                        <th style="width: 15%;">Name</th>
                        <th style="width: 15%;">Date<span class="fa fa-angle-up ms-3"></span></th>
                        <th style="width: 15%;">Link</th>
                        <th style="width: 15%;">Status</th>
                        <th style="width: 15%;">Actions</th>
                        <th style="width: 15%;">&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in pe %}
                    <tr>
                        <td><input type="checkbox" name="chek" class="form-check-input" value={{ i.int_id }}></td>
                        <td>
                            <a href="#">
                                <div class="pxp-company-dashboard-job-title" id="pxp-candidate-modal-button" data-bs-target="#pxp-candidate-modal" data-bs-toggle="modal" onclick="candidatemodal('{{i.user_id}}')">{{ i.name }}</div>
                            </a>
                        </td>
                        <td><div class="pxp-company-dashboard-job-date mt-1">{{ i.date }}</div></td>
                        <td><a href={{i.link}} target="_blank" class="pxp-company-dashboard-job-date mt-1">{{ i.link }}</div></td>
                        {% if i.isdone == 1 %}
                        <td><div class="pxp-company-dashboard-job-status"><span class="badge rounded-pill bg-success">Done</span></div></td>
                        {% else %}
                        <td><div class="pxp-company-dashboard-job-status"><span class="badge rounded-pill bg-secondary">Pending</span></div></td>
                        {% endif %}
                        <td>
                            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto">

                            <select id="selectAction" class="form-select randomselect" name="action_with_option_{{i.int_id}}" onchange="selectChange({{i.int_id}})">
                                <option value="" disabled selected>--Select--</option>
                                <option value="a">Feedback Info</option>
                                {% if i.isdone == 1%}
                                    <option value="b">Give Feedback</option>
                                {% endif %}
                                <option value="c">Request Interview Panel</option>
                                <option value="d">Mark Done</option>
                                <option value="e">Delete Interview</option>
                            </select>
                            </div>
                        </td>
                        <td>
                            <div class="pxp-dashboard-table-options">
                                <ul class="list-unstyled">
                                    {% if i.isdone == 1%}
                                        <li>
                                            <a title="Give Feedback" href="{% url 'main:give_feedback' i.int_id %}" target="_blank">
                                                <button>
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                                            <path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c-4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"/>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li><button title="Feedback Info" onclick="feedb({{i.int_id}})" href="#" data-bs-target="#pxp-feedback-modal" data-bs-toggle="modal"><span class="fa fa-eye"></span></button></li>
                                    {% if i.is_req == 0%}
                                    <li><button title="Request Interview Panel From Mpower" onclick="panReq('{{i.int_id}}')"><span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><path d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z"/></svg></span></button></li>
                                    {% elif i.is_req == 1 %}
                                    <li><button title="Interview panel requested" ><span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512" fill="green"><path d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z"/></svg></span></button></li>
                                    {% endif %}
                                    <li><button title="Done" onclick="done('{{i.int_id}}')" style="color: {% if i.isdone == 1 %}green{% endif %};"><span class="fa fa-check"></span></button></li>
                                    <input style="display: none" value={{i.int_id}}>
                                    <li><button title="Delete" onclick="delint({{i.int_id}})"><span class="fa fa-trash-o"></span></button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                <div class="col-auto">
                    <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                        <ul class="pagination pxp-pagination">
                            {% if count >= 11 %}
                            {% if pe.has_previous %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.number|add:'-4' > 1 %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in pe.paginator.page_range %}
                                {% if pe.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span style="padding: 0.7rem" class="page-link">{{pe.number}}</span>
                                    </li>
                                {% elif i > pe.number|add:'-5' and i < pe.number|add:'5' %}
                                    {% if GET_params %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if pe.paginator.num_pages > pe.number|add:'4' %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.has_next %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.next_page_number }}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.next_page_number}}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-auto">
                    {% comment %} <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade pxp-user-modal" id="pxp-test-modal" aria-hidden="true" aria-labelledby="testModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered widthadjuster">
        <div class="modal-content">
            <div class="modal-body" style="padding: 1rem !important">
                <section>
                    <div class="pxp-container">
                        <div class="pxp-single-job-content pxp-has-columns" style="margin-top: 0px">
                            <div class="row">
                                <div class="col-lg-7 col-xl-8 col-xxl-9">
                                    <div class="row justify-content-between align-items-center mt-4 mt-lg-5">
                                        <div class="col-xl-8 col-xxl-6">
                                            <h1 id="name3"></h1>
                                        </div>
                                    </div>
        
                                    <div class="pxp-single-job-content-details mt-4 mt-lg-5" id="questions">
                                        <div id="ind">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-xl-4 col-xxl-3">
                                    <div class="pxp-single-job-side-panel mt-5 mt-lg-0">
                                        <div>
                                            <div class="pxp-single-job-side-info-label pxp-text-light">Time Limit</div>
                                            <div class="pxp-single-job-side-info-data" id="timelimit"></div>
                                        </div>
                                        <div class="mt-4">
                                            <div class="pxp-single-job-side-info-label pxp-text-light">Created Date</div>
                                            <div class="pxp-single-job-side-info-data" id="created_date"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>        
            </div>
        </div>
    </div>
</div>


<div class="modal fade pxp-user-modal" id="pxp-feedback-modal" aria-hidden="true" aria-labelledby="feedbackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered widthadjuster" style="justify-content: center">
        <div class="modal-content" style="width: 35rem">
            <div class="modal-header" style="padding: 10px">
                <h3 id="user_name2"></h3>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-body" style="padding: 1rem !important">
                <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto; flex-direction: column">
                    <div id="feedback_link">
                    </div>
                </div>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-header" style="padding: 10px">
                <p id="descri"></p>
            </div>
            <hr style="margin: 0px" />
            <div class="modal-header" style="padding: 10px" id="already_feedback">
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

$(document).ready(function () {
    $('#cdas').removeClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').removeClass('pxp-active');
    $('#cman').removeClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').addClass('pxp-active');
    $('#pen').removeClass('pxp-active');
})


var $rows = $('#table tbody tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

$("[name='chek']").change(function(){
    let a=0;
    checkboxes = document.getElementsByName('chek');
    let n=checkboxes.length
    for(let i=0;i<n;i++) {
      if(checkboxes[i].checked==false)
      {
        a=a+1;
      }
    }
    if(a==0)
    {
        $("[name=all]").prop('checked', true);
    }
    else
    {
        $("[name=all]").prop('checked', false);
    }
})

function toggle(source) {
    checkboxes = document.getElementsByName('chek');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
}

function panReq(id){
    $.ajax(
        {
            type:"POST",
            url: "{% url 'employer:panel_request' pk %}",
            data:{
                    'int_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function delint(id)
{
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'int_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function multiple()
{
    let action=$("[name='act']").val();
    if(action=='a')
    {
        alert("Please select an appropriate action")
        return;
    }
    let ids=[];
    $("[name='chek']:checked").map(function () {
        ids.push(this.value);
    })
    if(ids.length==0)
    {
        if(action=="b")
        {
            alert("Please select at least one of the records to apply delete operation")
        }
        else if(action=="c")
        {
            alert("Please select at least one of the records to apply done operation")
        }
        return;
    }
    let act_val="";
    if(action=="b")
    {
        act_val="delall";
    }
    else if(action=="c")
    {
        act_val="donall";
    }
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'ids': ids,
                    'act': act_val,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function done(id)
{
    $.ajax(
        {
            type:"POST",
            url: "{% url 'employer:done' pk %}",
            data:{
                    'id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload();
            }
    })
}

function selectChange(id)
{
    let nameval="action_with_option_"+id;
    let val_option=$(`[name=${nameval}]`).val();
    
    if(val_option == "a"){
        console.log("a");
        feedb(id);
        var myModal = new bootstrap.Modal(document.getElementById('pxp-feedback-modal'));
        myModal.show();
    }else if(val_option == "b"){
        var currentURL = window.location.origin;
        let urlOpen = currentURL+"/give_feedback/"+id+"/";
        window.open(urlOpen,'_blank');
    }else if(val_option == "c"){
        panReq(id);
    }else if(val_option == "d"){
        done(id);
    }else if(val_option == "e"){
        delint(id);
    }
}

function feedb(id)
{
    $('#already_feedback').text("");
    $.ajax(
        {
            type:"GET",
            url: "{% url "employer:get_link" pk %}",
            data:{
                    'int_id': id
            },
            success: function( data ) 
            {
                if(data['message']=="X")
                {
                    $('#user_name2').text(data['name']);
                    $('#feedback_link').text("Interview must be completed before giving feedback!");
                }
                else
                {
                    $('#user_name2').text(data['name']);
                    $('#feedback_link').html('Link: <a href="' + data['url'] + '" target="_blank">' + data['url'] + '</a>');
                    $('#descri').text("Please share this link with other panel members of the interview for feedback");
                    $('#already_feedback').text("");
                    let mainsec=document.getElementById('already_feedback');
                    let ul=document.createElement('ul');
                    let info=data['info'];
                    if(info[0]==false)
                    {
                        if(info[1]==false)
                        {
                            return;
                        }
                    }
                    else
                    {
                        let li=document.createElement('li');
                        li.innerHTML="Feedback by candidate: "+info[0];
                        ul.append(li);
                        if(info[1]==false)
                        {
                            return;
                        }
                    }
                    let li2=document.createElement('li');
                    li2.innerHTML="Feedback given by panel members: "
                    ul.append(li2);
                    for(let i=1;i<info.length;i++)
                    {
                        li2=document.createElement('li');
                        li2.innerHTML=info[i][0]+" : "+info[i][1];
                        ul.append(li2);
                    }
                    mainsec.append(ul);
                }
            }
    })
}

{% endblock %}