{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - Manage jobs</title>
<!-- <script src="https://kit.fontawesome.com/89f2006c37.js" crossorigin="anonymous"></script> -->

{% endblock %}
{% block content %}
<style>
    .file-link {
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    max-width: 200px;   

  }
</style>

<div class="pxp-dashboard-content-details">
    <h1>Manage Jobs</h1>
    <p class="pxp-text-light">Detailed list with all your job offers.</p>

    <div class="mt-4 mt-lg-5">
        <div class="row justify-content-between align-content-center">
            <div class="col-auto order-2 order-sm-1">
                <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                    <select class="form-select" name="act">
                        <option value="a">Bulk actions</option>
                        {% comment %} <option>Edit</option> {% endcomment %}
                        <option value="b">Delete</option>
                    </select>
                    <button class="btn ms-2" onclick="multiple()">Apply</button>
                </div>
            </div>
            <div class="col-auto order-1 order-sm-2">
                <div class="pxp-company-dashboard-jobs-search mb-3">
                    <div class="pxp-company-dashboard-jobs-search-results me-3">{{ count }} Jobs</div>
                    <div class="pxp-company-dashboard-jobs-search-search-form">
                        <div class="input-group">
                            <span class="input-group-text" style="background: white"><span class="fa fa-search"></span></span>
                            <input type="text" class="form-control" placeholder="Search jobs..." id="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" onClick="toggle(this)" class="form-check-input" name="all"></th>
                        <th style="width: 25%;">Job</th>
                        <th style="width: 20%;">Category</th>
                        <th style="width: 12%;">Type</th>
                        <th style="width: 15%;">Applications</th>
                        <th>Date<span class="fa fa-angle-up ms-3"></span></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in pe %}
                    <tr>
                        <td><input type="checkbox" name="chek" class="form-check-input" value={{ i.jobid }}></td>
                        <td>
                            <a href="#">
                                <div class="pxp-company-dashboard-job-title" onclick="loadermodal('{{i.jobid}}')" data-bs-target="#pxp-job-modal" data-bs-toggle="modal">{{ i.title }}</div>
                                <div class="pxp-company-dashboard-job-location"><span class="fa fa-globe me-1"></span>{{ i.location }}</div>
                            </a>
                        </td>
                        <td><div class="pxp-company-dashboard-job-category">{{ i.fnarea }}</div></td>
                        <td><div class="pxp-company-dashboard-job-type">{{ i.jobtype }}</div></td>
                        <td><a href="{% url 'employer:candidates' pk %}" class="pxp-company-dashboard-job-applications">{{ i.num }} Candidates</a></td>
                        <td>
                            <div class="pxp-company-dashboard-job-status"><span class="badge rounded-pill bg-success">Published</span></div>
                            <div class="pxp-company-dashboard-job-date mt-1">{{ i.postdate }}</div>
                        </td>
                        <td>
                            <div class="pxp-dashboard-table-options">
                                <ul class="list-unstyled">
                                    <li><button title="Edit" id="pxp-exp-modal-button" data-bs-target="#pxp-edit-modal" data-bs-toggle="modal" onclick="expmodal('{{i.jobid}}')"><span class="fa fa-pencil"></span></button></li>
                                    <li><button onclick="loadermodal('{{i.jobid}}')" data-bs-target="#pxp-job-modal" data-bs-toggle="modal" title="Preview"><span class="fa fa-eye"></span></button></li>
                                    <input style="display: none" value={{i.jobid}}>
                                    <li><button title="Delete" onclick="delfav({{i.jobid}})"><span class="fa fa-trash-o"></span></button></li>
                                    {% if i.status == 5 %}
                                    <li><button title="Suggestions Pending" ><span class="fa fa-users" style="color:orange;"></span></button></li>
                                    {% elif i.status == 4 %}
                                    <li><button title="Suggestions Provided" onclick="redirectToJobPage('{{i.jobid}}')"><span class="fa fa-users" style="color:green"></span></button></li>
                                    {% else %}
                                    <li><button title="Get Suggestions" onclick="suggest('{{i.jobid}}')"><span class="fa fa-users" ></span></button></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                <div class="col-auto">
                    <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                        <ul class="pagination pxp-pagination">
                            {% if count >= 6%}
                            {% if pe.has_previous %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.previous_page_number}}" class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.number|add:'-4' > 1 %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'-5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% for i in pe.paginator.page_range %}
                                {% if pe.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span style="padding: 0.7rem" class="page-link">{{pe.number}}</span>
                                    </li>
                                {% elif i > pe.number|add:'-5' and i < pe.number|add:'5' %}
                                    {% if GET_params %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% else %}
                                    <li class="page-item"><a style="padding: 0.7rem" href="?page={{ i }}" class="page-link">{{i}}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if pe.paginator.num_pages > pe.number|add:'4' %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{ pe.number|add:'5' }}" class="page-link">&hellip;</a></li>
                                {% endif %}
                            {% endif %}

                            {% if pe.has_next %}
                                {% if GET_params %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?{{GET_params.urlencode}}&amp;page={{ pe.next_page_number }}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% else %}
                                <li class="page-item"><a style="padding: 0.7rem" href="?page={{pe.next_page_number}}" class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-auto">
                    {% comment %} <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade pxp-user-modal" id="pxp-edit-modal" aria-hidden="true" aria-labelledby="expModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 70vw; padding: 15px 15px !important">
                <div class="pxp-dashboard-content-details" style="margin-right:0px; box-shadow: none; padding: 0px">
                    <form enctype="multipart/form-data">
                        <div class="row mt-4 mt-lg-5">
                            <div class="col-xxl-6">
                                <div class="mb-3">
                                    <label for="pxp-company-job-title" class="form-label">Job title</label>
                                    <input type="text" id="pxp-company-job-title" class="form-control" placeholder="Add title" name="title">
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <label for="pxp-company-job-location" class="form-label">Location</label>
                                <input type="text" id="pxp-company-job-location" class="form-control" placeholder="E.g. San Francisco, CA" name="location">
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-category" class="form-label">Category</label>
                                    <select id="pxp-company-job-category" class="form-select" name="fnarea">
                                        {% for i in roledetails %}
                                            <option>{{ i.role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                
                        <div class="mb-3">
                            <label for="pxp-company-job-description" class="form-label">Job description</label>
                            <textarea class="form-control" id="pxp-company-job-description" placeholder="Type the description here..." name="description"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="pxp-company-job-description" class="form-label">Skills</label>
                            <textarea class="form-control" id="pxp-company-job-description" placeholder="Type the skills here..." name="skills"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="pxp-company-job-description" class="form-label">Responsibilities</label>
                            <textarea class="form-control" id="pxp-company-job-description" placeholder="Type the responsibilities here..." name="responsibilities"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="pxp-company-job-description" class="form-label">Requirements</label>
                            <textarea class="form-control" id="pxp-company-job-description" placeholder="Type the requirements here..." name="requirements"></textarea>
                        </div>
                
                        <div class="row">
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-experience" class="form-label">Experience</label>
                                    <input type="text" id="pxp-company-job-experience" class="form-control" placeholder="E.g. Minimum 3 years" name="experience">
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-level" class="form-label">Career level</label>
                                    <select id="pxp-company-job-level" class="form-select" name="careerlevel">
                                        <option>No Experience</option>
                                        <option>Entry-Level</option>
                                        <option>Mid-Level</option>
                                        <option>Senior-Level</option>
                                        <option>Manager / Executive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-type" class="form-label">Employment type</label>
                                    <select id="pxp-company-job-type" class="form-select" name="jobtype">
                                        <option>Full Time</option>
                                        <option>Part Time</option>
                                        <option>Remote</option>
                                        <option>Internship</option>
                                        <option>Contract</option>
                                        <option>Training</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-salary" class="form-label">Salary range</label>
                                    <div class="input-group">
                                        <input type="text" id="salary-input" class="form-control" placeholder="₹1-₹3" name="basicpay" style="width:60%;">
                                        <select id="pxp-company-job-salary" class="form-select" name="basicpaySuffix" style="width:40%;">
                                            <option value="Lakh">Lakh</option>
                                            <option value="Crore">Crore</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-salary" title = "Upload Job Description"class="form-label job-label">Job Description</label>
                                    <input type="file" id="pxp-candidate-cover-choose-file2" accept="application/pdf" name="jobDescriptionFile">
                                    <label for="pxp-candidate-cover-choose-file2" id="pxp-cover-hover"class="pxp-cover" style="height:7.3vh;"><span class="spanJobDesc">Upload Job Description (size < 2MB)</span></label>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="mb-3">
                                    <label for="pxp-company-job-description" title = "Job Description file"class="form-label preview-label">Previous File</label>
                                    <a href="#" target="_blank"  id="pxp-company-job-description" class="form-control btn btn-primary file-link pxp-cover"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <input style="display: none" name="jobidm">
                <button class="btn rounded-pill pxp-subsection-cta" onclick="jobmodalsub()">Edit Job</button>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block script %}
$(document).ready(function () {
    $('#cdas').removeClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').removeClass('pxp-active');
    $('#cman').addClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').removeClass('pxp-active');
    $('#pen').removeClass('pxp-active');
    $('#templ').removeClass('pxp-active');
    $('#step').removeClass('pxp-active');
})

var $rows = $('#table tbody tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});

$("[name='chek']").change(function(){
    let a=0;
    checkboxes = document.getElementsByName('chek');
    let n=checkboxes.length
    for(let i=0;i<n;i++) {
      if(checkboxes[i].checked==false)
      {
        a=a+1;
      }
    }
    if(a==0)
    {
        $("[name=all]").prop('checked', true);
    }
    else
    {
        $("[name=all]").prop('checked', false);
    }
})
function suggest(id){
    console.log(id);
    $.ajax({
        type:"POST",
        url:"{% url 'employer:suggest' pk %}",
        data:{
            'jobid': id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            console.log(data);
            //let datamessage=JSON.parse(data['message']);
            //console.log(data.message);
            //alert(data.message);
            location.reload()
        }
    })
    setTimeout(function() {
        location.reload();
    }, 500);
}
function redirectToJobPage(id) {
    if(id){
        var url = '{% url "employer:cand_suggest" pk%}?job_id=' + id;
        window.location.href = url;
    }
}
function delfav(id)
{
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'job_id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function multiple()
{
    let action=$("[name='act']").val();
    if(action=='a')
    {
        alert("Please select an appropriate action")
        return;
    }
    let ids=[];
    $("[name='chek']:checked").map(function () {
        ids.push(this.value);
    })
    if(ids.length==0)
    {
        alert("Please select at least one of the records to apply delete operation")
        return;
    }
    $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                    'ids': ids,
                    'act': "delall",
                    csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload()
            }
    })
}

function toggle(source) {
    checkboxes = document.getElementsByName('chek');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = source.checked;
    }
  }

  function expmodal(id)
  {
      $.ajax(
      {
          type:"GET",
          url: "{% url 'employer:edit_job' pk=pk %}",
          data:{
                  jobid: id
          },
          success: function( data ) 
          {
            $('.spanJobDesc').text("Upload Job Description (size < 2MB)");
          $('[name="jobidm"]').val(JSON.parse(data['info'])[0].jobid);
          $('[name="title"]').val(JSON.parse(data['info'])[0].title);
          $('[name="location"]').val(JSON.parse(data['info'])[0].location);
          $('[name="fnarea"]').val(JSON.parse(data['info'])[0].fnarea);
          $('[name="fnarea"] option[value="' + JSON.parse(data['info'])[0].fnarea + '"]').prop('selected', true);
          $('[name="description"]').val(JSON.parse(data['info'])[0].jobdesc);
          $('[name="experience"]').val(JSON.parse(data['info'])[0].experience);
          $('[name="careerlevel"]').val(JSON.parse(data['info'])[0].careerlevel);
          //$('[name="jobtype"]').val(JSON.parse(data['info'])[0].jobtype);
          $('[name="basicpay"]').val(JSON.parse(data['info'])[0].basicpay);
            const basicpayValue = JSON.parse(data['info'])[0].basicpay;
            if (basicpayValue.includes('Crore')) {
                $('#pxp-company-job-salary').val('Crore');
                const newValue = basicpayValue.replace('Crore', '').trim();
                $('[name="basicpay"]').val(newValue);
            } else if (basicpayValue.includes('Lakh')) {
                $('#pxp-company-job-salary').val('Lakh');
                const newValue = basicpayValue.replace('Lakh', '').trim();
                $('[name="basicpay"]').val(newValue);
            }
          $('[name="skills"]').val(JSON.parse(data['info'])[0].skills);
          $('[name="responsibilities"]').val(JSON.parse(data['info'])[0].responsibilities);
          $('[name="requirements"]').val(JSON.parse(data['info'])[0].requirements);
          $('.file-link').attr('href', "/media/"+JSON.parse(data['info'])[0].job_desc);
          if (JSON.parse(data['info'])[0].job_desc !== null) {
            var filename = JSON.parse(data['info'])[0].job_desc;
            console.log(filename);
            var file_name = filename.split('/').pop();
            var final_file_name = file_name.split('_').pop();
            $('.file-link').show();
            $('.preview-label').show();
            $('.file-link').text(final_file_name);
            $('.spanJobDesc').text(final_file_name);
            
            $('.file-link').attr('href', "/media/"+JSON.parse(data['info'])[0].job_desc); 
          } else {
            $('.preview-label').hide();
            $('.file-link').hide();
          }
          

      }
      })
  }
  
  function jobmodalsub() {
    var formData = new FormData();
    var jobDescriptionFileInput = $('[name="jobDescriptionFile"]')[0];

    formData.append('jobid', $('[name="jobidm"]').val());
    formData.append('title', $('[name="title"]').val());
    formData.append('location', $('[name="location"]').val());
    formData.append('fnarea', $('[name="fnarea"]').val());
    formData.append('description', $('[name="description"]').val());
    formData.append('experience', $('[name="experience"]').val());
    formData.append('careerlevel', $('[name="careerlevel"]').val());
    formData.append('jobtype', $('[name="jobtype"]').val());
    formData.append('basicpay', $('[name="basicpay"]').val());
    formData.append('basicpaySuffix', $('[name="basicpaySuffix"]').val());
    formData.append('skills', $('[name="skills"]').val());
    formData.append('responsibilities', $('[name="responsibilities"]').val());
    formData.append('requirements', $('[name="requirements"]').val());
    formData.append('jobDescriptionFile', jobDescriptionFileInput.files[0]);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    $.ajax({
        type: "POST",
        url: "{% url 'employer:edit_job' pk=pk %}",
        data: formData,
        processData: false,  // Don't process the data
        contentType: false,  // Don't set content type
        success: function(data) {
            alert("Data updated successfully");
            window.location.reload();
        }
    });
}
  



{% endblock %}