{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - New job offer</title>
<style>
    .invalid-field {
        border: 1px solid red;
    }

    .invalid-label:after {
        content: " *";
        color: red;
    }
    #pxp-cover-hover {
    border-radius: 1rem !important;
    background-color: white;
    width: 100%;
    height: 7.3vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }


  #pxp-cover-hover:hover {
    border: 1.5px dashed grey;
  }
  .popup {
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; 
}

.popup-content {
    min-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-height: 80%; 
    overflow-y: auto; 
}


#close-popup {
    margin-top: 10px;
}
.pxp-company-dashboard-job-percent{
    font-size: 12px;
    font-weight: 500;
}


.suggestions-container {
  max-height: 100px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  display: none;
}

.suggestion {
  cursor: pointer;
  padding: 5px;
}

.suggestion:hover {
  background-color: #f0f0f0;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}
{% block content %}


<div class="pxp-dashboard-content-details">
    <h1>New Job Offer</h1>
    <p class="pxp-text-light">Add a new job to your company's jobs list.</p>

    <form method="post" enctype="multipart/form-data" id="job-offer-form">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-xxl-6">
                <div class="mb-3">
                    <label for="pxp-company-job-title" class="form-label">Job title</label>
                    <input type="text" id="pxp-company-job-title" class="form-control" placeholder="Add title" name="title" required minlength="5" maxlength="100">
                </div>
            </div>
            <!-- <div class="col-md-6 col-xxl-3">
                <label for="pxp-company-job-location" class="form-label">Location</label>
                <input type="text" id="pxp-company-job-location" class="form-control" placeholder="E.g. San Francisco, CA" name="location" required minlength="5" maxlength="200">
            </div> -->
            <!-- <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-location" class="form-label">City</label>
                    <select id="pxp-company-job-location" class="" name="city">
                        
                    </select>
                </div>
            </div> -->
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-location" class="form-label">Location</label>
                    <select id="pxp-company-job-location" class="form-select notnormal" name="location">
                        {% for i in cities %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-category" class="form-label">Category</label>
                    <select id="pxp-company-job-category" class="form-select notnormal" name="fnarea">
                        {% for i in roledetails %}
                        <option>{{ i.role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="pxp-company-job-description" class="form-label">Job description</label>
            <textarea class="form-control" id="pxp-company-job-description" placeholder="Type the description here..." name="description" minlength=150 required maxlength="700"></textarea>
            <p id="char-count">0/700</p>
        </div>

        <!-- <div class="mb-3">
            <label for="pxp-company-job-skills" class="form-label">Skills</label>
            <textarea class="form-control" id="pxp-company-job-skills" placeholder="Type the skills here..." name="skills" minlength=50 required maxlength="700"></textarea>
        </div> -->
        
        {% comment %} <div class="mb-3">
            <label for="pxp-company-job-Responsibilities" class="form-label">Responsibilities</label>
            <textarea class="form-control" id="pxp-company-job-Responsibilities" placeholder="Type the responsibilities here..." name="responsibilities" minlength=150 required maxlength="700"></textarea>
            <p id="char-count-1">0/700</p>

        </div>

        <div class="mb-3">
            <label for="pxp-company-job-Requirements" class="form-label">Requirements</label>
            <textarea class="form-control" id="pxp-company-job-Requirements" placeholder="Type the requirements here..." name="requirements" minlength=150 required maxlength="700"></textarea>
            <p id="char-count-2">0/700</p>

        </div> {% endcomment %}

        <div class="row">
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-experience" class="form-label">Experience</label>
                    <input type="number" id="pxp-company-job-experience" class="form-control" placeholder="E.g. Minimum 3 years" name="experience" required minlength="1" maxlength="100">
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-level" class="form-label">Career level</label>
                    <select id="pxp-company-job-level" class="form-select" name="careerlevel">
                        <option>No Experience</option>
                        <option>Entry-Level</option>
                        <option>Mid-Level</option>
                        <option>Senior-Level</option>
                        <option>Manager / Executive</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-type" class="form-label">Employment type</label>
                    <select id="pxp-company-job-type" class="form-select" name="jobtype">
                        <option>Full Time</option>
                        <option>Part Time</option>
                        <option>Remote</option>
                        <option>Internship</option>
                        <option>Contract</option>
                        <option>Training</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-salary" class="form-label">Salary range</label>
                    <div class="input-group">
                        <input type="text" id="salary-input" class="form-control" placeholder="₹1-₹3" name="basicpay" style="width:60%;">
                        <select id="pxp-company-job-salary" class="form-select" name="basicpaySuffix" style="width:40%;">
                            <option value="Lakh">Lakh</option>
                            <option value="Crore">Crore</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-salary" title = "Upload Job Description"class="form-label">Job Description</label>
                    <input type="file" id="pxp-candidate-cover-choose-file2" accept="application/pdf" name="jobDescriptionFile">
                    <label for="pxp-candidate-cover-choose-file2" id="pxp-cover-hover"class="pxp-cover" ><span>Upload Job Description (size < 2MB)</span></label>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-type" class="form-label">Skills</label>
            
            <!-- <div class="wrapper">
                <div class="container"> -->
                    <div class="form-group">
                      <select multiple placeholder="  Choose skills" name="skills" class="notnormal">
                        {% for i in allskills %}
                        <option>{{ i.skill }}</option>
                        {% endfor %}
                      </select>
                    </div>
                <!-- </div>
            </div> -->
            </div>
            </div>
            
           <!--<div class="col-md-6 col-xxl-3">
                <div class="mb-3">
                    <label for="pxp-company-job-salary" title = "Request candidates also from mpower admin"class="form-label">Request candidates</label>
                    <select id="pxp-company-job-salary" class="form-select" name="reqCand">
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                </div>
            </div>-->
            <div class="col-md-6 col-xxl-3" style="display: none;">
                <div class="mb-3">
                    <label for="pxp-company-job-match" class="form-label">Match Percentage</label>
                    <input type="text" id="pxp-company-job-match" class="form-control" placeholder="E.g. 30" name="matchper" required minlength="1" maxlength="100" value="0" style="display: none;">
                </div>
            </div>
            
        </div>


        <div class="mt-4 mt-lg-5">
            <button class="btn rounded-pill pxp-section-cta" id="submit-button">Publish Job</button>
            {% comment %} <button class="btn rounded-pill pxp-section-cta-o ms-3">Save Draft</button> {% endcomment %}
        </div>
    </form>
</div>


<div id="popup" class="popup">
    <div class="popup-content" id="popup-content">
        <div class="d-flex justify-content-end">
            <button id="close-popup" class="btn btn-secondary" onclick="closePopup()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="container mt-5">
            <h5 class="text-primary">Job is posted successfully.</h5>
            <p class="text-muted">Ai is doing it's magic and candidate suggestion will be available soon at Applications tab.</p>
        </div>
        
        <div class="modal-body" style="padding: 1rem !important">
            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto" id="modalOutTable">
                <table class="table table-hover align-middle" id="table">
                    <thead>
                        <tr>
                            {% comment %} <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" onClick="toggle(this)" class="form-check-input" name="all"></th> {% endcomment %}
                            <th>&nbsp;</th>
                            <th style="width: 40%;">Name</th>
                            <th style="width: 30%;">Percentage Score</th>
                            {% comment %} <th style="width: 20%;">Applied for</th>
                            <th style="width: 15%;">Status</th>
                            <th>Date<span class="fa fa-angle-up ms-3"></span></th> {% endcomment %}
                            <th style="width: 30%;">&nbsp;</th>
                        </tr>
                    </thead>
                    
                    
                    <tbody id="tableBody">
         
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="spinner-border text-primary" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="modal fade" id="screeningQuestionsModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> 
        <div class="modal-content" style="padding: 20px;"> 
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="popupModalLabel">Screening Questions</h5>
            </div>
            <div class="modal-body">
                <form id="screeningQuestionsForm">
                    <div id="questionsContainer">
                        <label for="question1">Question 1:</label>
                        <div id="suggestionsContainer1" class="suggestions-container"></div>
                        <textarea id="question1" name="question1" class="form-control" style="width: 100%;" placeholder="Tell us something about yourself...." class="text-area-with-suggestions"></textarea><br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="addQuestionButton" type="button">Add Question</button>
                        <button class="btn btn-primary" id="screeningQuestionsSubmit" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    const textarea = document.getElementById("pxp-company-job-description");
    //const textareaA = document.getElementById("pxp-company-job-Responsibilities");
    //const textareaB = document.getElementById("pxp-company-job-Requirements");

    const charCount = document.getElementById("char-count");
    const charCount1 = document.getElementById("char-count-1");
    const charCount2 = document.getElementById("char-count-2");

    textarea.addEventListener("input", function () {
        updateCharCount(textarea, charCount);
    });
    //textareaA.addEventListener("input", function () {
    //    updateCharCount(textareaA, charCount1);
    //});

    //textareaB.addEventListener("input", function () {
    //    updateCharCount(textareaB, charCount2);
    //});

    function updateCharCount(textArea, charCountElement) {
        const currentText = textArea.value;
        const numberOfCharacters = currentText.length;
        if (numberOfCharacters < 150) {
            charCountElement.style.color = "red";
            charCountElement.textContent = `Minimum 150 characters are required ${numberOfCharacters}/700`;
        } else {
            charCountElement.style.color = "green";
            charCountElement.textContent = ` ${numberOfCharacters}/700`;
        }
    }
</script>

<script>
    function AddSuggestionHideTimer(questionNode){
        let timeout;
        return function () {
          const suggestionsContainer = questionNode.querySelector('#suggestionsContainer');
          if (!suggestionsContainer) return;
          clearTimeout(timeout);
          timeout = setTimeout(function () {
            suggestionsContainer.style.display = 'none';
          }, 100); 
        };
    }
    
    function suggestionContainerSetupQuestion(questionNode, questionInput){
        questionNode.querySelector('#suggestionsContainer').addEventListener('click', function (event) {
          if (event.target.classList.contains('suggestion')) {
            questionInput.value = event.target.textContent;
            this.style.display = 'none';
            this.innerHTML = '';
          }
        });
    }
    
    
    const suggestions1 = [
        "Explain a complex software problem you encountered and how you resolved it.",
        "Discuss your preferred programming languages and their applications in your projects.",
        "Describe your experience with different software development methodologies (Agile, Scrum, etc.).",
        "Can you explain your approach to debugging and troubleshooting code issues?",
        "Discuss your experience with version control systems (Git, SVN, etc.) and branching strategies.",
        "Explain your familiarity with various software testing approaches (unit testing, integration testing, etc.).",
        "Describe your process for ensuring the security of software applications or systems.",
        "Discuss your involvement in designing scalable and efficient software architectures.",
        "How do you stay updated with the latest technologies and trends in software development?",
        "Explain your approach to code reviews and their importance in the development process.",
        "Discuss your experience in designing RESTful APIs or microservices architecture.",
        "Describe your familiarity with cloud platforms and services (AWS, Azure, etc.).",
        "Can you explain your role in the deployment and monitoring of software applications?",
        "Discuss your experience in optimizing software performance and addressing bottlenecks.",
        "Explain your approach to documentation and knowledge sharing within software teams.",
        "Describe your experience with database design, optimization, and query optimization.",
        "Discuss your involvement in open-source projects or contributions to tech communities.",
        "Explain your familiarity with software design patterns and their application.",
        "Describe a situation where you had to prioritize tasks to meet project deadlines.",
        "Can you discuss your experience with continuous integration and continuous deployment (CI/CD)?",
        "Explain your approach to building user-friendly and intuitive software interfaces.",
        "Discuss your familiarity with data structures and algorithms and their importance in software development.",
        "Describe your involvement in resolving conflicts within a software development team.",
        "How do you ensure software code quality and maintainability in your projects?",
        "Explain your approach to managing technical debt in software development.",
        "Describe your experience with Agile ceremonies (stand-ups, retrospectives, etc.).",
        "Discuss your involvement in building scalable and fault-tolerant distributed systems.",
        "Explain your approach to managing dependencies and third-party libraries in projects.",
        "Describe your experience with performance profiling and optimization of software applications.",
        "Discuss your familiarity with software licensing and intellectual property considerations.",
        "Can you explain your role in mentoring or coaching junior members in software teams?",
        "Explain your approach to conducting codebase refactoring and its importance.",
        "Describe your experience with software requirements gathering and analysis.",
        "Discuss your involvement in addressing scalability challenges in software systems.",
        "How do you approach building software solutions with a focus on user experience?",
        "Explain your familiarity with DevOps practices and their integration into software development.",
        "Describe your experience with designing and implementing fault-tolerant systems.",
        "Discuss your involvement in resolving critical incidents or production issues.",
        "Explain your approach to automated testing and its role in the development lifecycle.",
        "Describe your experience with designing and implementing security measures in software applications.",
        "Describe your role in previous projects...",
      "Highlight project outcomes...",
      "Discuss challenges faced and solutions...",
    ];
    
    
    const suggestions2 = [
    "Explain a complex software problem you encountered and how you resolved it.",
        "Discuss your preferred programming languages and their applications in your projects.",
        "Describe your experience with different software development methodologies (Agile, Scrum, etc.).",
        "Can you explain your approach to debugging and troubleshooting code issues?",
        "Discuss your experience with version control systems (Git, SVN, etc.) and branching strategies.",
        "Explain your familiarity with various software testing approaches (unit testing, integration testing, etc.).",
        "Describe your process for ensuring the security of software applications or systems.",
        "Discuss your involvement in designing scalable and efficient software architectures.",
        "How do you stay updated with the latest technologies and trends in software development?",
        "Explain your approach to code reviews and their importance in the development process.",
        "Discuss your experience in designing RESTful APIs or microservices architecture.",
        "Describe your familiarity with cloud platforms and services (AWS, Azure, etc.).",
        "Can you explain your role in the deployment and monitoring of software applications?",
        "Discuss your experience in optimizing software performance and addressing bottlenecks.",
        "Explain your approach to documentation and knowledge sharing within software teams.",
        "Describe your experience with database design, optimization, and query optimization.",
        "Discuss your involvement in open-source projects or contributions to tech communities.",
        "Explain your familiarity with software design patterns and their application.",
        "Describe a situation where you had to prioritize tasks to meet project deadlines.",
        "Can you discuss your experience with continuous integration and continuous deployment (CI/CD)?",
        "Explain your approach to building user-friendly and intuitive software interfaces.",
        "Discuss your familiarity with data structures and algorithms and their importance in software development.",
        "Describe your involvement in resolving conflicts within a software development team.",
        "How do you ensure software code quality and maintainability in your projects?",
        "Explain your approach to managing technical debt in software development.",
        "Describe your experience with Agile ceremonies (stand-ups, retrospectives, etc.).",
        "Discuss your involvement in building scalable and fault-tolerant distributed systems.",
        "Explain your approach to managing dependencies and third-party libraries in projects.",
        "Describe your experience with performance profiling and optimization of software applications.",
        "Discuss your familiarity with software licensing and intellectual property considerations.",
        "Can you explain your role in mentoring or coaching junior members in software teams?",
        "Explain your approach to conducting codebase refactoring and its importance.",
        "Describe your experience with software requirements gathering and analysis.",
        "Discuss your involvement in addressing scalability challenges in software systems.",
        "How do you approach building software solutions with a focus on user experience?",
        "Explain your familiarity with DevOps practices and their integration into software development.",
        "Describe your experience with designing and implementing fault-tolerant systems.",
        "Discuss your involvement in resolving critical incidents or production issues.",
        "Explain your approach to automated testing and its role in the development lifecycle.",
        "Describe your experience with designing and implementing security measures in software applications.",
        "Describe your role in previous projects...",
      "Highlight project outcomes...",
      "Discuss challenges faced and solutions...",
    ];
    
    function onQuestionInputChange(questionNode){
        return function () {
          const inputText = this.value.trim();
          let suggestionsContainer = questionNode.querySelector('#suggestionsContainer');
          suggestionsContainer.innerHTML = '';
        
          suggestions1.forEach(suggestion => {
            if (suggestion.toLowerCase().includes(inputText.toLowerCase())) {
              const suggestionElement = document.createElement('div');
              suggestionElement.classList.add('suggestion');
              suggestionElement.textContent = suggestion;
              suggestionsContainer.appendChild(suggestionElement);
              suggestionsContainer.style.display = 'block';
            }
          });
        };
    }
    
    function createQuestionNode(questionId, label, placeholder, parent) {
        const questionDiv = document.createElement(questionId)
        
        // Create label element
        const labelElement = document.createElement('label');
        labelElement.setAttribute('for', questionId);
        labelElement.textContent = label;
    
        questionDiv.append(labelElement)
        
        // Create suggestions container
        const suggestionsContainer = document.createElement('div');
        suggestionsContainer.id = `suggestionsContainer`;
        suggestionsContainer.className = 'suggestions-container';
        questionDiv.append(suggestionsContainer)
        
        // Create textarea element
        const textareaElement = document.createElement('textarea');
        textareaElement.id = `${questionId}-input`;
        textareaElement.name = questionId;
        textareaElement.className = 'form-control text-area-with-suggestions';
        textareaElement.style.width = '100%';
        textareaElement.placeholder = placeholder;
        questionDiv.append(textareaElement)
    
        textareaElement.addEventListener("focusout", AddSuggestionHideTimer(questionDiv))
        textareaElement.addEventListener("input", onQuestionInputChange(questionDiv))
        suggestionContainerSetupQuestion(questionDiv, textareaElement)
    
        parent.appendChild(questionDiv);
    }


    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("pxp-results-modal");
        const spinner = document.getElementById("spinner");
        const closeBtn = document.querySelector(".close");
        const form = document.getElementById("job-offer-form");
        const screeningQuestionsForm = document.getElementById("screeningQuestionsForm");
        const matchPer = document.getElementById("pxp-company-job-match");
        let questionsLength = 1
        const questionIds = new Array()
        
        form.addEventListener("submit", function (event) {
            $('#screeningQuestionsSubmit').prop('disabled', false);

            let i = 0;
            // showPopup();
            event.preventDefault();
            $('#screeningQuestionsModal').modal('show');

            
            questionIds.length = 0
            questionsLength = 1
            const questionContainer = document.getElementById("questionsContainer")
            const addquestionButton = document.getElementById("addQuestionButton")
            questionContainer.innerHTML = ""

            createQuestionNode(`question-${questionsLength}`,`Question ${questionsLength}`, "Your first question", questionContainer)
            questionIds.push(`question-${questionsLength}`)
            
            addquestionButton.onclick = function (e) {
                e.stopPropagation();
                questionsLength++;
                createQuestionNode(`question-${questionsLength}`,`Question ${questionsLength}`, "Your next question", questionContainer)
                questionIds.push(`question-${questionsLength}`)
            };
            
            screeningQuestionsForm.addEventListener("submit", function (e) {
                e.preventDefault();

                const originalFormData = new FormData(form);
                const modalForm = new FormData(e.target)
                const finalQuestionsArray = []

                for (let fieldId of questionIds){
                    const value = modalForm.get(fieldId)
                    if (!value){
                        continue
                    }
                    finalQuestionsArray.push(value)
                }
                originalFormData.append("questions", finalQuestionsArray)
                $('#screeningQuestionsSubmit').prop('disabled', true);


            
            $.ajax(
                {
                    type:"POST",
                    url: form.action,
                    data: originalFormData,
                    processData: false,
                    contentType: false,
                    success: function( data ) 
                    {
                        $('#screeningQuestionsModal').modal('hide');
                        showPopup();
                        console.log(data);
                        let candidates=JSON.parse(data['candidates']);
                        var tbody = document.getElementById("tableBody");
                        // console.log(matchPer.value+" "+candidates[0].score);
                        if(matchPer.value>candidates[0].score){
                            
                            var modalBody = document.getElementById("popup-content");

                            var h4 = document.createElement("h4");
                            h4.textContent = "No suitable canddiates found above "+matchPer.value+"%";
                            var h5 = document.createElement("h5");
                            h5.textContent = "Highest is "+candidates[0].score+"%, lower the match percentage";
                            var input = document.createElement("input");
                            input.setAttribute('name','matchPerAgain');
                            input.setAttribute('id','matchPerAgain');
                            input.setAttribute('type','text');
                            input.setAttribute('class','form-control');
                            input.setAttribute('placeholder','Eg. 30');
                            var btn = document.createElement("button");
                            btn.setAttribute('class','btn btn-primary');
                            let onfunc='matchPerChange('+data['jobid']+')';
                            btn.setAttribute('onclick',onfunc);
                            btn.setAttribute('id','matchBtn');
                            btn.textContent = 'Submit';
                            modalBody.appendChild(h4);
                            modalBody.appendChild(h5);
                            modalBody.appendChild(input);
                            modalBody.appendChild(btn);
                        }else{

                        for(i=0;i<10;i++){
                            if(matchPer.value<candidates[i].score){
                            var newRow = document.createElement("tr");
                            var cell1 = document.createElement("td");
                            cell1.setAttribute("width","3%");
                            var div1a = document.createElement("div");
                            div1a.setAttribute('class','pxp-company-dashboard-candidate-avatar pxp-cover');
                            if(candidates[i].photo)
                            {
                                let ans='url(/media/'+candidates[i].photo+')';
                                div1a.style.backgroundImage=ans;
                                cell1.append(div1a);
                            }
                            else
                            {   
                                div1a.style.backgroundImage='url({% static '/images/company-logo-1.png' %})';
                                cell1.append(div1a);
                            }
                            newRow.appendChild(cell1);

                            var cell2 = document.createElement("td");
                            var anc = document.createElement("a");
                            anc.setAttribute('href','#');
                            var div2a = document.createElement("div");
                            div2a.setAttribute('class','pxp-company-dashboard-job-title');
                            div2a.textContent = candidates[i].name;
                            anc.appendChild(div2a);
                            var div2b = document.createElement("div");
                            div2b.setAttribute('class','pxp-company-dashboard-job-location');
                            // div2b.setAttribute('style','var(--pxpTextColor)');
                            div2b.style.color = 'var(--pxpTextColor)';

                            var spa = document.createElement("span");
                            spa.setAttribute('class','fa fa-globe me-1');
                            div2b.appendChild(spa);
                            // div2b.textContent = candidates[i].location;
                            var locationText = document.createTextNode(candidates[i].location);
                            div2b.appendChild(locationText);
                            anc.appendChild(div2b);
                            cell2.appendChild(anc);
                            newRow.appendChild(cell2);


                            var cell3 = document.createElement("td");
                            var div3a = document.createElement("div");
                            div3a.setAttribute('class','pxp-company-dashboard-job-title');
                            div3a.textContent = candidates[i].score;
                            cell3.appendChild(div3a);
                            newRow.appendChild(cell3);

                            var cell4 = document.createElement("td");
                            var div4a = document.createElement("div");
                            div4a.setAttribute('class','pxp-dashboard-table-options');
                            var ul4a = document.createElement("ul");
                            ul4a.setAttribute('class','list-unstyled');
                            var li4a = document.createElement("li");
                            var btn4a = document.createElement("button");
                            btn4a.setAttribute('title','View profile');
                            btn4a.setAttribute('id','pxp-candidate-modal-button');
                            btn4a.setAttribute('data-bs-target','#pxp-candidate-modal');
                            btn4a.setAttribute('data-bs-toggle','modal');
                            let uid='candidatemodal('+candidates[i].user_id+')';
                            btn4a.setAttribute('onclick',uid);
                            btn4a.setAttribute('data-bs-target','#pxp-candidate-modal');
                            var spa4a = document.createElement("span");
                            spa4a.setAttribute('class','fa fa-eye');
                            btn4a.appendChild(spa4a);
                            li4a.appendChild(btn4a);
                            ul4a.appendChild(li4a);
                            div4a.appendChild(ul4a);
                            cell4.appendChild(div4a);
                            newRow.appendChild(cell4);
                            console.log(newRow);

                            console.log(tbody);

                            tbody.appendChild(newRow);
                            console.log(tbody);
                        }
     
                        }
                    }
                        spinner.style.display = 'none';
                    }
                });
            });

        });
        function showPopup() {
            document.getElementById("popup").style.display = "flex";
        }

        function closePopup() {
            var manageJobUrl = "{% url 'employer:manage' pk=pk %}";
            window.location.href = manageJobUrl;
            document.getElementById("popup").style.display = "none";  
        }
        

        document.getElementById("close-popup").addEventListener("click", closePopup);
        
        
        const submitButton = document.getElementById("submit-button");
    
        submitButton.addEventListener("click", function (event) {
            let firstInvalidField = null;

            const fieldsToValidate = [
                document.getElementById("pxp-company-job-title"),
                document.getElementById("pxp-company-job-location"),
                document.getElementById("pxp-company-job-description"),
                // document.getElementById("pxp-company-job-skills"),
                //document.getElementById("pxp-company-job-Responsibilities"),
                //document.getElementById("pxp-company-job-Requirements"),
                document.getElementById("pxp-company-job-experience"),
            ];
            let isValid = true;
            fieldsToValidate.forEach(function (field) {
                const minimumWordCount = parseInt(field.getAttribute("minlength"));
                const maximumWordCount = parseInt(field.getAttribute("maxlength"));
                const fieldValue = field.value.trim();
                const wordCount = fieldValue.length;
                if (wordCount < minimumWordCount || wordCount > maximumWordCount) {
                    field.classList.add("is-invalid"); 
                    field.style.borderColor = "red";
                    isValid = false;
                    if (!firstInvalidField) {
                    firstInvalidField = field;
                    }
                } else {
                    field.classList.remove("is-invalid"); 
                    field.style.borderColor = "";
                }
                
            });
    
            if (!isValid) {
                event.preventDefault(); 
                if (firstInvalidField) {
                    firstInvalidField.scrollIntoView({
                    behavior: "smooth",
                    block: "start",
                });
            }
            }
        });
    });
    </script>
{% endblock content%}

{% block script %}
function matchPerChange(id){
    
    document.getElementById("matchBtn").disabled = true;

    $.ajax(
    {
        type:"POST",
        url: "{% url 'employer:matchPerChange' pk=pk %}",
        data:{
            'job_id': id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            if(data['message'] === 'Success'){
                var tbody = document.getElementById("tableBody");
                var h4 = document.createElement("h4");
                h4.style.color = "green";
                h4.textContent = "updated successfully";
                tbody.appendChild(h4);
            }

        }
    });
}
$(function () {
    $('.notnormal').each(function () {
      $(this).select2({
        theme: 'bootstrap4',
        width: 'style',
        placeholder: $(this).attr('placeholder'),
        allowClear: Boolean($(this).data('allow-clear')),
      });
    });
  });

$(document).ready(function () {
    $('#cdas').removeClass('pxp-active');
    $('#cedi').removeClass('pxp-active');
    $('#cnew').addClass('pxp-active');
    $('#cman').removeClass('pxp-active');
    $('#ccan').removeClass('pxp-active');
    $('#csub').removeClass('pxp-active');
    $('#ccha').removeClass('pxp-active');
    $('#cinb').removeClass('pxp-active');
    $('#cnot').removeClass('pxp-active');
    $('#scn').removeClass('pxp-active');
    $('#qui').removeClass('pxp-active');
    $('#inr').removeClass('pxp-active');
    $('#pen').removeClass('pxp-active');
    $('#templ').removeClass('pxp-active');
    $('#step').removeClass('pxp-active');
})

{% endblock %}