{% extends 'employer-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Company dashboard - Change password</title>
{% endblock %}
{% block content %}


<div class="pxp-dashboard-content-details">
    <h1>Change Password</h1>
    <p class="pxp-text-light">Choose a new account password.</p>

    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-company-old-password" class="form-label">Old password</label>
                    <input type="password" id="pxp-company-old-password" class="form-control" placeholder="Enter old password" name="old">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-company-new-password" class="form-label">New password</label>
                    <input type="password" id="pxp-company-new-password" class="form-control" placeholder="Enter new password" name="new">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-company-new-password-repeat" class="form-label">New password repeat</label>
                    <input type="password" id="pxp-company-new-password-repeat" class="form-control" placeholder="Repeat new password" name="cnew">
                </div>
            </div>
        </div>

        <div class="mt-4 mt-lg-5">
            <button class="btn rounded-pill pxp-section-cta">Save New Password</button>
        </div>
    </form>
</div>

<footer>
    <div class="pxp-footer-copyright pxp-text-light">© 2021 mpower. All Right Reserved.</div>
</footer>
</div>
{% endblock content%}

{% block script %}
$(document).ready(function () {
$('#cdas').removeClass('pxp-active');
$('#cedi').removeClass('pxp-active');
$('#cnew').removeClass('pxp-active');
$('#cman').removeClass('pxp-active');
$('#ccan').removeClass('pxp-active');
$('#csub').removeClass('pxp-active');
$('#ccha').addClass('pxp-active');
$('#cinb').removeClass('pxp-active');
$('#cnot').removeClass('pxp-active');
$('#scn').removeClass('pxp-active');
$('#qui').removeClass('pxp-active');
})

{% endblock %}