{% extends 'emp_base.html' %}

{% block title %}
<title>mpower - Update Employers</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <form class="col-6 mx-auto p-3 card shadow-lg" method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <h2>Update Employer</h2>
        <hr>

        <div class="mb-3">
         <label for="ename" class="form-label">Employer Name</label>
         <input type="text" class="form-control" name="ename" value="{{emp.ename}}">
       </div>

       <div class="mb-3">
         <label for="etype" class="form-label">Employer Industry</label>
         <input type="text" class="form-control" name="etype" value="{{emp.etype}}">
       </div>

       <div class="mb-3">
         <label for="eaddress" class="form-label">Employer Address</label>
         <input type="text" class="form-control" name="address" value="{{emp.address}}">
       </div>

       <div class="mb-3">
         <label for="ephn" class="form-label">Employer Phone no</label>
         <input type="text" class="form-control" name="phone" value="{{emp.phone}}">
       </div>

       <div class="form-group mb-3">
           <label for="logo">Employer logo Image</label>
           <input name="logo" type="file" class="form-control">
       </div>

       <div class="mb-3">
           <label for="website" class="form-label">Employer Website</label>
           <input type="text" class="form-control" name="website" value="{{emp.website}}">
       </div>

       <div class="mb-3">
           <label for="yearfounded" class="form-label">Year Founded</label>
           <input type="number" class="form-control" name="yearfounded" value="{{emp.yearfounded}}">
       </div>
 
       <button type="submit" class="btn btn-primary">Update Employer</button>
     </form>
</div>
{% endblock %}