{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>mpower - Candidate dashboard - Attempt Test</title>
    </head>
<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h1>Test</h1>
    <p class="pxp-text-light">Please answer all the questions.</p>
    <div class="start_btn"><button>Start Test</button></div>
    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Test</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Test while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Test</button>
            <button class="restart">Continue</button>
        </div>
    </div>
    <div class="quiz_box">
        <header>
            <div class="title">{{ name }}</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
            </div>
            <div class="option_list">
            </div>
        </section>
        <footer style="margin-right: 0px; padding: 10px">
            <div class="total_que">
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
        </div>
        <div class="buttons">
            <button class="restart" style="display: none">Replay Quiz</button>
            <button class="quit" style="display: none">Quit Quiz</button>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>

<script>
$(document).ready(function () {
    $('#das').removeClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#tes').addClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
})

let quest={{test|safe}};
let questions=[];
for(let i=0;i<quest.length;i++)
{
    let obj={};
    obj['numb']=i+1;
    obj['question']=quest[i].question;
    obj['options']=[];
    obj['options'].push(quest[i].opt1);
    obj['options'].push(quest[i].opt2);
    obj['options'].push(quest[i].opt3);
    obj['options'].push(quest[i].opt4);
    obj['answer']=quest[i].opt1;
    questions.push(obj);
}


const start_btn = document.querySelector(".start_btn button");
const info_box = document.querySelector(".info_box");
const exit_btn = info_box.querySelector(".buttons .quit");
const continue_btn = info_box.querySelector(".buttons .restart");
const quiz_box = document.querySelector(".quiz_box");
const result_box = document.querySelector(".result_box");
const option_list = document.querySelector(".option_list");
const time_line = document.querySelector("header .time_line");
const timeText = document.querySelector(".timer .time_left_txt");
const timeCount = document.querySelector(".timer .timer_sec");
let ans=[];
let currques;
start_btn.onclick = ()=>{
    info_box.classList.add("activeInfo"); 
}
exit_btn.onclick = ()=>{
    info_box.classList.remove("activeInfo");
}
continue_btn.onclick = ()=>{
    info_box.classList.remove("activeInfo");
    quiz_box.classList.add("activeQuiz");
    showQuetions(0);
    queCounter(1);
    startTimer(15);
    startTimerLine(0);
}
let timeValue =  15;
let que_count = 0;
let que_numb = 1;
let userScore = 0;
let counter;
let counterLine;
let widthValue = 0;
const restart_quiz = result_box.querySelector(".buttons .restart");
const quit_quiz = result_box.querySelector(".buttons .quit");
restart_quiz.onclick = ()=>{
    quiz_box.classList.add("activeQuiz");
    result_box.classList.remove("activeResult");
    timeValue = 15; 
    que_count = 0;
    que_numb = 1;
    userScore = 0;
    widthValue = 0;
    showQuetions(que_count);
    queCounter(que_numb);
    clearInterval(counter);
    clearInterval(counterLine);
    startTimer(timeValue);
    startTimerLine(widthValue);
    timeText.textContent = "Time Left";
    next_btn.classList.remove("show");
}
quit_quiz.onclick = ()=>{
    window.location="{% url 'candidate:tests' pk %}"
}
const next_btn = document.querySelector("footer .next_btn");
const bottom_ques_counter = document.querySelector("footer .total_que");
next_btn.onclick = ()=>{
    if(que_count < questions.length - 1){ 
        que_count++;
        que_numb++;
        showQuetions(que_count);
        queCounter(que_numb);
        clearInterval(counter);
        clearInterval(counterLine);
        startTimer(timeValue);
        startTimerLine(widthValue);
        timeText.textContent = "Time Left";
        next_btn.classList.remove("show");
    }else{
        clearInterval(counter);
        clearInterval(counterLine);
        showResult();
    }
}
function showQuetions(index){
    const que_text = document.querySelector(".que_text");
    let que_tag = '<span>'+ questions[index].numb + ". " + questions[index].question +'</span>';
    let option_tag = '<div class="option 1"><span>'+ questions[index].options[0] +'</span></div>'
    + '<div class="option 2"><span>'+ questions[index].options[1] +'</span></div>'
    + '<div class="option 3"><span>'+ questions[index].options[2] +'</span></div>'
    + '<div class="option 4"><span>'+ questions[index].options[3] +'</span></div>';
    que_text.innerHTML = que_tag;
    option_list.innerHTML = option_tag;
    currques=index;
    
    const option = option_list.querySelectorAll(".option");
    for(i=0; i < option.length; i++){
        option[i].setAttribute("onclick", "optionSelected(this)");
    }
}
let tickIconTag = '<div class="icon tick"><i class="fas fa-check"></i></div>';
let crossIconTag = '<div class="icon cross"><i class="fas fa-times"></i></div>';
function optionSelected(answer){
    ans.push(answer.classList[1]);
    clearInterval(counter);
    clearInterval(counterLine);
    let userAns = answer.textContent;
    let correcAns = questions[que_count].answer;
    const allOptions = option_list.children.length;
    
    for(i=0; i < allOptions; i++){
        option_list.children[i].classList.add("disabled")
    }
    next_btn.classList.add("show");
}
function showResult(){
    let pk2={{pk2}};
    info_box.classList.remove("activeInfo");
    quiz_box.classList.remove("activeQuiz");
    result_box.classList.add("activeResult");
    const scoreText = result_box.querySelector(".score_text");
    $.ajax(
    {
        type:"POST",
        url: "{% url 'candidate:submit' pk %}",
        data:{
                answers: ans,
                testid: pk2,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            window.location='{% url "candidate:tests" pk %}';
        }
    })
}
function startTimer(time){
    counter = setInterval(timer, 1000);
    function timer(){
        timeCount.textContent = time;
        time--;
        if(time < 9){
            let addZero = timeCount.textContent; 
            timeCount.textContent = "0" + addZero;
        }
        if(time < 0){
            clearInterval(counter);
            timeText.textContent = "Time Off";
            const allOptions = option_list.children.length;
            let correcAns = questions[que_count].answer;
            next_btn.classList.add("show");
            ans.push("X");
            if(currques+1>questions.length)
            {
                clearInterval(counter);
                clearInterval(counterLine);
                showResult();
            }
            else
            {
                queCounter(currques+1);
                showQuetions(currques+1);
                startTimer(15);
                startTimerLine(0);
            }
        }
    }
}
function startTimerLine(time){
    counterLine = setInterval(timer, 29);
    function timer(){
        time += 1;
        time_line.style.width = time + "px";
        if(time > 549){
            clearInterval(counterLine);
        }
    }
}
function queCounter(index){
    let totalQueCounTag = '<span><p>'+ index +'</p> of <p>'+ questions.length +'</p> Questions</span>';
    bottom_ques_counter.innerHTML = totalQueCounTag;  //adding new span tag inside bottom_ques_counter
}
</script>
</body>
</html>