{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
         
        {% block title %}
        {% endblock %}
    </head>
    <body style="background-color: var(--pxpSecondaryColorLight);">
        <div class="pxp-preloader"><span>Loading...</span></div>

        <div class="pxp-dashboard-side-panel d-none d-lg-block">
            <div class="pxp-logo">
                <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
            </div>

            <nav class="mt-3 mt-lg-4 d-flex justify-content-between flex-column pb-100 nav">
                <div class="pxp-dashboard-side-label">Candidate tools</div>
                <ul class="list-unstyled">
                    <li id="das"><a href="{% url 'candidate:dashboard' pk=pk %}"><span class="fa fa-home"></span>Dashboard</a></li>
                    <li id="edi" ><a href="{% url 'candidate:edit' pk=pk %}"><span class="fa fa-pencil"></span>Edit Profile</a></li>
                    <li id="app"><a href="{% url 'candidate:applications' pk=pk %}"><span class="fa fa-file-text-o"></span>Applications</a></li>
                    <li id="fav"><a href="{% url 'candidate:favjobs' pk=pk %}"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                    <li id="cha" ><a href="{% url 'candidate:change' pk=pk %}"><span class="fa fa-lock"></span>Change Password</a></li>
                    {% comment %} <li><a href="candidate-dashboard-applications.html"><span class="fa fa-file-text-o"></span>Apllications</a></li>
                    <li><a href="candidate-dashboard-fav-jobs.html"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                    <li><a href="candidate-dashboard-password.html"><span class="fa fa-lock"></span>Change Password</a></li> {% endcomment %}
                </ul>
                <div class="pxp-dashboard-side-label mt-3 mt-lg-4">Insights</div>
                <ul class="list-unstyled">
                    <li id="inb">
                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:inbox' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-envelope-o"></span>Inbox</div>
                            {% if count == 0%}
                            <span class="badge rounded-pill" id="countinbox"></span>
                            {% else %}
                            <span class="badge rounded-pill" id="countinbox">{{ count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li id="not">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:notifications' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-bell-o"></span>Notifications</div>
                            {% if request.session.notifnum != 0%}
                            <span class="badge rounded-pill">{{ request.session.notifnum }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div class="pxp-dashboard-side-label mt-3 mt-lg-4">AI Tools<sup style="background: var(--pxpMainColor); padding: 3px; color: white; border-radius: 50rem; margin-left: 5px">Beta</sup></div>
                <ul class="list-unstyled">
                    <li id="res">
                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:resume' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-bolt"></span>Resume Strength</div>
                        </a>
                    </li>
                    <li id="fee">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-comment-o"></span>Feed</div>
                        </a>
                    </li>
                    <li id="sug">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-file-o"><i class="fa-light fa-lightbulb"></i></span>Suggestions</div>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="pxp-dashboard-side-user-nav-container pxp-is-candidate">
                <div class="pxp-dashboard-side-user-nav">
                    <div class="dropdown pxp-dashboard-side-user-nav-dropdown dropup">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                                <div class="pxp-dashboard-side-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-dashboard-side-user-nav-avatar pxp-cover" style="background-image: url()"><div class="profileimage" id="profileImage"></div></div>
                            {% endif %}
                            <div class="pxp-dashboard-side-user-nav-name">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=pk %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="pxp-dashboard-content">
            <div class="pxp-dashboard-content-header pxp-is-candidate">
                <div class="pxp-nav-trigger navbar pxp-is-dashboard d-lg-none">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav" aria-controls="pxpMobileNav">
                        <div class="pxp-line-1"></div>
                        <div class="pxp-line-2"></div>
                        <div class="pxp-line-3"></div>
                    </a>
                    <div class="offcanvas offcanvas-start pxp-nav-mobile-container pxp-is-dashboard pxp-is-candidate" tabindex="-1" id="pxpMobileNav">
                        <div class="offcanvas-header">
                            <div class="pxp-logo">
                                <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
                            </div>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <nav class="pxp-nav-mobile">
                                <ul class="navbar-nav justify-content-end flex-grow-1">
                                    <li class="pxp-dropdown-header">Candidate tools</li>
                                    <li class="nav-item"><a href="{% url 'candidate:dashboard' pk=pk %}"><span class="fa fa-home"></span>Dashboard</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:edit' pk=pk %}"><span class="fa fa-pencil"></span>Edit Profile</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:applications' pk=pk %}"><span class="fa fa-file-text-o"></span>Applications</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:favjobs' pk=pk %}"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:change' pk=pk %}"><span class="fa fa-lock"></span>Change Password</a></li>
                                    {% comment %} <li class="nav-item"><a href="candidate-dashboard-applications.html"><span class="fa fa-file-text-o"></span>Apllications</a></li>
                                    <li class="nav-item"><a href="candidate-dashboard-fav-jobs.html"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                                    <li class="nav-item"><a href="candidate-dashboard-password.html"><span class="fa fa-lock"></span>Change Password</a></li> {% endcomment %}
                                    <li class="pxp-dropdown-header mt-4">Insights</li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:inbox' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-envelope-o"></span>Inbox</div>
                                            <span class="badge rounded-pill" id="countinbox2">{{ count }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:notifications' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-bell-o"></span>Notifications</div>
                                            {% if request.session.notifnum != 0%}
                                            <span class="badge rounded-pill">{{ request.session.notifnum }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li class="pxp-dropdown-header mt-4">AI Tools<sup style="background: var(--pxpMainColor); padding: 3px; color: white; border-radius: 50rem; margin-left: 5px">Beta</sup></li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:resume' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-bolt"></span>Resume Strength</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-comment-o"></span>Feed</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-file-o"></span>Suggestions</div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav class="pxp-user-nav pxp-on-light">
                    <div class="dropdown pxp-user-nav-dropdown pxp-user-notifications">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="fa fa-bell-o"></span>
                            {% if request.session.notifnum != 0%}
                            <div class="pxp-user-notifications-counter">{{ request.session.notifnum }}</div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% comment %} <li><a class="dropdown-item" href="candidate-dashboard-notifications.html"><strong>Artistre Studio</strong> viewed your profile. <span class="pxp-is-time">20m</span></a></li> {% endcomment %}
                            {% if notis|length %}
                                {% for i in notis %}
                                {% if i.notif_type == "M" %}
                                <li><a class="dropdown-item" href="{% url 'candidate:under_development' pk=pk %}"><strong>{{ i.ename }}</strong> sent you a message. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'candidate:under_development' pk=pk %}"><strong>{{ i.ename }}</strong> viewed your profile. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                            <li><a class="dropdown-item" href="#" style="cursor: text"><strong></strong>No new notifications<span class="pxp-is-time"></span></a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item pxp-link" href="{% url 'candidate:notifications' pk=pk %}">Read All</a></li>
                        </ul>
                    </div>
                    <div class="dropdown pxp-user-nav-dropdown">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                                <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-user-nav-avatar pxp-cover"  style="background-image: url()"><div class="profileimage" id="profileImage2"></div></div>
                            {% endif %}
                            <div class="pxp-user-nav-name d-none d-md-block">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=pk %}">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>


            <div class="modal fade pxp-user-modal" id="pxp-job-modal" aria-hidden="true" aria-labelledby="jobModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered widthadjuster">
                    <div class="modal-content">
                        <div class="modal-body" style="padding: 1rem !important">
                            <section>
                                <div class="pxp-container">
                                    <div class="pxp-single-job-content pxp-has-columns" style="margin-top: 0px">
                                        <div class="row">
                                            <div class="col-lg-7 col-xl-8 col-xxl-9">
                    
                                                <div class="row justify-content-between align-items-center mt-4 mt-lg-5">
                                                    <div class="col-xl-8 col-xxl-6">
                                                        <h1 id="jobtitle"></h1>
                                                        <div class="pxp-single-job-company-location">
                                                            by <a href="single-company-1.html" class="pxp-single-job-company" id="comname"></a> in 
                                                            <a href="jobs-list-1.html" class="pxp-single-job-location" id="loca"></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="pxp-single-job-options mt-4 col-xl-0">
                                                            <div class="dropdown ms-2">
                                                                <button class="btn pxp-single-job-share-btn dropdown-toggle" type="button" id="socialShareBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <span class="fa fa-share-alt">
                                                                </span></button>
                                                                <ul class="dropdown-menu pxp-single-job-share-dropdown" aria-labelledby="socialShareBtn">
                                                                    <li><a class="dropdown-item" href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                                                                    <li><a class="dropdown-item" href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                                                                    <li><a class="dropdown-item" href="#"><span class="fa fa-pinterest"></span> Pinterest</a></li>
                                                                    <li><a class="dropdown-item" href="#"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-4 justify-content-between align-items-center">
                                                    <div class="col-6">
                                                        <a href="jobs-list-1.html" class="pxp-single-job-category">
                                                            <div class="pxp-single-job-category-icon"><span class="fa fa-calendar-o"></span></div>
                                                            <div class="pxp-single-job-category-label" id="jobtit"></div>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="pxp-single-job-date pxp-text-light" id="datesh"></div>
                                                    </div>
                                                </div>
                    
                                                <div class="pxp-single-job-content-details mt-4 mt-lg-5">
                                                    <h4>Overview</h4>
                                                    <p id="desc"></p>
                                                    <div class="mt-4">
                                                        <h4>Responsabilities</h4>
                                                        <ul>
                                                            <li>Be involved in every step of the product design cycle from discovery to developer handoff and user acceptance testing.</li>
                                                            <li>Work with BAs, product managers and tech teams to lead the Product Design</li>
                                                            <li>Maintain quality of the design process and ensure that when designs are translated into code they accurately reflect the design specifications.</li>
                                                            <li>Accurately estimate design tickets during planning sessions.</li>
                                                            <li>Contribute to sketching sessions involving non-designersCreate, iterate and maintain UI deliverables including sketch files, style guides, high fidelity prototypes, micro interaction specifications and pattern libraries.</li>
                                                            <li>Ensure design choices are data led by identifying assumptions to test each sprint, and work with the analysts in your team to plan moderated usability test sessions.</li>
                                                            <li>Design pixel perfect responsive UI’s and understand that adopting common interface patterns is better for UX than reinventing the wheel</li>
                                                            <li>Present your work to the wider business at Show &amp; Tell sessions.</li>
                                                        </ul>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h4>Requirements</h4>
                                                        <ul><li>4+ years of system administration experience with the Microsoft Server platform (2012/2016, Microsoft IIS, Active Directory)</li><li>3+ years of hands-on system administration experience with AWS (EC2, Elastic Load Balancing, Multi AZ, etc.)</li><li>4+ years of SQL Server, MySQL</li><li>Working knowledge of Encryption techniques and protocols, Multi-factor authentication, Data protection, Penetration testing, Security threats</li><li>Bachelor's Degree, or 4+ years of hands-on IT experience</li></ul>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h4>Skills</h4>
                                                        <ul><li>Programming experience developing web applications with the Microsoft .NET stack and a basic knowledge of SQL</li><li>Development experience with Angular, Node.JS, or ColdFusion</li><li>HTML, CSS, XHTML, XML</li><li>Hypervisors, SAN’s, load balancers, firewalls, and Web Application Firewall (WAF)</li><li>Experience with Higher Logic (a collaboration platform)</li><li>MongoDB, Drupal</li><li>Mobile App Development (iOS and Android)</li><li>Episerver CMS</li><li>Microsoft Team Foundation Server</li><li>Speaker Management System (Planstone)</li></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xl-4 col-xxl-3">
                                                <div class="pxp-single-job-side-panel mt-5 mt-lg-0">
                                                    <div>
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Experience</div>
                                                        <div class="pxp-single-job-side-info-data" id="exp"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Work Level</div>
                                                        <div class="pxp-single-job-side-info-data">Senior Level</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Employment Type</div>
                                                        <div class="pxp-single-job-side-info-data">Full Time</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Salary</div>
                                                        <div class="pxp-single-job-side-info-data" id="sal"></div>
                                                    </div>
                                                </div>
                                                <div class="mt-3 mt-lg-4 pxp-single-job-side-panel">
                                                    <div class="pxp-single-job-side-company">
                                                        <div class="pxp-single-job-side-company-logo pxp-cover" id="coverimage"></div>
                                                        <div class="pxp-single-job-side-company-profile">
                                                            <div class="pxp-single-job-side-company-name" id="comna"></div>
                                                            <a href="single-company-1.html">View profile</a>
                                                        </div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Industry</div>
                                                        <div class="pxp-single-job-side-info-data" id="indus">Software</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Company size</div>
                                                        <div class="pxp-single-job-side-info-data">50-100</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Founded in</div>
                                                        <div class="pxp-single-job-side-info-data">2005</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Phone</div>
                                                        <div class="pxp-single-job-side-info-data">0124 456 789</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Email</div>
                                                        <div class="pxp-single-job-side-info-data">office@craftgenics.com</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Location</div>
                                                        <div class="pxp-single-job-side-info-data" id="locat"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Website</div>
                                                        <div class="pxp-single-job-side-info-data"><a href="#">www.craftgenics.com</a></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-data">
                                                            <ul class="list-unstyled pxp-single-job-side-info-social">
                                                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>        
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock content %}

            <footer>
                <div class="pxp-footer-copyright pxp-text-light">© 2021 mpower. All Right Reserved.</div>
            </footer>
        </div>

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
        <script>
            $(document).ready(function () {
                $(".profileimage").each(function(i, el) {
                    el.innerHTML = '{{request.session.name}}'[0]
                })
            setInterval(getCount, 10000);
            function getCount()
            {
                let url = "{% url 'candidate:count_inbox' pk %}"
                $.ajax(
                {
                    type:"GET",
                    url: url,
                    data:{
                    },
                    success: function( data ) 
                    {
                        if(data['count']!=0)
                        {
                            $('#countinbox').text(data['count'])
                            $('#countinbox2').text(data['count'])
                        }
                        else
                        {
                            $('#countinbox').text("")
                            $('#countinbox2').text("")
                        }
                    },
                    async: false
                })
            }
        })

        function loadermodal(id)
        {
            $.ajax(
            {
                type:"GET",
                url: "jobapp/",
                data:{
                        jobid: id
                },
                success: function( data ) 
                {
                    $('#jobtitle').text(JSON.parse(data['info'])[0].title);
                    $('#comname').text(JSON.parse(data['company'])[0].ename);
                    $('#loca').text(JSON.parse(data['info'])[0].location);
                    $('#jobtit').text(JSON.parse(data['info'])[0].fnarea);
                    $('#datesh').text(JSON.parse(data['info'])[0].postdate);
                    $('#desc').text(JSON.parse(data['info'])[0].jobdesc);
                    $('#exp').text(JSON.parse(data['info'])[0].experience);
                    $('#sal').text(JSON.parse(data['info'])[0].basicpay);
                    $('#comna').text(JSON.parse(data['company'])[0].ename);
                    $('#indus').text(JSON.parse(data['company'])[0].industry);
                    $('#locat').text(JSON.parse(data['company'])[0].location);
                    let urln=data['logo'];
                    $('#coverim').remove();
                    if(urln)
                    {
                        let ab=document.createElement('img')
                        ab.setAttribute('src', urln);
                        ab.setAttribute('id', 'coverim');
                        ab.style.width='4rem';
                        ab.style.height='4rem';
                        document.getElementById('coverimage').append(ab)
                    }
                    {% comment %} $('#coverimage').css({'background-image': "url($urln)"}) {% endcomment %}
                }
            })
        }
            {% block script %}
            {% endblock script %}
        </script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>