{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
         
        {% block title %}
        {% endblock %}
    </head>
    <body style="background-color: var(--pxpSecondaryColorLight);">
        <div class="pxp-preloader"><span>Loading...</span></div>

        <div class="pxp-dashboard-side-panel d-none d-lg-block">
            <div class="pxp-logo">
                <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
            </div>

            <nav class="mt-3 mt-lg-4 d-flex justify-content-between flex-column pb-100 nav">
                <div class="pxp-dashboard-side-label">Candidate tools</div>
                <ul class="list-unstyled">
                    <li id="das"><a href="{% url 'candidate:dashboard' pk=pk %}"><span class="fa fa-home"></span>Dashboard</a></li>
                    <li id="edi" ><a href="{% url 'candidate:edit' pk=pk %}"><span class="fa fa-pencil"></span>Edit Profile</a></li>
                    <li id="app"><a href="{% url 'candidate:applications' pk=pk %}"><span class="fa fa-file-text-o"></span>Applications</a></li>
                    <li id="fav"><a href="{% url 'candidate:favjobs' pk=pk %}"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                    <li id="cha" ><a href="{% url 'candidate:change' pk=pk %}"><span class="fa fa-lock"></span>Change Password</a></li>
                    <li id="tes" ><a href="{% url 'candidate:tests' pk=pk %}"><span class="fa fa-question"></span>Tests</a></li>
                    <li id="ins" ><a href="{% url 'candidate:interviews' pk=pk %}"><span class="fa fa-user"></span>Interviews</a></li>
                    {% comment %} <li><a href="candidate-dashboard-applications.html"><span class="fa fa-file-text-o"></span>Apllications</a></li>
                    <li><a href="candidate-dashboard-fav-jobs.html"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                    <li><a href="candidate-dashboard-password.html"><span class="fa fa-lock"></span>Change Password</a></li> {% endcomment %}
                </ul>
                <div class="pxp-dashboard-side-label mt-3 mt-lg-4">Insights</div>
                <ul class="list-unstyled">
                    <li id="inb">
                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:inbox' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-envelope-o"></span>Inbox</div>
                            {% if count == 0%}
                            <span class="badge rounded-pill" id="countinbox"></span>
                            {% else %}
                            <span class="badge rounded-pill" id="countinbox">{{ count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li id="not">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:notifications' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-bell-o"></span>Notifications</div>
                            {% if request.session.notifnum != 0%}
                            <span class="badge rounded-pill">{{ request.session.notifnum }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div class="pxp-dashboard-side-label mt-3 mt-lg-4">AI Tools<sup style="background: var(--pxpMainColor); padding: 3px; color: white; border-radius: 50rem; margin-left: 5px">Beta</sup></div>
                <ul class="list-unstyled">
                    <li id="res">
                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:resume' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-bolt"></span>Resume Strength</div>
                        </a>
                    </li>
                    <li id="fee">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-comment-o"></span>Feed</div>
                        </a>
                    </li>
                    <li id="sug">
                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                            <a href="{% url 'candidate:suggestions' pk=pk %}" class="d-flex justify-content-between align-items-center">
                            <div><span class="fa fa-file-o"><i class="fa-light fa-lightbulb"></i></span>Suggestions</div>
                        </a>
                    </li>
                </ul>
            </nav>

            <nav class="pxp-dashboard-side-user-nav-container pxp-is-candidate">
                <div class="pxp-dashboard-side-user-nav">
                    <div class="dropdown pxp-dashboard-side-user-nav-dropdown dropup">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                                <div class="pxp-dashboard-side-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-dashboard-side-user-nav-avatar pxp-cover" style="background-image: url()"><div class="profileimage" id="profileImage"></div></div>
                            {% endif %}
                            <div class="pxp-dashboard-side-user-nav-name">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=pk %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="pxp-dashboard-content">
            <div class="pxp-dashboard-content-header pxp-is-candidate">
                <div class="pxp-nav-trigger navbar pxp-is-dashboard d-lg-none">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav" aria-controls="pxpMobileNav">
                        <div class="pxp-line-1"></div>
                        <div class="pxp-line-2"></div>
                        <div class="pxp-line-3"></div>
                    </a>
                    <div class="offcanvas offcanvas-start pxp-nav-mobile-container pxp-is-dashboard pxp-is-candidate" tabindex="-1" id="pxpMobileNav">
                        <div class="offcanvas-header">
                            <div class="pxp-logo">
                                <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
                            </div>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <nav class="pxp-nav-mobile">
                                <ul class="navbar-nav justify-content-end flex-grow-1">
                                    <li class="pxp-dropdown-header">Candidate tools</li>
                                    <li class="nav-item"><a href="{% url 'candidate:dashboard' pk=pk %}"><span class="fa fa-home"></span>Dashboard</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:edit' pk=pk %}"><span class="fa fa-pencil"></span>Edit Profile</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:applications' pk=pk %}"><span class="fa fa-file-text-o"></span>Applications</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:favjobs' pk=pk %}"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:change' pk=pk %}"><span class="fa fa-lock"></span>Change Password</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:tests' pk=pk %}"><span class="fa fa-question"></span>Tests</a></li>
                                    <li class="nav-item"><a href="{% url 'candidate:interviews' pk=pk %}"><span class="fa fa-user"></span>Interviews</a></li>
                                    {% comment %} <li class="nav-item"><a href="candidate-dashboard-applications.html"><span class="fa fa-file-text-o"></span>Apllications</a></li>
                                    <li class="nav-item"><a href="candidate-dashboard-fav-jobs.html"><span class="fa fa-heart-o"></span>Favourite Jobs</a></li>
                                    <li class="nav-item"><a href="candidate-dashboard-password.html"><span class="fa fa-lock"></span>Change Password</a></li> {% endcomment %}
                                    <li class="pxp-dropdown-header mt-4">Insights</li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:inbox' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-envelope-o"></span>Inbox</div>
                                            {% if count == 0 %}
                                            <span class="badge rounded-pill" id="countinbox2"></span>
                                            {% else %}
                                            <span class="badge rounded-pill" id="countinbox2">{{ count }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:notifications' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-bell-o"></span>Notifications</div>
                                            {% if request.session.notifnum != 0%}
                                            <span class="badge rounded-pill">{{ request.session.notifnum }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    <li class="pxp-dropdown-header mt-4">AI Tools<sup style="background: var(--pxpMainColor); padding: 3px; color: white; border-radius: 50rem; margin-left: 5px">Beta</sup></li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-inbox.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:resume' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-bolt"></span>Resume Strength</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:under_development' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-comment-o"></span>Feed</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        {% comment %} <a href="candidate-dashboard-notifications.html" class="d-flex justify-content-between align-items-center"> {% endcomment %}
                                        <a href="{% url 'candidate:suggestions' pk=pk %}" class="d-flex justify-content-between align-items-center">
                                            <div><span class="fa fa-file-o"></span>Suggestions</div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav class="pxp-user-nav pxp-on-light">
                    <div class="dropdown pxp-user-nav-dropdown pxp-user-notifications">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="fa fa-bell-o"></span>
                            {% if request.session.notifnum != 0%}
                            <div class="pxp-user-notifications-counter">{{ request.session.notifnum }}</div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% comment %} <li><a class="dropdown-item" href="candidate-dashboard-notifications.html"><strong>Artistre Studio</strong> viewed your profile. <span class="pxp-is-time">20m</span></a></li> {% endcomment %}
                            {% if notis|length %}
                                {% for i in notis %}
                                {% if i.notif_type == "M" %}
                                <li><a class="dropdown-item" href="#" onclick="messageclick({{i.log_id}})"><strong>{{ i.ename }}</strong> sent you a message. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% elif i.notif_type == "T" %}
                                <li><a class="dropdown-item" href="{% url 'candidate:tests' pk %}"><strong>{{ i.ename }}</strong> scheduled a test. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% elif i.notif_type == "I" %}
                                <li><a class="dropdown-item" href="#" onclick="interviewload({{i.eid}})" data-bs-target="#pxp-interview-modal" data-bs-toggle="modal"><strong>{{ i.ename }}</strong> scheduled a interview. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="#" onclick="companyload({{i.eid}})" data-bs-target="#pxp-company-modal" data-bs-toggle="modal"><strong>{{ i.ename }}</strong> viewed your profile. <span class="pxp-is-time">{{ i.datetime|naturaltime }}</span></a></li>
                                {% endif %}
                                {% endfor %}
                            {% else %}
                            <li><a class="dropdown-item" href="#" style="cursor: text"><strong></strong>No new notifications<span class="pxp-is-time"></span></a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item pxp-link" href="{% url 'candidate:notifications' pk=pk %}">Read All</a></li>
                        </ul>
                    </div>
                    <div class="dropdown pxp-user-nav-dropdown">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                                <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-user-nav-avatar pxp-cover"  style="background-image: url()"><div class="profileimage" id="profileImage2"></div></div>
                            {% endif %}
                            <div class="pxp-user-nav-name d-none d-md-block">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=pk %}">Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>


            <div class="modal fade pxp-user-modal" id="pxp-job-modal" aria-hidden="true" aria-labelledby="jobModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered widthadjuster">
                    <div class="modal-content">
                        <div class="modal-body" style="padding: 1rem !important">
                            <section>
                                <div class="pxp-container">
                                    <div class="pxp-single-job-content pxp-has-columns" style="margin-top: 0px">
                                        <div class="row">
                                            <div class="col-lg-7 col-xl-8 col-xxl-9">
                    
                                                <div class="row justify-content-between align-items-center mt-4 mt-lg-5">
                                                    <div class="col-xl-8 col-xxl-6">
                                                        <h1 id="jobtitle"></h1>
                                                        <div class="pxp-single-job-company-location">
                                                            by <a href="#" data-bs-target="#pxp-company-modal" data-bs-toggle="modal" class="pxp-single-job-company" id="comname"></a> in 
                                                            <a href="jobs-list-1.html" class="pxp-single-job-location" id="loca"></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="pxp-single-job-options mt-4 col-xl-0">
                                                            <div class="dropdown ms-2">
                                                                <button class="btn pxp-single-job-share-btn dropdown-toggle" type="button" id="socialShareBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <span class="fa fa-share-alt">
                                                                </span></button>
                                                                <ul class="dropdown-menu pxp-single-job-share-dropdown" aria-labelledby="socialShareBtn">
                                                                    <li><a class="dropdown-item" href="#" id="fb"><span class="fa fa-facebook"></span> Facebook</a></li>
                                                                    <li><a class="dropdown-item" href="#" id="tw"><span class="fa fa-twitter"></span> Twitter</a></li>
                                                                    <li><a class="dropdown-item" href="#" id="in"><span class="fa fa-instagram"></span> Instagram</a></li>
                                                                    <li><a class="dropdown-item" href="#" id="ln"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="row mt-4 justify-content-between align-items-center">
                                                    <div class="col-6">
                                                        <a href="jobs-list-1.html" class="pxp-single-job-category">
                                                            <div class="pxp-single-job-category-icon"><span class="fa fa-calendar-o"></span></div>
                                                            <div class="pxp-single-job-category-label" id="jobtit"></div>
                                                        </a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="pxp-single-job-date pxp-text-light" id="datesh"></div>
                                                    </div>
                                                </div>
                    
                                                <div class="pxp-single-job-content-details mt-4 mt-lg-5">
                                                    <h4>Overview</h4>
                                                    <p id="desc"></p>
                                                    <div class="mt-4">
                                                        <h4>Responsibilities</h4>
                                                        <ul id="resp">
                                                        </ul>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h4>Requirements</h4>
                                                        <ul id="requ"></ul>
                                                    </div>
                                                    <div class="mt-4">
                                                        <h4>Skills</h4>
                                                        <ul id="skil"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-xl-4 col-xxl-3">
                                                <div class="pxp-single-job-side-panel mt-5 mt-lg-0">
                                                    <div>
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Experience</div>
                                                        <div class="pxp-single-job-side-info-data" id="exp"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Work Level</div>
                                                        <div class="pxp-single-job-side-info-data" id="lev"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Employment Type</div>
                                                        <div class="pxp-single-job-side-info-data" id="jobtype"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Salary</div>
                                                        <div class="pxp-single-job-side-info-data" id="sal"></div>
                                                    </div>
                                                </div>
                                                <div class="mt-3 mt-lg-4 pxp-single-job-side-panel">
                                                    <div class="pxp-single-job-side-company">
                                                        <div class="pxp-single-job-side-company-logo pxp-cover" id="coverimage"></div>
                                                        <div class="pxp-single-job-side-company-profile">
                                                            <div class="pxp-single-job-side-company-name" id="comna"></div>
                                                            <a href="single-company-1.html">View profile</a>
                                                        </div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Industry</div>
                                                        <div class="pxp-single-job-side-info-data" id="indus"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Company size</div>
                                                        <div class="pxp-single-job-side-info-data" id="size"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Founded in</div>
                                                        <div class="pxp-single-job-side-info-data" id="yearfounded"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Phone</div>
                                                        <div class="pxp-single-job-side-info-data" id="phone"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Email</div>
                                                        <div class="pxp-single-job-side-info-data" id="ema"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Location</div>
                                                        <div class="pxp-single-job-side-info-data" id="locat"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-label pxp-text-light">Website</div>
                                                        <div class="pxp-single-job-side-info-data"><a href="#" id="webs"></a></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-job-side-info-data">
                                                            <ul class="list-unstyled pxp-single-job-side-info-social">
                                                                <li><a href="#" id="fb2"><span class="fa fa-facebook"></span></a></li>
                                                                <li><a href="#" id="tw2"><span class="fa fa-twitter"></span></a></li>
                                                                <li><a href="#" id="in2"><span class="fa fa-instagram"></span></a></li>
                                                                <li><a href="#" id="ln2"><span class="fa fa-linkedin"></span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>        
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade pxp-user-modal" id="pxp-company-modal" aria-hidden="true" aria-labelledby="companyModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered widthadjuster">
                    <div class="modal-content">
                        <div class="modal-body" style="padding: 1rem !important">
                            <section>
                                <div class="pxp-container">
                                    <div class="pxp-single-company-container pxp-has-columns">
                                        <div class="row">
                                            <div class="col-lg-7 col-xl-8 col-xxl-9">
                                                <div class="pxp-single-company-hero pxp-cover pxp-boxed" style="background-image: url();" id="comcov">
                                                    <div class="pxp-hero-opacity"></div>
                                                    <div class="pxp-single-company-hero-caption">
                                                        <div class="pxp-container">
                                                            <div class="pxp-single-company-hero-content">
                                                                <div class="pxp-single-company-hero-logo" id="coverimage2"></div>
                                                                <div class="pxp-single-company-hero-title">
                                                                    <h1 id="comnam"></h1>
                                                                    <div class="pxp-single-company-hero-location" id="comloc">Not Specified</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <section class="mt-4 mt-lg-5">
                                                    <div class="pxp-single-company-content">
                                                        <div style="display: flex"><h2>About</h2> <h2 style="margin-left: 10px" id="comna2"></h2></div>
                                                        <p id="comabo">Not Specified</p>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-lg-5 col-xl-4 col-xxl-3">
                                                <div class="pxp-single-company-side-panel mt-5 mt-lg-0">
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Industry</div>
                                                        <div class="pxp-single-company-side-info-data" id="comind">Not Specified</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Company size</div>
                                                        <div class="pxp-single-company-side-info-data" id="comsiz">Not Specified</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Founded in</div>
                                                        <div class="pxp-single-company-side-info-data" id="comyea">Not Specified</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Phone</div>
                                                        <div class="pxp-single-company-side-info-data" id="compho">Not Specified</div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Email</div>
                                                        <div class="pxp-single-company-side-info-data" id="comema"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Location</div>
                                                        <div class="pxp-single-company-side-info-data" id="comlo2"></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-label pxp-text-light">Website</div>
                                                        <div class="pxp-single-company-side-info-data" id="comweb"><a href="#" id="comlin"></a></div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="pxp-single-company-side-info-data">
                                                            <ul class="list-unstyled pxp-single-company-side-info-social">
                                                                <li><a href="#" id="comfac"><span class="fa fa-facebook"></span></a></li>
                                                                <li><a href="#" id="comtwi"><span class="fa fa-twitter"></span></a></li>
                                                                <li><a href="#" id="comins"><span class="fa fa-instagram"></span></a></li>
                                                                <li><a href="#" id="comlin"><span class="fa fa-linkedin"></span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div class="pxp-single-company-side-panel mt-3 mt-lg-4">
                                                    <h3>Contact Company</h3>
                                                    <form class="mt-4">
                                                        <div class="mb-3">
                                                            <label for="contact-company-name" class="form-label">Name</label>
                                                            <input type="text" class="form-control" id="contact-company-name" placeholder="Enter your name">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="contact-company-email" class="form-label">Email</label>
                                                            <input type="text" class="form-control" id="contact-company-email" placeholder="Enter your email address">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="contact-company-message" class="form-label">Message</label>
                                                            <textarea class="form-control" id="contact-company-message" placeholder="Type your message here..."></textarea>
                                                        </div>
                                                        <a href="#" class="btn rounded-pill pxp-section-cta d-block">Send Message</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade pxp-interview-modal" id="pxp-interview-modal" aria-hidden="true" aria-labelledby="interviewModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered widthadjuster" style="justify-content: center">
                    <div class="modal-content" style="width: 35rem">
                        <div class="modal-header" style="padding: 10px">
                            <h3 id="employer_name"></h3>
                        </div>
                        <hr style="margin: 0px" />
                        <div class="modal-body" style="padding: 1rem !important">
                            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto; flex-direction: column">
                                <div id="link_int">
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0px" />
                        <div class="modal-header" style="padding: 10px" id="dateadder">
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock content %}

            <footer>
                <div class="pxp-footer-copyright pxp-text-light">© 2021 mpower. All Right Reserved.</div>
            </footer>
        </div>

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/Chart.min.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
        <script>
            $(document).ready(function () {
                $(".profileimage").each(function(i, el) {
                    el.innerHTML = '{{request.session.name}}'[0]
                })
            setInterval(getCount, 10000);
            function getCount()
            {
                let url = "{% url 'candidate:count_inbox' pk %}"
                $.ajax(
                {
                    type:"GET",
                    url: url,
                    data:{
                    },
                    success: function( data ) 
                    {
                        if(data['count']!=0)
                        {
                            $('#countinbox').text(data['count'])
                            $('#countinbox2').text(data['count'])
                        }
                        else
                        {
                            $('#countinbox').text("")
                            $('#countinbox2').text("")
                        }
                    },
                    async: false
                })
            }
        })

        function loadermodal(id)
        {
            $.ajax(
            {
                type:"GET",
                url: "jobapp/",
                data:{
                        jobid: id
                },
                success: function( data ) 
                {
                    $('#jobtitle').text(JSON.parse(data['info'])[0].title);
                    $('#comname').text(JSON.parse(data['company'])[0].ename);
                    let comn=document.getElementById('comname');
                    let ur="companyload("+JSON.parse(data['company'])[0].eid+")";
                    comn.setAttribute('onclick', ur);
                    $('#loca').text(JSON.parse(data['info'])[0].location);
                    $('#jobtit').text(JSON.parse(data['info'])[0].fnarea);
                    $('#datesh').text(JSON.parse(data['info'])[0].postdate);
                    $('#desc').text(JSON.parse(data['info'])[0].jobdesc);
                    $('#exp').text(JSON.parse(data['info'])[0].experience);
                    $('#lev').text(JSON.parse(data['info'])[0].careerlevel);
                    $('#jobtype').text(JSON.parse(data['info'])[0].jobtype);
                    let sal=JSON.parse(data['info'])[0].basicpay;
                    if(sal=="1")
                    {
                        $('#sal').text("$0 - $700");
                    }
                    else if(sal=="2")
                    {
                        $('#sal').text("$700 - $1000");
                    }
                    else if(sal=="3")
                    {
                        $('#sal').text("$1000 - $1200");
                    }
                    else if(sal=="4")
                    {
                        $('#sal').text("$1200 - $1400");
                    }
                    else if(sal=="5")
                    {
                        $('#sal').text("$1500 - $1800");
                    }
                    else if(sal=="6")
                    {
                        $('#sal').text("$2000 - $3000");
                    }
                    $('#comna').text(JSON.parse(data['company'])[0].ename);
                    $('#indus').text(JSON.parse(data['company'])[0].industry);
                    $('#locat').text(JSON.parse(data['company'])[0].location);
                    let urln=data['logo'];
                    $('#coverim').remove();
                    if(urln)
                    {
                        let ab=document.createElement('img')
                        ab.setAttribute('src', urln);
                        ab.setAttribute('id', 'coverim');
                        ab.style.width='4rem';
                        ab.style.height='4rem';
                        document.getElementById('coverimage').append(ab)
                    }
                    let siz=JSON.parse(data['company'])[0].size;
                    if(siz=="1")
                    {
                        $('#size').text('< 50 employees')
                    }
                    else if(siz=="2")
                    {
                        $('#size').text('50 - 100 employees')
                    }
                    else if(siz=="3")
                    {
                        $('#size').text('100 - 150 employees')
                    }
                    else if(siz=="4")
                    {
                        $('#size').text('150 - 200 employees')
                    }
                    else if(siz=="5")
                    {
                        $('#size').text('200 - 250 employees')
                    }
                    else if(siz=="6")
                    {
                        $('#size').text('250 - 300 employees')
                    }
                    else if(siz=="7")
                    {
                        $('#size').text('> 300 employees')
                    }
                    $('#yearfounded').text(JSON.parse(data['company'])[0].yearfounded);
                    $('#phone').text(JSON.parse(data['company'])[0].phone);
                    $('#ema').text(JSON.parse(data['emai']).email);
                    $('#webs').text(JSON.parse(data['company'])[0].website);
                    let fbl=JSON.parse(data['company'])[0].fblink;
                    if(fbl)
                    {
                        let fblink=document.getElementById('fb');
                        fblink.setAttribute('href', fbl)
                        fblink.setAttribute('target', '_blank')
                        fblink=document.getElementById('fb2');
                        fblink.setAttribute('href', fbl)
                        fblink.setAttribute('target', '_blank')
                    }
                    let twl=JSON.parse(data['company'])[0].twlink;
                    if(twl)
                    {
                        let twlink=document.getElementById('tw');
                        twlink.setAttribute('href', twl)
                        twlink.setAttribute('target', '_blank')
                        twlink=document.getElementById('tw2');
                        twlink.setAttribute('href', twl)
                        twlink.setAttribute('target', '_blank')
                    }
                    let inl=JSON.parse(data['company'])[0].inlink;
                    if(inl)
                    {
                        let inlink=document.getElementById('in');
                        inlink.setAttribute('href', inl)
                        inlink.setAttribute('target', '_blank')
                        inlink=document.getElementById('in2');
                        inlink.setAttribute('href', inl)
                        inlink.setAttribute('target', '_blank')
                    }
                    let lnl=JSON.parse(data['company'])[0].lnlink;
                    if(lnl)
                    {
                        let lnlink=document.getElementById('ln');
                        lnlink.setAttribute('href', lnl)
                        lnlink.setAttribute('target', '_blank')
                        lnlink=document.getElementById('ln2');
                        lnlink.setAttribute('href', lnl)
                        lnlink.setAttribute('target', '_blank')
                    }
                    let ski=JSON.parse(data['info'])[0].skills;
                    let lu=document.getElementById('skil');
                    while (lu.firstChild) {
                        lu.removeChild(lu.lastChild);
                    }
                    if(ski)
                    {
                        ski=ski.split("\n");
                        for(let i=0;i<ski.length;i++)
                        {
                            let il=document.createElement('li');
                            il.innerHTML=ski[i];
                            lu.append(il);
                        }
                    }
                    let resp=JSON.parse(data['info'])[0].responsibilities;
                    let lur=document.getElementById('resp');
                    while (lur.firstChild) {
                        lur.removeChild(lur.lastChild);
                    }
                    if(resp)
                    {
                        resp=resp.split("\n");
                        for(let i=0;i<resp.length;i++)
                        {
                            let il=document.createElement('li');
                            il.innerHTML=resp[i];
                            lur.append(il);
                        }
                    }
                    let reqr=JSON.parse(data['info'])[0].requirements;
                    let luq=document.getElementById('requ');
                    while (luq.firstChild) {
                        luq.removeChild(luq.lastChild);
                    }
                    if(reqr)
                    {
                        reqr=reqr.split("\n");
                        for(let i=0;i<reqr.length;i++)
                        {
                            let il=document.createElement('li');
                            il.innerHTML=reqr[i];
                            luq.append(il);
                        }
                    }
                }
            })
        }
        function messageclick(id)
        {
            $.ajax(
                {
                    type:"POST",
                    url: "{% url 'candidate:thread' pk %}",
                    data:{
                        sender: id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function( data ) 
                    {
                        window.location="{% url 'candidate:inbox' pk %}";
                    },
                })
        }
        function companyload(id)
        {
            $.ajax(
                {
                    type:"GET",
                    url: "{% url 'candidate:company' pk %}",
                    data:{
                        eid: id,
                    },
                    success: function( data ) 
                    {
                        let datainfo=JSON.parse(data['info'])[0];
                        $('#comnam').text(datainfo.ename);
                        $('#comna2').text(datainfo.ename);
                        $('#comloc').text(datainfo.location);
                        $('#comlo2').text(datainfo.location);
                        $('#comabo').text(datainfo.profile);
                        $('#comind').text(datainfo.industry);
                        let siz=datainfo.size;
                        if(siz=="1")
                        {
                            $('#comsiz').text('< 50 employees')
                        }
                        else if(siz=="2")
                        {
                            $('#comsiz').text('50 - 100 employees')
                        }
                        else if(siz=="3")
                        {
                            $('#comsiz').text('100 - 150 employees')
                        }
                        else if(siz=="4")
                        {
                            $('#comsiz').text('150 - 200 employees')
                        }
                        else if(siz=="5")
                        {
                            $('#comsiz').text('200 - 250 employees')
                        }
                        else if(siz=="6")
                        {
                            $('#comsiz').text('250 - 300 employees')
                        }
                        else if(siz=="7")
                        {
                            $('#comsiz').text('> 300 employees')
                        }
                        $('#comyea').text(datainfo.yearfounded);
                        $('#compho').text(datainfo.phone);
                        $('#comema').text(JSON.parse(data['emai']).email);
                        $('#comweb').text(datainfo.website);
                        let fbl=datainfo.fblink;
                        if(fbl)
                        {
                            let fblink=document.getElementById('comfac');
                            fblink.setAttribute('href', fbl)
                            fblink.setAttribute('target', '_blank')
                        }
                        let twl=datainfo.twlink;
                        if(twl)
                        {
                            let twlink=document.getElementById('comtwi');
                            twlink.setAttribute('href', twl)
                            twlink.setAttribute('target', '_blank')
                        }
                        let inl=datainfo.inlink;
                        if(inl)
                        {
                            let inlink=document.getElementById('comins');
                            inlink.setAttribute('href', inl)
                            inlink.setAttribute('target', '_blank')
                        }
                        let lnl=datainfo.lnlink;
                        if(lnl)
                        {
                            let lnlink=document.getElementById('comlin');
                            lnlink.setAttribute('href', lnl)
                            lnlink.setAttribute('target', '_blank')
                        }
                        let urln=data['logo'];
                        $('#coverim').remove()
                        if(urln)
                        {
                            let ab=document.createElement('img')
                            ab.setAttribute('src', urln);
                            ab.setAttribute('id', 'coverim');
                            ab.setAttribute('class', 'pxp-single-candidate-hero-avatar')
                            ab.style.width='7rem';
                            ab.style.height='7rem';
                            document.getElementById('coverimage2').append(ab)
                        }
                        let cov=data['cover'];
                        if(cov)
                        {
                            let ab=document.getElementById('comcov');
                            let bc="url("+cov+")";
                            ab.style.backgroundImage=bc;
                        }
                    },
            })
        }

        function interviewload(id)
        {
            $.ajax(
                {
                    type:"GET",
                    url: "{% url 'candidate:get_interview' pk %}",
                    data:{
                        eid: id
                    },
                    success: function( data ) 
                    {
                        let info=JSON.parse(data['info']);
                        $('#employer_name').text(info['ename']);
                        $('#link_int').text(info['link']);
                        $('#dateadder').text("Date: "+moment(info['date'].slice(0, 19)).format("MMM. D, YYYY, h:mm a"));
                    },
                })
        }
            {% block script %}
            {% endblock script %}
        </script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>