{% extends 'candidate-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Candidate dashboard</title>
{% endblock %}
{% block content %}
<div class="pxp-dashboard-content-details">
    <h1>Dashboard</h1>
    <p class="pxp-text-light">Welcome to mpower!</p>

    <div class="row mt-4 mt-lg-5 align-items-center">
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-primary">
                    <span class="fa fa-file-text-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ applications|length }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Job applications</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-success bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-success">
                    <span class="fa fa-user-circle-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ profile|length }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Profile visits</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-warning bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-warning">
                    <span class="fa fa-envelope-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ messcount }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Unread messages</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-danger bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-danger">
                    <span class="fa fa-bell-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ request.session.notifnum }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Notifications</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xl-6">
            <h2>Profile Visits</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value">{{ profile|length }}</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 34%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select selectVal" id="selec">
                            <option value="-7 days">Last 7 days</option>
                            <option value="-30 days">Last 30 days</option>
                            <option value="-60 days">Last 60 days</option>
                            <option value="-90 days">Last 90 days</option>
                            <option value="-12 months">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-candidate-dashboard-visits-chart"></canvas>
            </div>
        </div>
        <div class="col-xl-6">
            <h2 class="mt-4 mt-lg-5 mt-xl-0">Applications</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value">{{ applications|length }}</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 56%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select selectVal2">
                            <option value="-7 days">Last 7 days</option>
                            <option value="-30 days">Last 30 days</option>
                            <option value="-60 days">Last 60 days</option>
                            <option value="-90 days">Last 90 days</option>
                            <option value="-12 months">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-candidate-dashboard-app-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xxl-6">
            <h2>Recent Notifications</h2>
            <div class="pxp-candidate-dashboard-notifications">
                {% for i in notifics %}
                {% if i.notif_type == "M" %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-envelope-o"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="{% url 'candidate:under_development' pk=pk %}">{{ i.ename }}</a> sent you a message.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% else %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-user-circle-o"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="#">{{ i.ename }}</a> viewed your profile.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% endif %}
                {% endfor%}
            </div>
        </div>
        <div class="col-xxl-6">
            <h2 class="mt-4 mt-lg-5 mt-xxl-0">Recent Messages</h2>
            <div class="pxp-candidate-dashboard-messages">
                <div class="pxp-candidate-dashboard-messages-item mb-3">
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('/static/images/company-logo-1.png')"></div>
                    <div class="pxp-candidate-dashboard-messages-item-details ms-3">
                        <div class="pxp-candidate-dashboard-messages-item-name">Artistre Studio</div>
                        <div class="pxp-candidate-dashboard-messages-item-date pxp-text-light">Oct 6, 2021 at 8:04 pm</div>
                        <p class="mt-1 mb-0">Lorem Ipsum is also known as: Greeked text, blind text, placeholder text, dummy content, filler text, lipsum, and mock-content.</p>
                    </div>
                </div>
                <div class="pxp-candidate-dashboard-messages-item mb-3">
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('/static/images/company-logo-2.png')"></div>
                    <div class="pxp-candidate-dashboard-messages-item-details ms-3">
                        <div class="pxp-candidate-dashboard-messages-item-name">Craftgenics</div>
                        <div class="pxp-candidate-dashboard-messages-item-date pxp-text-light">Oct 6, 2021 at 8:04 pm</div>
                        <p class="mt-1 mb-0">In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation.</p>
                    </div>
                </div>
                <div class="pxp-candidate-dashboard-messages-item mb-3">
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('/static/images/company-logo-3.png')"></div>
                    <div class="pxp-candidate-dashboard-messages-item-details ms-3">
                        <div class="pxp-candidate-dashboard-messages-item-name">Illuminate Studio</div>
                        <div class="pxp-candidate-dashboard-messages-item-date pxp-text-light">Oct 6, 2021 at 8:04 pm</div>
                        <p class="mt-1 mb-0">Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced.</p>
                    </div>
                </div>
                <div class="pxp-candidate-dashboard-messages-item mb-3">
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('/static/images/company-logo-4.png')"></div>
                    <div class="pxp-candidate-dashboard-messages-item-details ms-3">
                        <div class="pxp-candidate-dashboard-messages-item-name">Syspresoft</div>
                        <div class="pxp-candidate-dashboard-messages-item-date pxp-text-light">Oct 6, 2021 at 8:04 pm</div>
                        <p class="mt-1 mb-0">Lorem Ipsum is also known as: Greeked text, blind text, placeholder text, dummy content, filler text, lipsum, and mock-content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 mt-lg-5">
        <h2>Recent Job Apllications</h2>
        <div class="table-responsive">
            <table class="table align-middle">
                {% for i in applications %}
                <tr>
                    {% if i.logo %}
                        <td style="width: 3%;"><div class="pxp-candidate-dashboard-job-avatar pxp-cover"  style="background-image: url('{{ i.logo.url }}')"></div></td>
                    {% else %}
                    <td style="width: 3%;"><div class="pxp-candidate-dashboard-job-avatar pxp-cover"  style="background-image: url()"></div></td>
                    {% endif %}
                    <td style="width: 25%;">
                        <div class="pxp-candidate-dashboard-job-title">{{ i.title }}</div>
                        <div class="pxp-candidate-dashboard-job-company">{{ i.ename }}</div>
                    </td>
                    <td style="width: 25%;"><div class="pxp-candidate-dashboard-job-category">{{ i.fnarea }}</div></td>
                    <td style="width: 25%;"><div class="pxp-candidate-dashboard-job-location"><span class="fa fa-globe"></span>{{ i.location }}</div></td>
                    <td style="width: 10%;"><div class="pxp-candidate-dashboard-job-type">{{ i.jobtype }}</div></td>
                    <td>
                        <div class="pxp-dashboard-table-options">
                            <ul class="list-unstyled">
                                <li><button title="Preview" onclick="loadermodal('{{i.jobid}}')" data-bs-target="#pxp-job-modal" data-bs-toggle="modal"><span class="fa fa-eye"></span></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pxp-user-modal-fig text-center">
                    <img src="{% static 'images/underconstruction.png' %}" alt="Sign up">
                </div>
                <h5 class="modal-title text-center mt-4" id="signupModal">Under Development</h5>
            </div>
        </div>
    </div>
</div>

{% endblock content%}

{% block script %}
$(document).ready(function () {
    $('#das').addClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
})  



// Candidate dashboard charts
    if ($('#pxp-candidate-dashboard-visits-chart').length > 0) {
        let selectedItem;
        $("select.selectVal").change(function() {
            selectedItem = $(this).children("option:selected").val();
            console.log("Change in visits"+selectedItem);
        });
        var candidateVisitsChartElem = document.getElementById('pxp-candidate-dashboard-visits-chart').getContext('2d');

        var gradient = candidateVisitsChartElem.createLinearGradient(0, 250, 0, 0);
        gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
        gradient.addColorStop(.5, 'rgba(0, 112, 201, 0.09)');
        gradient.addColorStop(1, 'rgba(0, 112, 201, 0.12)');

        var candidateVisitsChart = new Chart(candidateVisitsChartElem, {
            type: 'line',
            data: {
                labels: ['Oct 06', 'Oct 07', 'Oct 08', 'Oct 09', 'Oct 10', 'Oct 11', 'Oct 12'],
                datasets: [{
                    label: 'Visits',
                    data: [20, 56, 34, 78, 38, 28, 54],
                    borderWidth: 3,
                    borderColor: 'rgba(0, 112, 201, 1)',
                    pointBackgroundColor: 'rgba(255, 255, 255, 0)',
                    pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                    pointBorderColor: 'rgba(66, 133, 244, 0)',
                    pointHoverBorderColor: 'rgba(0, 112, 201, 1)',
                    pointBorderWidth: 10,
                    pointHoverBorderWidth: 3,
                    pointHitRadius: 20,
                    cubicInterpolationMode: 'monotone',
                    fill: true,
                    backgroundColor: gradient
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: 'rgba(153, 153, 153, 1)',
                            maxTicksLimit: 7,
                            maxRotation: 0
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 1)',
                            drawOnChartArea: false,
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'rgba(153, 153, 153, 1)',
                            callback: function(value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 0)',
                        },
                    }],
                },
                responsive: true,
                tooltips: {
                    backgroundColor: 'rgba(0, 39, 69, 1)',
                    cornerRadius: 7,
                    mode: 'index',
                    intersect: false,
                    displayColors: false,
                    xPadding: 10,
                    yPadding: 10,
                    titleFontColor: 'rgba(255, 255, 255, .7)',
                    bodyFontColor: 'rgba(255, 255, 255, 1)',
                    titleFontStyle: 'normal',
                    bodyFontStyle: 'bold',
                },
                legend: {
                    display: false,
                }
            }
        });
    }
    if ($('#pxp-candidate-dashboard-app-chart').length > 0) {
        let selectedItem1;
        $("select.selectVal2").change(function() {
            selectedItem1 = $(this).children("option:selected").val();
            console.log(JSON.parse("{{data|escapejs}}"))
        });
        var candidateAppChartElem = document.getElementById('pxp-candidate-dashboard-app-chart').getContext('2d');

        var gradient = candidateVisitsChartElem.createLinearGradient(0, 250, 0, 0);
        gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
        gradient.addColorStop(.5, 'rgba(255, 168, 35, 0.09)');
        gradient.addColorStop(1, 'rgba(255, 168, 35, 0.12)');
        var candidateAppChart = new Chart(candidateAppChartElem, {
            type: 'line',
            data: {
                labels: ['Oct 06', 'Oct 07', 'Oct 08', 'Oct 09', 'Oct 10', 'Oct 11', 'Oct 12'],
                datasets: [{
                    label: 'Applications',
                    data: JSON.parse('{{pastsev}}'),
                    borderWidth: 3,
                    borderColor: 'rgba(255, 168, 35, 1)',
                    pointBackgroundColor: 'rgba(255, 255, 255, 0)',
                    pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                    pointBorderColor: 'rgba(66, 133, 244, 0)',
                    pointHoverBorderColor: 'rgba(255, 168, 35, 1)',
                    pointBorderWidth: 10,
                    pointHoverBorderWidth: 3,
                    pointHitRadius: 20,
                    cubicInterpolationMode: 'monotone',
                    fill: true,
                    backgroundColor: gradient
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: 'rgba(153, 153, 153, 1)',
                            maxTicksLimit: 7,
                            maxRotation: 0
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 1)',
                            drawOnChartArea: false,
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'rgba(153, 153, 153, 1)',
                            callback: function(value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 0)',
                        },
                    }],
                },
                responsive: true,
                tooltips: {
                    backgroundColor: 'rgba(0, 39, 69, 1)',
                    cornerRadius: 7,
                    mode: 'index',
                    intersect: false,
                    displayColors: false,
                    xPadding: 10,
                    yPadding: 10,
                    titleFontColor: 'rgba(255, 255, 255, .7)',
                    bodyFontColor: 'rgba(255, 255, 255, 1)',
                    titleFontStyle: 'normal',
                    bodyFontStyle: 'bold',
                },
                legend: {
                    display: false,
                }
            }
        });
        
    }
{% endblock script %}