{% extends 'candidate-index.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>mpower - Candidate dashboard</title>
<script>
    window.module = {};
  </script>
          <script src="{% static 'js/confetti.js' %}"></script>

  <script>

    window.confetti = module.exports;
  </script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.0/ace.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"></script>
  <style>
      .confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: popupOpen 0.2s ease-in;
}
@keyframes popupOpen {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}


.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#close-popup {
    margin-top: 10px;
}

/* #congratulationsModal .modalcontent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

  </style>
{% endblock %}
{% block content %}
<div class="pxp-dashboard-content-details">
    <div class="row  align-items-center">
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-primary">
                    <span class="fa fa-file-text-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ applications|length }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Job applications</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-success bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-success">
                    <span class="fa fa-user-circle-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ profile|length }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Profile visits</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-warning bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-warning">
                    <span class="fa fa-envelope-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ messcount }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Unread messages</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xxl-3">
            <div class="pxp-dashboard-stats-card bg-danger bg-opacity-10 mb-3 mb-xxl-0">
                <div class="pxp-dashboard-stats-card-icon text-danger">
                    <span class="fa fa-bell-o"></span>
                </div>
                <div class="pxp-dashboard-stats-card-info">
                    <div class="pxp-dashboard-stats-card-info-number">{{ request.session.notifnum }}</div>
                    <div class="pxp-dashboard-stats-card-info-text pxp-text-light">Notifications</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xl-6">
            <h2>Profile Visits</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value vissh"></span>
                        <span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 34%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select selectVal" id="selec">
                            <option value="s">Last 7 days</option>
                            <option value="t">Last 30 days</option>
                            <option value="x">Last 60 days</option>
                            <option value="n">Last 90 days</option>
                            <option value="y">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-candidate-dashboard-visits-chart"></canvas>
            </div>
        </div>
        <div class="col-xl-6">
            <h2 class="mt-4 mt-lg-5 mt-xl-0">Applications</h2>
            <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                <div class="row justify-content-between align-content-center mb-4">
                    <div class="col-auto">
                        <span class="pxp-dashboard-chart-value appsh"></span>
                        <span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 56%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                    </div>
                    <div class="col-auto">
                        <select class="form-select selectVal2">
                            <option value="s">Last 7 days</option>
                            <option value="t">Last 30 days</option>
                            <option value="x">Last 60 days</option>
                            <option value="n">Last 90 days</option>
                            <option value="y">Last 12 months</option>
                        </select>
                    </div>
                </div>
                <canvas id="pxp-candidate-dashboard-app-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-4 mt-lg-5">
        <div class="col-xxl-6">
            <h2>Recent Notifications</h2>
            <div class="pxp-candidate-dashboard-notifications">
        {% for i in notifics %}

                {% if i.notif_type == "M" %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-envelope-o"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="#" onclick="messageclick({{i.log_id}})">{{ i.ename }}</a> sent you a message.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% elif i.notif_type == "T" %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-book"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="{% url 'candidate:tests' pk %}">{{ i.ename }}</a> scheduled a test.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% elif i.notif_type == "I" %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-user"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="#" onclick="interviewload({{i.eid}})" data-bs-target="#pxp-interview-modal" data-bs-toggle="modal">{{ i.ename }}</a> scheduled a interview.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% elif i.notif_type == "A" %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-user"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="#" >Congratulations🎉 {{ i.ename }}</a>has selected you for {{i.title}} job role.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% else %}
                <div class="pxp-candidate-dashboard-notifications-item mb-3">
                    <div class="pxp-candidate-dashboard-notifications-item-left">
                        <div class="pxp-candidate-dashboard-notifications-item-type"><span class="fa fa-user-circle-o"></span></div>
                        <div class="pxp-candidate-dashboard-notifications-item-message">
                            <a href="#" onclick="companyload({{i.eid}})" data-bs-target="#pxp-company-modal" data-bs-toggle="modal">{{ i.ename }}</a> viewed your profile.
                        </div>
                    </div>
                    <div class="pxp-candidate-dashboard-notifications-item-right">{{ i.datetime|naturaltime }}</div>
                </div>
                {% endif %}
                {% endfor%}

            </div>
        </div>
                <div class="col-xxl-6">
                    <h2 class="mt-4 mt-lg-5 mt-xxl-0">Recent Messages</h2>
                {% for i in recent %}

                    <div class="pxp-candidate-dashboard-messages">
                <div class="pxp-candidate-dashboard-messages-item mb-3">
                    {% if i.3 %}
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('{{i.3.url}}')"></div>
                    {% else %}
                    <div class="pxp-candidate-dashboard-messages-item-avatar pxp-cover" style="background-image: url('/static/images/company-logo-1.png')"></div>
                    {% endif %}
                    <div class="pxp-candidate-dashboard-messages-item-details ms-3">
                        <div class="pxp-candidate-dashboard-messages-item-name">{{i.2}}</div>
                        <div class="pxp-candidate-dashboard-messages-item-date pxp-text-light">{{i.0}}</div>
                        <p class="mt-1 mb-0">{{i.1}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="mt-4 mt-lg-5">
        <h2>Recent Job Applications</h2>
        <div class="table-responsive">
            <table class="table align-middle">
                {% for i in applications %}

                <tr>
                    {% if i.logo %}
                        <td style="width: 3%;"><div class="pxp-candidate-dashboard-job-avatar pxp-cover"  style="background-image: url('{{ i.logo.url }}')"></div></td>
                    {% else %}
                    <td style="width: 3%;"><div class="pxp-candidate-dashboard-job-avatar pxp-cover"  style="background-image: url()"></div></td>
                    {% endif %}
                    <td style="width: 25%;">
                        <div class="pxp-candidate-dashboard-job-title">{{ i.title }}</div>
                        <div class="pxp-candidate-dashboard-job-company">{{ i.ename }}</div>
                    </td>
                    <td style="width: 25%;"><div class="pxp-candidate-dashboard-job-category">{{ i.fnarea }}</div></td>
                    <td style="width: 25%;"><div class="pxp-candidate-dashboard-job-location"><span class="fa fa-globe"></span>{{ i.location }}</div></td>
                    <td style="width: 10%;"><div class="pxp-candidate-dashboard-job-type">{{ i.jobtype }}</div></td>
                    <td>
                        <div class="pxp-dashboard-table-options">
                            <ul class="list-unstyled">
                                <li><button title="Preview" onclick="loadermodal('{{i.jobid}}')" data-bs-target="#pxp-job-modal" data-bs-toggle="modal"><span class="fa fa-eye"></span></button></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
<div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pxp-user-modal-fig text-center">
                    <img src="{% static 'images/underconstruction.png' %}" alt="Sign up">
                </div>
                <h5 class="modal-title text-center mt-4" id="signupModal">Under Development</h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pxp-user-modal" id="pxp-popup-modal" aria-hidden="true" aria-labelledby="popupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title text-center mt-4">{{ request.session.name }}</h5>
            </div>
            <hr>
            <div id="popups">
            </div>
        </div>
    </div>
</div>

<div id="popup" class="popup">

    <div class="popup-content">
         
        <div class="d-flex justify-content-end">
           <h4 aria-hidden="true" style="cursor: pointer;" onclick="closePopup()">&times;</h4>
        </div>
        
        <div class="container p-0" >
            <h5 class="text-primary">Congratulations🎉</h5>
            <p class="text-muted">You have been selected as <span class="text-primary">{{approved_role}}</span> at <span class="text-primary">{{approved_company_name}}</span>.</p>
        </div>
        <div class="modal-body" style="padding: 1rem !important">
            <div class="pxp-company-dashboard-jobs-bulk-actions" style="margin-left: auto;">
                <button class="btn ms-2" onclick="proceedBtn()">Proceed</button>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script >
    const popupCongrats = document.getElementById("popup");
  function showPopup() {
    
}
function proceedBtn() {
    var url = "{% url 'candidate:templates' pk=pk %}";
    window.location.href = url;
}


function closePopup() {
    popupCongrats.style.display = "none";
    celebrate();
}
const pxpPopupModal = document.getElementById('pxp-popup-modal');
function congrats() {
    let isApproved = {{is_approved}};
    if (isApproved !== 0 && pxpPopupModal.style.display === 'none') {
        
        popupCongrats.style.display = "flex";
        fireworks();
        // celebrate();
    }
}
var duration = 5 * 1000;
var animationEnd = Date.now() + duration;
var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

function randomInRange(min, max) {
  return Math.random() * (max - min) + min;
}
function fireworks(){
    var interval = setInterval(function() {
  var timeLeft = animationEnd - Date.now();

  if (timeLeft <= 0) {
    return clearInterval(interval);
  }

  var particleCount = 200 * (timeLeft / duration);
  confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
  confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
}, 250);
}

congrats();
pxpPopupModal.addEventListener('hidden.bs.modal', function (event) {
    congrats();
});
function celebrate() {
    const confettiConfig = {
        particleCount: 150,
        spread: 100,
        startVelocity: 50,
        decay: 0.85,
        colors: ['#007bff', '#ff00ff', '#00ff00', '#ffff00', '#ff0000'],
    };
   

    confetti(confettiConfig);
}



    </script>
{% endblock content%}

{% block script %}
$(document).ready(function () {
    $('#das').addClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#tes').removeClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
    $('#pla').removeClass('pxp-active');
    let data={{ pending| safe }}
    if(data.length>0)
    {
        console.log(data);
        $('#pxp-popup-modal').modal('show');
        let ul=document.createElement('ul');
        ul.setAttribute('id', 'popup');
        for(let i=0;i<data.length;i++)
        {
            let li = document.createElement('li');
            let textWithLink = data[i];
            let match = textWithLink.match(/Link: (http:\/\/[^\s]+)/);

            if (match) {
                let link = match[1];
                let text = textWithLink.replace(match[0], ''); // Remove the link from the text
                li.innerHTML = `${text} <a href="${link}">Link</a>`;
                console.log(link+" "+text);
                ul.appendChild(li);
            }else{
                let li=document.createElement('li');
                li.innerHTML=data[i];
                ul.append(li);
            }

        }
        let maindiv=document.getElementById('popups');
        maindiv.append(ul);
    }
})



// Candidate dashboard charts

function chart_shower(dates, chart_data, para)
    {
        var candidateAppChartElem, labelval, colorval, gradient;
        if(para=="a")
        {
            candidateAppChartElem=document.getElementById('pxp-candidate-dashboard-app-chart').getContext('2d');
            gradient = candidateAppChartElem.createLinearGradient(0, 250, 0, 0);
            gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
            gradient.addColorStop(.5, 'rgba(255, 168, 35, 0.09)');
            gradient.addColorStop(1, 'rgba(255, 168, 35, 0.12)');
            labelval='Applications';
            colorval='rgba(255, 168, 35, 1)';
        }
        else
        {
            candidateAppChartElem=document.getElementById('pxp-candidate-dashboard-visits-chart').getContext('2d');
            gradient = candidateAppChartElem.createLinearGradient(0, 250, 0, 0);
            gradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
            gradient.addColorStop(.5, 'rgba(0, 112, 201, 0.09)');
            gradient.addColorStop(1, 'rgba(0, 112, 201, 0.12)');
            labelval='Visits';
            colorval='rgba(0, 112, 201, 1)';
        }
        var candidateAppChart = new Chart(candidateAppChartElem, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: labelval,
                    data: chart_data,
                    borderWidth: 3,
                    borderColor: colorval,
                    pointBackgroundColor: 'rgba(255, 255, 255, 0)',
                    pointHoverBackgroundColor: 'rgba(255, 255, 255, 1)',
                    pointBorderColor: 'rgba(66, 133, 244, 0)',
                    pointHoverBorderColor: colorval,
                    pointBorderWidth: 10,
                    pointHoverBorderWidth: 3,
                    pointHitRadius: 20,
                    cubicInterpolationMode: 'monotone',
                    fill: true,
                    backgroundColor: gradient
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: 'rgba(153, 153, 153, 1)',
                            maxTicksLimit: 7,
                            maxRotation: 0
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 1)',
                            drawOnChartArea: false,
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'rgba(153, 153, 153, 1)',
                            callback: function(value, index, values) {
                                if (Math.floor(value) === value) {
                                    return value;
                                }
                            }
                        },
                        gridLines: {
                            zeroLineColor: 'rgba(232, 232, 232, 0)',
                        },
                    }],
                },
                responsive: true,
                tooltips: {
                    backgroundColor: 'rgba(0, 39, 69, 1)',
                    cornerRadius: 7,
                    mode: 'index',
                    intersect: false,
                    displayColors: false,
                    xPadding: 10,
                    yPadding: 10,
                    titleFontColor: 'rgba(255, 255, 255, .7)',
                    bodyFontColor: 'rgba(255, 255, 255, 1)',
                    titleFontStyle: 'normal',
                    bodyFontStyle: 'bold',
                },
                legend: {
                    display: false,
                }
            }
        });
    }

    if ($('#pxp-candidate-dashboard-visits-chart').length > 0) {
        $('.vissh').text({{charts.vcount_7}});
        let selectedItem;
        var dates=[];
        var chart_data=JSON.parse('{{ charts.vpastsev }}');
        function getMonthName(monthNumber) {
            const date = new Date();
            date.setMonth(monthNumber - 1);
            return date.toLocaleString('en-US', { month: 'short' });
          }
          var de={{charts.vdates|safe}};
          
          for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_shower(dates, chart_data, "v");

        $("select.selectVal").change(function() {
            dates=[];
            selectedItem = $(this).children("option:selected").val();
            if($(this).val()=="s")
            {
                $('.vissh').text({{charts.vcount_7}});
                de={{charts.vdates|safe}};
                chart_data=JSON.parse('{{ charts.vpastsev }}');
            }
            else if($(this).val()=="t")
            {
                $('.vissh').text({{charts.vcount_30}});
                de={{charts.vdates30|safe}};
                chart_data=JSON.parse('{{ charts.vpastthi }}');
            }
            else if($(this).val()=="x")
            {
                $('.vissh').text({{charts.vcount_60}});
                de={{charts.vdates60|safe}};
                chart_data=JSON.parse('{{ charts.vpastsix }}');
            }
            else if($(this).val()=="n")
            {
                $('.vissh').text({{charts.vcount_90}});
                de={{charts.vdates90|safe}};
                chart_data=JSON.parse('{{ charts.vpastnin }}');
            }
            else if($(this).val()=="y")
            {
                $('.vissh').text({{charts.vcount_365}});
                de={{charts.vdates365|safe}};
                chart_data=JSON.parse('{{ charts.vpastyea }}');
            }
            for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_shower(dates, chart_data, "v");
        });
        
    }


    if ($('#pxp-candidate-dashboard-app-chart').length > 0) {
        $('.appsh').text({{charts.count_7}});
        let selectedItem1;
        var dates=[];
        var chart_data=JSON.parse('{{ charts.pastsev }}');
        function getMonthName(monthNumber) {
            const date = new Date();
            date.setMonth(monthNumber - 1);
            return date.toLocaleString('en-US', { month: 'short' });
          }
          var de={{charts.dates|safe}};
          
          for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_shower(dates, chart_data, "a");
            
        $("select.selectVal2").change(function() {
            dates=[];
            selectedItem1 = $(this).children("option:selected").val();
            if($(this).val()=="s")
            {
                $('.appsh').text({{charts.count_7}});
                de={{charts.dates|safe}};
                chart_data=JSON.parse('{{ charts.pastsev }}');
            }
            else if($(this).val()=="t")
            {
                $('.appsh').text({{charts.count_30}});
                de={{charts.dates30|safe}};
                chart_data=JSON.parse('{{ charts.pastthi }}');
            }
            else if($(this).val()=="x")
            {
                $('.appsh').text({{charts.count_60}});
                de={{charts.dates60|safe}};
                chart_data=JSON.parse('{{ charts.pastsix }}');
            }
            else if($(this).val()=="n")
            {
                $('.appsh').text({{charts.count_90}});
                de={{charts.dates90|safe}};
                chart_data=JSON.parse('{{ charts.pastnin }}');
            }
            else if($(this).val()=="y")
            {
                $('.appsh').text({{charts.count_365}});
                de={{charts.dates365|safe}};
                chart_data=JSON.parse('{{ charts.pastyea}}');
            }
            for(let i=0;i<de.length;i++)
            {
                let abc=getMonthName(parseInt(de[i].slice(5,7))) + " " + de[i].slice(8,10)
                dates.push(abc)
            }
            chart_shower(dates, chart_data, "a");
        });
        
        
    }
{% endblock script %}