{% extends 'candidate-index.html' %}

{% block title %}
<title>Candidate Onboarding</title>
<style>
    .pxp-jobs-card-3 {
        padding: 15px;
        margin-top: 10px;
    }
    .pxp-jobs-card-3-company-logo {
        width: 49px;
        height: 50px;
    }
    .inactive-div {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none; /* Prevents mouse clicks and hover events */
  cursor: not-allowed; /* Changes cursor to indicate it's not clickable */
}
.active-div
{
    background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}

</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}');</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h2 class="m-0">Onboarding Status</h2>
    <p class="pxp-text-light m-0">Complete transparency on the 10-step onboarding process.</p>
    <br>
    <div class="pxp-jobs-card-3 active-div" >
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex gap-5 align-items-center">
                <div class="col-sm-3 col-md-2 col-xxl-auto px-3  text-black rounded-pill">
                   <span class="fa fa-file-text-o" style="font-size:35px"></span>
                </div>
                <div class="col-sm-9 col-md-10 col-xxl-6">
                    <a class="pxp-jobs-card-3-title mt-3 mt-sm-0">Document Verification</a>
                    <div class="pxp-jobs-card-3-details">
                        <a href="jobs-list-1.html" class="pxp-jobs-card-3-location">
                            <span class="fa fa-road"></span>5 days till onboarding
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-xxl-6 mt-3 mt-xxl-0">
                    <a  class="pxp-jobs-card-3-category m-0">
                        <div class="pxp-jobs-card-3-category-label">Pending Document Approval</div>
                    </a>
                    <div class="pxp-jobs-card-3-date-company">
                        <b  class="pxp-jobs-card-3-company">Remarks by Employer</b>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4 col-xxl-auto mt-3 mt-xxl-0 pxp-text-right">
                <a  id="pxp-exp-modal-button" data-bs-target="#pxp-doc-modal" data-bs-toggle="modal" class="btn rounded-pill btn-dark">In Review</a>
            </div>
           
        </div>
    </div>


    <div class="pxp-jobs-card-3 pxp-has-border inactive-div" style="background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
    
    ">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex gap-5 align-items-center">
                <div class="col-sm-3 col-md-2 col-xxl-auto px-3  text-black rounded-pill">
                   <span class="fa fa-file-text-o" style="font-size:35px"></span>
                </div>
                <div class="col-sm-9 col-md-10 col-xxl-6">
                    <a class="pxp-jobs-card-3-title mt-3 mt-sm-0">Document Verification</a>
                    <div class="pxp-jobs-card-3-details">
                        <a href="jobs-list-1.html" class="pxp-jobs-card-3-location">
                            <span class="fa fa-road"></span>5 days till onboarding
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-xxl-6 mt-3 mt-xxl-0">
                    <a  class="pxp-jobs-card-3-category m-0">
                        <div class="pxp-jobs-card-3-category-label">Pending Document Approval</div>
                    </a>
                    <div class="pxp-jobs-card-3-date-company">
                        <b  class="pxp-jobs-card-3-company">Remarks by Employer</b>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4 col-xxl-auto mt-3 mt-xxl-0 pxp-text-right">
                <a  id="pxp-exp-modal-button" data-bs-target="#pxp-doc-modal" data-bs-toggle="modal" class="btn rounded-pill btn-light">Details</a>
            </div>
           
        </div>
    </div>


    <div class="pxp-jobs-card-3 pxp-has-border inactive-div" style="background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
    
    ">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex gap-5 align-items-center">
                <div class="col-sm-3 col-md-2 col-xxl-auto px-3  text-black rounded-pill">
                   <span class="fa fa-file-text-o" style="font-size:35px"></span>
                </div>
                <div class="col-sm-9 col-md-10 col-xxl-6">
                    <a class="pxp-jobs-card-3-title mt-3 mt-sm-0">Document Verification</a>
                    <div class="pxp-jobs-card-3-details">
                        <a href="jobs-list-1.html" class="pxp-jobs-card-3-location">
                            <span class="fa fa-road"></span>5 days till onboarding
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-xxl-6 mt-3 mt-xxl-0">
                    <a  class="pxp-jobs-card-3-category m-0">
                        <div class="pxp-jobs-card-3-category-label">Pending Document Approval</div>
                    </a>
                    <div class="pxp-jobs-card-3-date-company">
                        <b  class="pxp-jobs-card-3-company">Remarks by Employer</b>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4 col-xxl-auto mt-3 mt-xxl-0 pxp-text-right">
                <a  id="pxp-exp-modal-button" data-bs-target="#pxp-doc-modal" data-bs-toggle="modal" class="btn rounded-pill btn-light">Details</a>
            </div>
           
        </div>
    </div>

   

    

    
    <div class="modal fade pxp-user-modal" id="pxp-doc-modal" aria-hidden="true" aria-labelledby="expModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="
        display: flex;
        align-items: center;
        justify-content: center;">
            <div class="modal-content" style="width: 100vw;">
                <div class="modal-header" style="margin-top: 20px;font-weight: bold;">
                    Upload Documents
                </div>
                <hr>
                <div class="modal-body" style="width: 50vw; padding: 20px !important;">
                    <div class="pxp-dashboard-content-details" style="margin-right:0px; box-shadow: none; padding: 0px">
                        <form>
                            <div class="row ">
                                <div class="col-xxl-6">
                                    <div class="mb-3">
                                        <label for="pxp-company-job-title" class="form-label">Job title</label>
                                        <h5>Network Engineer</h5>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xxl-6">
                                    <label for="pxp-company-job-location" class="form-label">Location</label>
                                    <h5>Bengaluru, Karnataka</h5>
                                </div>
                                
                            </div>
                            
                            <hr>
                            <br>
                            <div class="col-md-12  d-flex flex-row gap-5 align-items-start">
                                <div class=" col-md-5">
                                    <label for="pxp-company-job-level" class="form-label">Document Type</label>
                                    <select id="pxp-company-job-level" class="form-select" name="careerlevel" required>
                                        <option>Aadhar Card</option>
                                        <option>Driver's License</option>
                                        <option>PAN Card</option>
                                        <option>Voter's ID</option>
                                    </select>
                                </div>

                                <div class="pxp-company-cover col-md-5">
                                    <input type="file" id="pxp-company-cover-choose-file" accept="image/*">
                                    <label for="pxp-company-cover-choose-file" class="pxp-cover"><span>Upload Document Image (less than 1MB JPG,PNG only)</span></label>
                                </div>

                            </div>
                            

                            </div>
                        </form>
                    </div>
                   
                    <button class="btn rounded-pill pxp-subsection-cta" onclick="jobmodalsub()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
   
</div>
{% endblock content %}

{% block script %}
$(document).ready(function () {
    $('#das').removeClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#tes').removeClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
})
{% endblock %}