{% extends 'candidate-index.html' %}

{% block title %}
<title>mpower - Candidate dashboard - Change password</title>
{% endblock %}

{% block content %}
{% load static %}
<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h1>Change Password</h1>
    <p class="pxp-text-light">Choose a new account password.</p>

    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-candidate-old-password" class="form-label">Old password</label>
                    <input type="password" id="pxp-candidate-old-password" class="form-control" placeholder="Enter old password" name="old">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-candidate-new-password" class="form-label">New password</label>
                    <input type="password" id="pxp-candidate-new-password" class="form-control" placeholder="Enter new password"  name="new">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pxp-candidate-new-password-repeat" class="form-label">New password repeat</label>
                    <input type="password" id="pxp-candidate-new-password-repeat" class="form-control" placeholder="Repeat new password" name="cnew">
                </div>
            </div>
        </div>

        <div class="mt-4 mt-lg-5">
            <button class="btn rounded-pill pxp-section-cta" type="submit">Save New Password</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
$(document).ready(function () {
    $('#das').removeClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').addClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#tes').removeClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
})
{% endblock %}