{% extends 'candidate-index.html' %}

{% block title %}
<title>mpower - Candidate dashboard - Edit profile</title>
{% endblock %}

{% block content %}
{% load static %}

<div class="pxp-dashboard-content-details">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    <h1>Edit Profile</h1>
    <p class="pxp-text-light">Edit your candidate profile page info.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-4 mt-lg-5">
            <div class="col-xxl-8">
                <div class="mb-3">
                    <label for="pxp-candidate-name" class="form-label">Name</label>
                    <input type="text" id="pxp-candidate-name" class="form-control" placeholder="Add your name" name="name" value="{{ request.session.name }}">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="pxp-candidate-title" class="form-label">Title</label>
                            {% if user.title %}
                                <input type="text" id="pxp-candidate-title" class="form-control" name="title" placeholder="E.g. Web Designer" value="{{ user.title }}">
                            {% else %}
                                <input type="text" id="pxp-candidate-title" class="form-control" name="title" placeholder="E.g. Web Designer">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="pxp-candidate-location" class="form-label">Location</label>
                            <input type="tel" id="pxp-candidate-location" class="form-control" placeholder="E.g. San Francisco, CA" name="location" value="{{ user.location }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="pxp-candidate-email" class="form-label">Email</label>
                            <input type="email" id="pxp-candidate-email" class="form-control" placeholder="candidate@email.com" name="email" value="{{ log }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="pxp-candidate-phone" class="form-label">Phone</label>
                            <input type="tel" id="pxp-candidate-phone" class="form-control" placeholder="(+12) 345 6789" name="phone" value="{{ user.phone }}">
                            <a class="btn rounded-pill pxp-subsection-cta action-but3">Get OTP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="form-label">&nbsp;</div>
                <div class="pxp-candidate-cover mb-3">
                    <input type="file" id="pxp-candidate-cover-choose-file" accept="image/*" width="100%" height="166px" name="photo">
                    {% if request.session.photo %}
                        <label for="pxp-candidate-cover-choose-file" class="pxp-cover" style="background-image: url('{{ request.session.photo }}')"><span>Update Photo</span></label>
                    {% else %}
                        <label for="pxp-candidate-cover-choose-file" class="pxp-cover"><span>Upload Photo</span></label>
                    {% endif %}
                </div>
                {% comment %} <div class="pxp-candidate-photo mb-3">
                    <input type="file" id="pxp-candidate-photo-choose-file" accept="image/*">
                    <label for="pxp-candidate-photo-choose-file" class="pxp-cover"><span>Upload<br>Photo</span></label>
                </div> {% endcomment %}
            </div>
        </div>

        <div class="mb-3">
            <label for="pxp-candidate-about" class="form-label">About you</label>
            <textarea class="form-control" id="pxp-candidate-about" placeholder="Type your info here..." name="about">{{ user.about }}</textarea>
        </div>

        <div class="mt-4 mt-lg-5">
            <h2>Skills</h2>
            <div class="pxp-candidate-dashboard-skills mb-3">
                <ul class="list-unstyled">
                    {% for i in skills %}
                    <li>{{ i }}<button class="delete_skill" style="border: none; padding: 0px; margin: 0px; background: none"><input style="display: none" value={{ i }} /><span class="fa fa-trash-o"></span></button></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Skill" name="skill">
                <button type="submit" class="btn skilladder">Add Skill</button>
        </form>
        </div>

        <div class="mt-4 mt-lg-5">
            <h2>Work Experience</h2>
            <div class="table-responsive">
                <table class="table align-middle">
                    {% for i in experience %}
                    <tr>
                        <td style="width: 30%;"><div class="pxp-candidate-dashboard-experience-title">{{ i.job_title }}</div></td>
                        <td style="width: 25%;"><div class="pxp-candidate-dashboard-experience-company">{{ i.company }}</div></td>
                        <td style="width: 25%;"><div class="pxp-candidate-dashboard-experience-time">{{ i.time_period }}</div></td>
                        <td>
                            <div class="pxp-dashboard-table-options">
                                <ul class="list-unstyled">
                                    <li><button type="button" title="Edit" id="pxp-exp-modal-button" data-bs-target="#pxp-edit-modal" data-bs-toggle="modal" onclick="expmodal('{{i.exp_id}}')"><span class="fa fa-pencil"></span></button></li>
                                    <li><button title="Delete" class="delete_exp"><input style="display: none" value={{ i.exp_id }} /><span class="fa fa-trash-o"></span></button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row mt-3 mt-lg-4">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-work-title" class="form-label">Job title</label>
                        <input type="text" id="pxp-candidate-work-title" class="form-control" placeholder="E.g. Web Designer" name="job_title">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-work-company" class="form-label">Company</label>
                        <input type="text" id="pxp-candidate-work-company" class="form-control" placeholder="Company name" name="company">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-work-time" class="form-label">Time period</label>
                        <input type="text" id="pxp-candidate-work-time" class="form-control" placeholder="E.g. 2005 - 2013" name="time_period">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="pxp-candidate-work-about" class="form-label">Description</label>
                <textarea class="form-control pxp-smaller" id="pxp-candidate-work-about" placeholder="Type a short description here..." name="description"></textarea>
            </div>
            <button class="btn rounded-pill pxp-subsection-cta addexper">Add Experience</button>
        </div>

        <div class="mt-4 mt-lg-5">
            <h2>Education & Training</h2>
            <div class="table-responsive">
                <table class="table align-middle">
                    {% for i in education %}
                    <tr>
                        <td style="width: 30%;"><div class="pxp-candidate-dashboard-experience-title">{{ i.title }}</div></td>
                        <td style="width: 25%;"><div class="pxp-candidate-dashboard-experience-school">{{ i.school }}</div></td>
                        <td style="width: 25%;"><div class="pxp-candidate-dashboard-experience-time">{{ i.time_period }}</div></td>
                        <td>
                            <div class="pxp-dashboard-table-options">
                                <ul class="list-unstyled">
                                    <li><button type="button" title="Edit" id="pxp-edu-modal-button" data-bs-target="#pxp-edu-modal" data-bs-toggle="modal" onclick="edumodal('{{i.edu_id}}')"><span class="fa fa-pencil"></span></button></li>
                                    <li><button title="Delete" class="delete_edu"><input style="display: none" value={{ i.edu_id }} /><span class="fa fa-trash-o"></span></button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="row mt-3 mt-lg-4">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-edu-title" class="form-label">Title</label>
                        <input type="text" id="pxp-candidate-edu-title" class="form-control" placeholder="E.g. Architecure" name="edu_title">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-edu-school" class="form-label">School</label>
                        <input type="text" id="pxp-candidate-edu-school" class="form-control" placeholder="School name" name="school">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="pxp-candidate-edu-time" class="form-label">Time period</label>
                        <input type="text" id="pxp-candidate-edu-time" class="form-control" placeholder="E.g. 2005 - 2013"  name="period_edu">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="pxp-candidate-edu-about" class="form-label">Description</label>
                <textarea class="form-control pxp-smaller" id="pxp-candidate-edu-about" placeholder="Type a short description here..."  name="desc"></textarea>
            </div>
            <button class="btn rounded-pill pxp-subsection-cta addedu">Add Education</button>
        </div>

        <div class="mt-4 mt-lg-5">
            <button class="btn rounded-pill pxp-section-cta">Save Profile</button>
        </div>
    </form>
</div>
<div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pxp-user-modal-fig text-center">
                    <img src="{% static 'images/underconstruction.png' %}" alt="Sign up">
                </div>
                <h5 class="modal-title text-center mt-4" id="signupModal">Under Development</h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pxp-user-modal" id="pxp-edit-modal" aria-hidden="true" aria-labelledby="expModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 60vw; padding: 15px 15px !important">
                <div class="row mt-3 mt-lg-4">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-work-title" class="form-label">Job title</label>
                            <input type="text" id="pxp-candidate-work-title" class="form-control" placeholder="E.g. Web Designer" name="job_titlem">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-work-company" class="form-label">Company</label>
                            <input type="text" id="pxp-candidate-work-company" class="form-control" placeholder="Company name" name="companym">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-work-time" class="form-label">Time period</label>
                            <input type="text" id="pxp-candidate-work-time" class="form-control" placeholder="E.g. 2005 - 2013" name="time_periodm">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pxp-candidate-work-about" class="form-label">Description</label>
                    <textarea class="form-control pxp-smaller" id="pxp-candidate-work-about" placeholder="Type a short description here..." name="descriptionm"></textarea>
                </div>
                <input style="display: none" name="expidm">
                <button class="btn rounded-pill pxp-subsection-cta" onclick="expmodalsub()">Edit Experience</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade pxp-user-modal" id="pxp-edu-modal" aria-hidden="true" aria-labelledby="eduModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="
    display: flex;
    align-items: center;
    justify-content: center;">
        <div class="modal-content" style="width: 100vw; display: flex; flex-direction: row; align-items: center">
            <div class="modal-body" style="width: 60vw; padding: 15px 15px !important">
                <div class="row mt-3 mt-lg-4">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-edu-title" class="form-label">Title</label>
                            <input type="text" id="pxp-candidate-edu-title" class="form-control" placeholder="E.g. Architecure" name="edu_titlem">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-edu-school" class="form-label">School</label>
                            <input type="text" id="pxp-candidate-edu-school" class="form-control" placeholder="School name" name="schoolm">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="pxp-candidate-edu-time" class="form-label">Time period</label>
                            <input type="text" id="pxp-candidate-edu-time" class="form-control" placeholder="E.g. 2005 - 2013"  name="period_edum">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pxp-candidate-edu-about" class="form-label">Description</label>
                    <textarea class="form-control pxp-smaller" id="pxp-candidate-edu-about" placeholder="Type a short description here..."  name="descm"></textarea>
                </div>
                <input style="display: none" name="eduidm">
                <button class="btn rounded-pill pxp-subsection-cta" onclick="edumodalsub()">Edit Education</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade pxp-otp-modal" id="pxp-otp-modal" aria-hidden="true" aria-labelledby="otpModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title text-center mt-4">Verify OTP</h5>
            </div>
            <hr>
            <div style="margin-right: auto; margin-left: auto; margin-bottom: 20px" id="messagesshow">
                <input class="form-group" placeholder="Enter opt" type="text" name="otpval" id="pxp-candidate-otp" />
                <button class="btn rounded-pill pxp-subsection-cta action-but4">Verify</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
let ab=0;
$('.skilladder').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "add_skill/",
        data:{
                skill: $('[name="skill"]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})
$('.addexper').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "add_exp/",
        data:{
                title: $('[name="job_title"]').val(),
                company: $('[name="company"]').val(),
                time_period: $('[name="time_period"]').val(),
                description: $('[name="description"]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})
$('.addedu').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "add_edu/",
        data:{
                title: $('[name="edu_title"]').val(),
                school: $('[name="school"]').val(),
                period_edu: $('[name="period_edu"]').val(),
                desc: $('[name="desc"]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})
$('.delete_skill').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "delete_skill/",
        data:{
                val: $(this).children()[0].value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})
$('.delete_exp').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "delete_exp/",
        data:{
                id: $(this).children()[0].value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})
$('.delete_edu').click(function(e){
    e.preventDefault()
    $.ajax(
    {
        type:"POST",
        url: "delete_edu/",
        data:{
                id: $(this).children()[0].value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           window.location.reload();
        }
     })
})


function expmodal(id)
{
    $.ajax(
    {
        type:"GET",
        url: "{% url 'candidate:edit_exp' pk=pk %}",
        data:{
                expid: id
        },
        success: function( data ) 
        {
            $('[name="expidm"]').val(JSON.parse(data['info'])[0].exp_id);
            $('[name="job_titlem"]').val(JSON.parse(data['info'])[0].job_title);
            $('[name="companym"]').val(JSON.parse(data['info'])[0].company);
            $('[name="time_periodm"]').val(JSON.parse(data['info'])[0].time_period);
            $('[name="descriptionm"]').val(JSON.parse(data['info'])[0].description);
        }
    })
}

function expmodalsub()
{
    $.ajax(
    {
        type:"POST",
        url: "{% url 'candidate:edit_exp' pk=pk %}",
        data:{
                expid: $('[name="expidm"]').val(),
                job_title: $('[name="job_titlem"]').val(),
                company: $('[name="companym"]').val(),
                time_period: $('[name="time_periodm"]').val(),
                description: $('[name="descriptionm"]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
           alert("Data updated successfully");
        }
    })
}

function edumodal(id)
{
    $.ajax(
    {
        type:"GET",
        url: "{% url 'candidate:edit_edu' pk=pk %}",
        data:{
                eduid: id
        },
        success: function( data ) 
        {
            $('[name="eduidm"]').val(JSON.parse(data['info'])[0].edu_id);
            $('[name="edu_titlem"]').val(JSON.parse(data['info'])[0].title);
            $('[name="schoolm"]').val(JSON.parse(data['info'])[0].school);
            $('[name="period_edum"]').val(JSON.parse(data['info'])[0].time_period);
            $('[name="descm"]').val(JSON.parse(data['info'])[0].description);
        }
    })
}

function edumodalsub()
{
    $.ajax(
    {
        type:"POST",
        url: "{% url 'candidate:edit_edu' pk=pk %}",
        data:{
                eduid: $('[name="eduidm"]').val(),
                title: $('[name="edu_titlem"]').val(),
                school: $('[name="schoolm"]').val(),
                time_period: $('[name="period_edum"]').val(),
                description: $('[name="descm"]').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            alert("Data updated successfully");
        }
    })
}

$('#pxp-signup-modal-button').on('click', function() {
    $('#pxp-signup-modal').show();
});
$('#pxp-exp-modal-button').on('click', function() {
    $('#pxp-exp-modal').show();
});
$('#pxp-edu-modal-button').on('click', function() {
    $('#pxp-edu-modal').show();
});
$(document).ready(function () {
    $('#das').removeClass('pxp-active');
    $('#edi').addClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').removeClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#tes').removeClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
})


$('.action-but3').click(function(){
    if(document.getElementById('pxp-candidate-phone').value=="")
    {
        alert("Please enter a valid phone number");
        $('#pxp-candidate-phone').val('{{ user.phone }}');
        return;
    }
    let text1 = document.getElementById('pxp-candidate-phone').value;
    if(text1=='{{user.phone}}')
    {
        alert("Please enter a different phone number");
        return;
    }
    $.ajax(
    {
        type:"GET",
        url: "{% url 'candidate:get_o' pk=pk %}",
        data:{
            'phone': text1,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            alert(`OTP is ${data.OTP}`);
            $('#pxp-otp-modal').modal('show');
        }
     })
    })

$('.action-but4').click(function(){
    let text1 = document.getElementById('pxp-candidate-phone').value;
    let text2 = document.getElementById('pxp-candidate-otp').value;
    if(text2=="")
    {
        alert("Please enter OTP to verify");
        return;
    }
    $.ajax(
    {
        type:"POST",
        url: "{% url 'candidate:post_o' pk=pk %}",
        data:{
            'phone': text1,
            'OTP': text2,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            if(data.message=='Please enter correct OTP')
            {
                alert('Please enter correct OTP or Generate a new one');
                ab=ab+1;
                if(ab>2)
                {
                    location.reload();
                }
            }
            else
            {
                alert('Phone number verified');
                $.ajax(
                {
                    type:"POST",
                    url: "{% url 'candidate:upd_phone' pk=pk %}",
                    data:{
                        'phone': text1,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function( data ) 
                    {
                    }
                })
                location.reload();
            }
        }
        })
    })
{% endblock %}