{% extends 'candidate-index.html' %}

{% block title %}
<title>mpower - Candidate dashboard - Edit profile</title>
{% endblock %}

{% block content %}
{% load static %}

<div class="pxp-dashboard-content-details">
    <h1>Resume Strength</h1>
    <p class="pxp-text-light">Your strengths and weaknesses according to your resume</p>
    <div class="mt-4 mt-lg-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Upload Resume: <input type="file" name="resume" accept="application/pdf" required />
            <a class="btn rounded-pill pxp-subsection-cta addedu" target="_blank" href="{{url}}">View Resume</a>
            <button class="btn rounded-pill pxp-section-cta">Submit Resume</button>
        </form>
    </div>
    <div class="mt-4 mt-lg-5">
        <div class="table-responsive">
            <h4 class="text-center">Resume Score</h4>
            <div class="progressa">
                <div class="progressab" style="background-color: rgb(178, 222, 75);"></div>
                </div>
            <table class="table table-hover align-middle">
                <tbody>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Number of pages</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right">{{ context.num }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">User Level</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right">{{ context.user }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Predicted Field</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right">{{ context.predicted }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Skills</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right" id="skil">{{ context.skills }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Recommended Skills</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right" id="recskil">{{ context.reco_skills }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Recommended Courses</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right" id="reccour">{{ context.reco_courses }}</div></td>
                    </tr>
                    <tr>
                        <td style="width: 50%; text-align: center">
                            <div class="pxp-dashboard-notifications-item-left">
                                <div class="pxp-dashboard-notifications-item-message">
                                    <a href="" style="cursor: text">Recommendations</a>
                                </div>
                            </div>
                        </td>
                        <td style="width: 50%;"><div class="pxp-dashboard-notifications-item-right" id="rec">{{ context.recommendations }}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pxp-user-modal-fig text-center">
                    <img src="{% static 'images/underconstruction.png' %}" alt="Sign up">
                </div>
                <h5 class="modal-title text-center mt-4" id="signupModal">Under Development</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
$(document).ready(function () {
    $('#das').removeClass('pxp-active');
    $('#edi').removeClass('pxp-active');
    $('#app').removeClass('pxp-active');
    $('#fav').removeClass('pxp-active');
    $('#cha').removeClass('pxp-active');
    $('#inb').removeClass('pxp-active');
    $('#not').removeClass('pxp-active');
    $('#res').addClass('pxp-active');
    $('#fee').removeClass('pxp-active');
    $('#sug').removeClass('pxp-active');
    $('#ins').removeClass('pxp-active');
    $('#jch').removeClass('pxp-active');
    $('#pla').removeClass('pxp-active');
    var progressval = {{ context.score }};
    var elm = document.getElementsByClassName('progressab')[0];
    if("{{ context.upload }}"=="Y")
    {
        elm.style.width = progressval+"%";
        elm.innerText = progressval+"%";
    }
    else
    {
        elm.style.width = 100+"%";
        elm.innerText="Please upload your resume";
    }
    if(progressval>90 && progressval<=100 )
    {   
        elm.style.backgroundColor = 'green';                                 
    }
    else if(progressval>50 && progressval<90 )
    { 
        elm.style.backgroundColor = 'blue';
    }
    else if(progressval<=50)
    { 
        elm.style.backgroundColor = 'red';
    }
    
    function getter(abc, b)
    {
        final=""
        for(let i=0; i<abc.length; i++)
        {
            if(abc[i]!="" && final!="")
            {
                final=final+b+abc[i]
            }
            else if(abc[i]!="")
            {
                final=abc[i];
            }
        }
        return final;
    }

    let abc=getter("{{context.skills}}".split(","), ", ")
    document.getElementById('skil').innerText=abc


    abc=getter("{{context.reco_skills}}".split(","), ", ")
    document.getElementById('recskil').innerText=abc

    abc=getter("{{context.reco_courses}}".split(","), "<hr />")
    document.getElementById('reccour').innerHTML=abc

    abc=getter("{{context.recommendations}}".split(","), "<hr />")
    document.getElementById('rec').innerHTML=abc

})
{% endblock %}