<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ candidate.name }}
    {% for i in messages %}
    <div>
        {{ i.sender_user }}: {{ i.body }}
    </div>
    {% endfor %}
    <form method="post" action="{% url 'candidate:send' pk=pk pk2=pk2 pk3=pk3 %}">
        {% csrf_token %}
        <input type="text" name="message" />
        <button type="submit" class="btn btn-success" action="{% url 'candidate:send' pk=pk pk2=pk2 pk3=pk3 %}">Send</button>
    </form>
</body>
</html>