{% load static %}
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
         
        {% block title %}
        {% endblock %}

        <style>
        {% block style%}
        {% endblock %}
        </style>
        <style>
            .custom-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .progress {
    height: 10px;
}

.progress-bar {
    border-radius: 0;
}

        </style>
    </head>
    <body>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}  
                    <script>alert('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% include "indexheader.html" %}

        {% block content %}
        {% endblock content %}

        <div class="modal fade pxp-user-modal" id="pxp-signin-modal" aria-hidden="true" aria-labelledby="signinModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="padding: 20px">
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                        <div class="tabs activer" id="tab01">
                            <input value="candidate" style="display: none" name="user"/>
                            <h6 class="font-weight-bold" style="margin-bottom: 0px !important">Candidate</h6>
                        </div>
                        <div class="tabs" id="tab02">
                            <input value="employer" style="display: none" name="user"/>
                            <h6 class="text-muted" style="margin-bottom: 0px !important">Employer</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <fieldset class="show fieldvals" id="tab011">
                            <div class="pxp-user-modal-fig text-center">
                                <img src="{% static 'images/signin-fig.png' %}" alt="Sign in">
                            </div>
                            <div>
                                <p id="signer"></p>
                            </div>
                        <h5 class="modal-title text-center mt-4" id="signinModal">Candidate Sign-In</h5>
                        <form class="mt-4" method="post">
                            {% csrf_token %}
                            {% comment %} <input value="candidate" style="display: none" name="user"/> {% endcomment %}
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="c_email" id="pxp-signin-email" placeholder="Email address" onkeyup="inputchanger()">
                                <label for="pxp-signin-email">Email address</label>
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="c_pass" id="pxp-signin-password" placeholder="Password"  onkeyup="inputchanger()">
                                <label for="pxp-signin-password">Password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <input type="button" value="Sign in" class="btn rounded-pill pxp-modal-cta signinbut" style="width: 100%">
                            <div class="mt-4 text-center pxp-modal-small">
                                <a href="#" class="pxp-modal-link forgot-password-button" id="forgotPasswordLink">Forgot password</a>
                            </div>

                            <div class="mt-4 text-center pxp-modal-small">
                                New to mpower? <a role="button" class="" data-bs-target="#pxp-signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Create an account</a>
                            </div>
                        </form>
                    </fieldset>
                    </div>
                    <div class="modal-body">
                        <fieldset id="tab021" class="fieldvals">
                        <div class="pxp-user-modal-fig text-center">
                            <img src="{% static 'images/signin-fig.png' %}" alt="Sign in">
                        </div>
                        <div>
                            <p id="signer2"></p>
                        </div>
                        <h5 class="modal-title text-center mt-4" id="empModal">Employer Sign-In</h5>
                        <form class="mt-4" method="post">
                            {% csrf_token %}
                            {% comment %} <input value="employer" style="display: none" name="user"/> {% endcomment %}
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="pxp-signin-email" placeholder="Email address" name="e_email"  onkeyup="inputchanger()">
                                <label for="pxp-signin-email">Email address</label>
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signin-password" placeholder="Password" name="e_pass"  onkeyup="inputchanger()">
                                <label for="pxp-signin-password">Password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <input type="button" value="Log in" class="btn rounded-pill pxp-modal-cta signinbut" style="width: 100%"></input>
                            <div class="mt-4 text-center pxp-modal-small">
                                <a href="#" class="pxp-modal-link forgot-password-button" id="forgotPasswordLink">Forgot password</a>
                            </div>
                            <div class="mt-4 text-center pxp-modal-small">
                                New to mpower? <a role="button" class="" data-bs-target="#pxp-signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Create an account</a>
                            </div>
                        </form>
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade pxp-user-modal" id="pxp-employer-modal" aria-hidden="true" aria-labelledby="empModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="pxp-user-modal-fig text-center">
                            <img src="{% static 'images/signup-fig.png' %}" alt="Sign in">
                        </div>
                        <h5 class="modal-title text-center mt-4" id="empModal">Employer Sign-In</h5>
                        <form class="mt-4" >
                           
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="pxp-signin-email" placeholder="Email address">
                                <label for="pxp-signin-email">Email address</label>
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signin-password" placeholder="Password">
                                <label for="pxp-signin-password">Password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <a href="#" class="btn rounded-pill pxp-modal-cta">Continue</a>
                            <div class="mt-4 text-center pxp-modal-small">
                                <a href="#" class="pxp-modal-link">Forgot password</a>
                            </div>
                            <div class="mt-4 text-center pxp-modal-small">
                                New to mpower? <a role="button" class="" data-bs-target="#pxp-signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Create an account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade pxp-user-modal" id="forgotPasswordModal" aria-hidden="true" tabindex="-1" style="overflow: hidden;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center" style="overflow: hidden;">
                <h6 style="opacity:0;"></h6>
                
                <h5 class="modal-title mt-4">Forgot Password</h5>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="forgotPasswordEmail" placeholder="Email address">
                    <label for="forgotPasswordEmail">Email address</label>
                </div>
                <div class="progress" style="display: none;" id="progressBarContainer">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="progressBar" style="width: 0;"></div>
                </div>
                <button type="button" class="btn rounded-pill pxp-modal-cta" style="display: block; margin: 0 auto; margin-bottom: 10px; margin-top: 10px;" onclick="forgotPassword()" id="resetButton">Reset Password</button>
                <div id="messageContainer" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>



        <div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="padding: 20px; padding-bottom: 0px">
                        {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                        <div class="tabs2 activer2" id="tab03">
                            <h6 class="font-weight-bold" style="margin-bottom: 0px !important">Candidate</h6>
                        </div>
                        <div class="tabs2" id="tab04">
                            <h6 class="text-muted" style="margin-bottom: 0px !important">Employer</h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <main id="tab031" class="fieldvals show">
                        <div class="pxp-user-modal-fig text-center">
                            <img src="{% static 'images/signup-fig.png' %}" alt="Sign up">
                        </div>
                        <h5 class="modal-title text-center mt-4" id="signupModal">Create an account</h5>
                        <form class="mt-4" method="post" action="{% url 'main:register' %}">
                            {% csrf_token %}
                            <input value="candidate" style="display: none" name="user"/>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="pxp-signin-page-email" name="name" placeholder="Name">
                                <label for="pxp-signin-page-email">Name</label>
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="pxp-signup-email" placeholder="Email address" name="email">
                                <label for="pxp-signup-email">Email address</label>
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signup-password" placeholder="Create password" name="password">
                                <label for="pxp-signup-password">Create password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signup-password" placeholder="Confirm password" name="conpass">
                                <label for="pxp-signup-password">Confirm password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <input type="submit" value="Sign Up" class="btn rounded-pill pxp-modal-cta" style="width: 100%">
                            <div class="mt-4 text-center pxp-modal-small">
                                Already have an account? <a role="button" class="" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a>
                            </div>
                        </form>
                    </main>
                    </div>
                    <div class="modal-body">
                        <main id="tab041" class="fieldvals">
                        <div class="pxp-user-modal-fig text-center">
                            <img src="{% static 'images/signup-fig.png' %}" alt="Sign up">
                        </div>
                        <h5 class="modal-title text-center mt-4" id="signupModal">Create an account</h5>
                        <form class="mt-4" method="post" action="{% url 'main:register' %}">
                            {% csrf_token %}
                            <input value="employer" style="display: none" name="user" />
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="pxp-signin-page-email" name="name" placeholder="Company Name">
                                <label for="pxp-signin-page-email">Company Name</label>
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="pxp-signup-email" placeholder="Email address" name="email">
                                <label for="pxp-signup-email">Email address</label>
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signup-password" placeholder="Create password" name="password">
                                <label for="pxp-signup-password">Create password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="pxp-signup-password" placeholder="Confirm password" name="conpass">
                                <label for="pxp-signup-password">Confirm password</label>
                                <span class="fa fa-lock"></span>
                            </div>
                            <input type="submit" value="Sign Up" class="btn rounded-pill pxp-modal-cta" style="width: 100%">
                            <div class="mt-4 text-center pxp-modal-small">
                                Already have an account? <a role="button" class="" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a>
                            </div>
                        </form>
                    </main>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade pxp-applic-modal" id="pxp-applic-modal" aria-hidden="true" aria-labelledby="applicModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered widthadjuster" style="justify-content: center">
                <div class="modal-content" style="width: 35rem">
                    <div class="modal-header" style="padding: 10px">
                        <h3 id="applyjob"></h3>
                    </div>
                    <hr style="margin: 0px" />
                    <div class="modal-body" style="padding: 1rem !important">
                        <div class="pxp-company-dashboard-jobs-bulk-actions">
                            <div id="whyhire" style="width: 200%;" >
                                <input name="jobidval" style="display: none" />
                                {% if screening_questions %}
                                {% if screening_questions.question_one %}
                                <label class="font-weight-bold text-break" for="question1" style="font-weight:bold;">Q1. {{screening_questions.question_one}}</label>
                                <textarea id="answer1" name="answer1" class="form-control" style="width: 100%;" placeholder="write your response here...." required></textarea><br> 
                                {% endif %}
                                {% if screening_questions.question_two %}
                                <label class="font-weight-bold text-break" for="question2" style="font-weight:bold;">Q2. {{screening_questions.question_two}}</label>
                                <textarea id="answer2" name="answer2" class="form-control" style="width: 100%;" placeholder="write your response here...." required></textarea>
                                {% endif %}
                                {%else%}
                                <textarea id="answer1" name="answer1" class="form-control" style="display: none;" placeholder="write your response here...." ></textarea>
                                <textarea id="answer2" name="answer2" class="form-control" style="display: none;" placeholder="write your response here...." ></textarea>

                                <h5 class="d-flex justify-content-center">Confirm to apply for job.</h5>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0px" />
                    <div class="modal-header d-flex justify-content-center" style="padding: 10px">
                        <a class="btn rounded-pill pxp-nav-btn " onclick="applics()">{% if screening_questions%}Submit{%else%}Confirm{%endif%}</a>
                    </div>
                    <!--<div class="modal-header" id="spanadder">
                    </div>-->
                </div>
            </div>
        </div>
    

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>

            var jobid;
            
            

            $(document).ready(function () {
                $('.cancelshow').click(function(){
                    $('.pxp-list-side-filter-panel').slideToggle();
                })
                $('.pxp-jobs-card-3').click(function(){
                    $(this).find('a')[5].click();
                })
                document.getElementById('blackcolor').style.color="black";
                $('select').selectize({
                    sortField: 'text'
                });
            })


            $(document).ready(function () {
                $(".profileimage").each(function(i, el) {
                    el.innerHTML = '{{request.session.name}}'[0]
                })
                $('select').selectize({
                    sortField: 'text'
                });
            })
            

            $(".tabs").click(function(){
            
                $(".tabs").removeClass("activer");
                $(".tabs h6").removeClass("font-weight-bold");    
                $(".tabs h6").addClass("text-muted");    
                $(this).children("h6").removeClass("text-muted");
                $(this).children("h6").addClass("font-weight-bold");
                $(this).addClass("activer");
            
                current_fs = $(".activer");
            
                next_fs = $(this).attr('id');
                next_fs = "#" + next_fs + "1";
            
                $("fieldset").removeClass("show");
                $(next_fs).addClass("show");
                
                current_fs.animate({}, {
                    step: function() {
                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({
                            'display': 'block'
                        });
                    }
                });
            });
        
            $(".tabs2").click(function(){
            
                $(".tabs2").removeClass("activer2");
                $(".tabs2 h6").removeClass("font-weight-bold");    
                $(".tabs2 h6").addClass("text-muted");    
                $(this).children("h6").removeClass("text-muted");
                $(this).children("h6").addClass("font-weight-bold");
                $(this).addClass("activer2");
            
                current_fs = $(".activer2");
            
                next_fs = $(this).attr('id');
                next_fs = "#" + next_fs + "1";
            
                $("main").removeClass("show");
                $(next_fs).addClass("show");
                
                current_fs.animate({}, {
                    step: function() {
                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({
                            'display': 'block'
                        });
                    }
                });
            });
            
            $('.signinbut').click(function(){
                let user=$('.activer input').val();
                
                if(user=="candidate")
                {
                    

                    c_email=$('[name="c_email"]').val();
                    c_pass=$('[name="c_pass"]').val();
                }
                else
                {
                    c_email=$('[name="e_email"]').val();
                    c_pass=$('[name="e_pass"]').val();
                }
                var dataToSend = {
                    user: user,
                    c_email: c_email,
                    c_pass: c_pass
                };

                if (jobid) {
                    dataToSend.jobid = jobid;
                    console.log(jobid)
                }
                $.ajax(
                {
                    type:"POST",
                    url: "{% url 'main:index' %}",
                    data:dataToSend,
                    success: function( data ) 
                    {
                        if(data['message']=='X')
                        {
                            if($('.activer').attr("id")=="tab01")
                            {
                                $('#signer').text('Invalid credentials')
                                $('#signer').css({'display': 'block'})
                            }
                            else
                            {
                                $('#signer2').text('Invalid credentials')
                                $('#signer2').css({'display': 'block'})
                            }
                        }
                        if(data['message']=='Y')
                        {
                            if($('.activer').attr("id")=="tab01")
                            {
                                $('#signer').css({'display': 'block'})
                                $('#signer').text('Login Successful')
                                setTimeout(function(){
                                    $('#signer').text('Redirecting...');
                                }, 1000)
                                $('#signer').css({'background': 'green', 'border': '1px solid green'})
                            }
                            else
                            {
                                $('#signer2').css({'display': 'block'})
                                $('#signer2').text('Login Successful')
                                setTimeout(function(){
                                    $('#signer2').text('Redirecting...');
                                }, 500)
                                $('#signer2').css({'background': 'green', 'border': '1px solid green'})
                            }
                            
                            window.location = data['url'];
                            
                        }
                    }
                })
            })
            function inputchanger()
            {
                $('#signer').css({'display': 'none'})
                $('#signer2').css({'display': 'none'})
            }
        
            $('.forgot-password-button').on('click', function () {
        $('#pxp-signin-modal').modal('hide');
        $('#forgotPasswordModal').modal('show');
        progressBarContainer.show();
    });

            $('#forgotPasswordModal').on('hidden.bs.modal', function () {
                // Clear the form when the modal is hidden
                document.getElementById('forgotPasswordForm').reset();
                $('#forgotPasswordEmail').prop('disabled', false);


            });


            $('#pxp-signin-modal').on('keypress', function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                $('#pxp-signin-modal .show .signinbut').click();
                }
            });

            function applicmodal(id)
            {
                $.ajax(
                    {
                        type:"GET",
                        url: "{% url 'main:get_job' %}",
                        data:{
                            id: id,
                        },
                        success: function( data ) 
                        {
                            $('#applyjob').text(data['name']);
                            $('[name=jobidval]').val(data['id']);
                        }
                    })
            }

            function applics()
            {
                let isScreeningAnswer = '{{screening_questions}}';
                if(isScreeningAnswer){
                if($('[name=answer1]').val()=="")
                {
                    alert("Please answer the question Q1.");
                    return;
                }
                if($('[name=answer2]').val()=="")
                {
                    alert("Please answer the question Q2.");
                    return;
                }
                }
                $.ajax(
                    {
                        type:"POST",
                        url: "{% url 'main:get_job' %}",
                        data:{
                            id: $('[name=jobidval]').val(),
                            answer1: $('[name=answer1]').val(),
                            answer2: $('[name=answer2]').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function( data ) 
                        {
                            alert("Applied successfully track status from the dashboard!!");
                            location.reload();
                        }
                    })
            }


            function forgotPassword() {
                var emailField = $("#forgotPasswordEmail");
                var resetButtonEn = $("#resetButton");
                var emailFieldCheck = emailField.val();
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                if (emailPattern.test(emailFieldCheck)) {

                var progressBar = $("#progressBar");
                var progressBarContainer = $("#progressBarContainer");
                var messageContainer = $("#messageContainer");
                messageContainer.hide();

                var email = emailField.val();
                var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

                var formData = {
                    email: email,
                    csrfmiddlewaretoken: csrfToken
                };

                emailField.prop('disabled', true);
                resetButtonEn.prop('disabled', true);

                progressBarContainer.show();

                $.ajax({
                    type: "POST",
                    url: "{% url 'main:password_reset_request' %}",
                    data: formData,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                var percentComplete = (e.loaded / e.total) * 100;
                                progressBar.css("width", percentComplete + "%");
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (response) {
                        progressBarContainer.hide();
                        messageContainer.text("Password reset link sent successfully to your email").show().css("color", "green");
                    },
                    error: function (xhr, textStatus, errorThrown) {

                        if( xhr.responseText == '{"error": "User with this email does not exist"}'){
                            messageContainer.text("User with this email does not exist").show().css("color", "red");
                        }
                        emailField.prop('disabled', false);
                        progressBarContainer.hide();
                        resetButtonEn.prop('disabled', false);
                    }
                });} else {
                var messageContainer = $("#messageContainer");
                    resetButtonEn.prop('disabled', true);

                    messageContainer.text("Enter a valid email address").show().css("color", "red");
                    resetButtonEn.prop('disabled', false);


                }
            }


        {% block script %}
        {% endblock script %}
        </script>
    </body>
</html>