{% load static %}
{% block content %}
<!doctype html>
<html lang="en" class="pxp-root">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
        <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'>
     
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet"> <!-- for live demo page -->
        <link href="select2-bootstrap4.css" rel="stylesheet"> 
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>mpower - Employer Profile Completion</title>
        <style>
            #signin
            {
                display: none;
            }
            .pxp-nav-trigger
            {
                display: none !important;
            }
            .pxp-nav{
                display: none !important;
            }
            .pxp-user-nav{
                display: none !important;
            }
            #questioneer
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .individualQuestion, .individualQuestiona
            {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 10px;
            }
            .multi_step_form #msform #progressbar li:nth-child(2):before {
                content: '\f149';
              }
              .multi_step_form #msform #progressbar li:nth-child(3):before {
                content: "\f276";
              }
              .multi_step_form #msform #progressbar li:nth-child(4):before {
                content: "\f119";
              }
              .multi_step_form #msform #progressbar li:nth-child(5):before {
                content: "\f276";
              }
              .multi_step_form #msform #progressbar li:before {
                content: "\f1fa";
                font: normal normal normal 30px/50px Ionicons;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: block;
                background: #eaf0f4;
                border-radius: 50%;
                margin: 0 auto 10px auto;
              }
              select {
                width: 100%;
                min-height: 100px;
                border-radius: 3px;
                border: 1px solid #444;
                padding: 10px;
                color: #444444;
                font-size: 14px;
              }
              .select2-search__field
              {
                width: 100% !important;
              }
        </style>
    </head>
   
    <body>
        {% include "indexheader.html" %}
        {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}

        {% endfor %}

        {% endif %}
            <article>
          
                <!-- Start Multiform HTML -->
            <section class="multi_step_form">  
            <form id="msform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active">Verify Phone</li>
                <li>Company Information</li>
                <li>Location</li>
                <li>Work Profile</li> 
              </ul>
              <!-- fieldsets -->

              <fieldset>
                <div style="margin:auto;" id="get-otp-div">
                  <h3>Setup your phone</h3>
                  <div class="form-row d-flex justify-content-center"> 
                    <div class="form-group col-md-6 d-none">
                      <input
                        type="text"
                        id="countryCode"
                        class="form-control"
                        placeholder="Country Code"
                        name="code"
                        readonly
                      />
                    </div>
                    <div class="form-group col-md-6 d-none">
                      <input
                        type="text"
                        id="phoneNumber"
                        class="form-control"
                        placeholder="Phone Number"
                        readonly
                      />
                    </div>
                    <div class="form-group col-md-6 ml-2">
                      <input
                        type="tel"
                        id="phone"
                        class="form-control"
                        placeholder="0000000000"
                        name="mobile"
                        maxlength="10"
                      />
                    </div>
                  </div>
                  <button type="button" class="action-but">Get OTP</button>
                </div>
                <div id="hider" class="finde" data-div-type="verify-otp">
                <div class="done_text">
                  <h6>A secret code is sent to your phone. <br>Please enter it here.</h6> 
                </div>
                <div class="code_group"> 
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter OTP"
                    name="digit"
                    id="otp_val"
                    maxlength="6"
                    onkeyup="onKeyUpEvent(1, event)"
                    onfocus="onFocusEvent(1)"
                  />
                 </div>
                <button type="button" class="action-but2" style="color: green; background: white; border: 1px solid green">Verify</button>
                <button
                  type="button"
                  class="resend-otp-button button-custom-variant"
                  style="color:white; background: blue;"
                >
                  Resend OTP
                </button>
            </div>
            <button type="button" class="next action-button" style="display: none" id="verifier">Continue</button>
              </fieldset>

              <fieldset>
                <h3>Please enter details</h3> 
                <div class="pxp-candidate-cover1 mb-3" style="display: flex; justify-content: center; align-items: center">
                    <input type="file" id="pxp-candidate-cover-choose-file1" accept="image/*" name="logo">
                    <label for="pxp-candidate-cover-choose-file1" class="pxp-cover" style="border-radius: 100%; width: 10rem"><span>Upload Logo</span></label>
                </div>

                <div class="form-group fg_2"> 
                    <div class="wrapper">
                        <div class="container">
                            <div class="form-group">
                                Employer Type: <select placeholder="Employer Type" name="etype" class="notnormal">
                                <option>Select an option</option>
                                <option value="Sole Proprietorship">Sole Proprietorship</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Limited Liability Partnership">Limited Liability Partnership</option>
                                <option value="Private Limited Companies">Private Limited Companies</option>
                                <option value="Public Limited Companies">Public Limited Companies</option>
                                <option value="One-Person Companies">One-Person Companies</option>
                                <option value="Section 8 Company">Section 8 Company</option>
                                <option value="Joint-Venture Company">Joint-Venture Company</option>
                                <option value="Non-Government Organization (NGO)">Non-Government Organization (NGO)</option>
                              </select>
                            </div>
                        </div>
                    </div>
                  </div> 


                  <div class="form-group fg_2"> 
                    <div class="wrapper">
                        <div class="container">
                            <div class="form-group">
                                Industry &nbsp; : &nbsp; <select placeholder="Industry" name="industry" class="notnormal">
                                <option>Select an option</option>
                                <option value="Aerospace & Defense">Aerospace & Defense</option>
                                <option value="Apparel">Appare</option>
                                <option value="Business Services">Business Services</option>
                                <option value="Chemicals">Chemicals</option>
                                <option value="Energy">Energy</option>
                                <option value="Engineering & Construction">Engineering & Construction</option>
                                <option value="Financials">Financials</option>
                                <option value="Food & Drug Stores">Food & Drug Stores</option>
                                <option value="Food, Beverages & Tobacco">Food, Beverages & Tobacco</option>
                                <option value="Health Care">Health Care</option>
                                <option value="Hotels, Restaurants & Leisure">Hotels, Restaurants & Leisure</option>
                                <option value="Household Products">Household Products</option>
                                <option value="Industrials">Industrials</option>
                                <option value="Materials">Materials</option>
                                <option value="Media">Media</option>
                                <option value="Motor Vehicles & Parts">Motor Vehicles & Parts</option>
                                <option value="Retailing">Retailing</option>
                                <option value="Technology">Technology</option>
                                <option value="Telecommunications">Telecommunications</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Wholesalers">Wholesalers</option>
                              </select>
                            </div>
                        </div>
                    </div>
                  </div> 

                  <div class="form-group fg_2"> 
                    <input type="text" class="form-control" placeholder="Designation" name="executive">
                  </div>
                  
                <button type="button" class="action-button previous previous_button">Back</button> 
                <button type="button" class="next action-button">Continue</button>   
              </fieldset>


              <fieldset>
                <h3>Please enter details</h3> 
                {% comment %} <div class="form-group fg_2"> 
                  <input type="text" class="form-control" placeholder="Address" name="address">
                </div> {% endcomment %}
                  <div class="form-group fg_2">
                    <input type="text" class="form-control" placeholder="Pin Code" name="pincode">
                  </div> 
                  <div class="form-group fg_2"> 
                    <input type="text" class="form-control" placeholder="City/State/Country" name="location">
                  </div>
                <button type="button" class="action-button previous previous_button">Back</button> 
                <button type="button" class="next action-button">Continue</button>   
              </fieldset>

              <fieldset>
                <div class="form-group fg_2">
                    <h4 style="text-align: center">Profile</h4>
                  <textarea type="text" class="form-control" name="profile" rows="7" cols="50"></textarea>
                </div>
                {% comment %} <div class="form-group fg_2">
                  <input type="email" placeholder="Your Email" class="form-control" name="email" />
                </div> {% endcomment %}
                <div class="form-group fg_2">
                  <input type="text" placeholder="Strength (Optional)" class="form-control" name="strength" />
                  <input type="text" placeholder="Company Turnover (Optional)" class="form-control" name="turnover" />
                  {% comment %} <input type="text" placeholder="Company Details (Optional)" class="form-control" name="details" /> {% endcomment %}
                </div>
                <button type="button" class="action-button previous previous_button">Back</button> 
                <button  class="action-button" type="submit">Finish</button>  
              </fieldset>
  
            </form>  
          </section> 
                <!-- END Multiform HTML -->
            </article>
        
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            (function($) {
                "use strict";  
                
                //* Form js
                function verificationForm(){
                    //jQuery time
                    var current_fs, next_fs, previous_fs; //fieldsets
                    var left, opacity, scale; //fieldset properties which we will animate
                    var animating; //flag to prevent quick multi-click glitches
            
                    $(".next").click(function () {
                        if (animating) return false;
                        animating = true;
            
                        current_fs = $(this).parent();
                        next_fs = $(this).parent().next();
            
                        //activate next step on progressbar using the index of next_fs
                        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
            
                        //show the next fieldset
                        next_fs.show();
                        //hide the current fieldset with style
                        current_fs.animate({
                            opacity: 0
                        }, {
                            step: function (now, mx) {
                                //as the opacity of current_fs reduces to 0 - stored in "now"
                                //1. scale current_fs down to 80%
                                scale = 1 - (1 - now) * 0.2;
                                //2. bring next_fs from the right(50%)
                                left = (now * 50) + "%";
                                //3. increase opacity of next_fs to 1 as it moves in
                                opacity = 1 - now;
                                current_fs.css({
                                    'transform': 'scale(' + scale + ')',
                                    'position': 'absolute'
                                });
                                next_fs.css({
                                    'left': left,
                                    'opacity': opacity
                                });
                            },
                            duration: 800,
                            complete: function () {
                                current_fs.hide();
                                animating = false;
                            },
                            //this comes from the custom easing plugin
                            easing: 'easeInOutBack'
                        });
                    });
            
                    $(".previous").click(function () {
                        if (animating) return false;
                        animating = true;
            
                        current_fs = $(this).parent();
                        previous_fs = $(this).parent().prev();
            
                        //de-activate current step on progressbar
                        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            
                        //show the previous fieldset
                        previous_fs.show();
                        //hide the current fieldset with style
                        current_fs.animate({
                            opacity: 0
                        }, {
                            step: function (now, mx) {
                                //as the opacity of current_fs reduces to 0 - stored in "now"
                                //1. scale previous_fs from 80% to 100%
                                scale = 0.8 + (1 - now) * 0.2;
                                //2. take current_fs to the right(50%) - from 0%
                                left = ((1 - now) * 50) + "%";
                                //3. increase opacity of previous_fs to 1 as it moves in
                                opacity = 1 - now;
                                current_fs.css({
                                    'left': left
                                });
                                previous_fs.css({
                                    'transform': 'scale(' + scale + ')',
                                    'opacity': opacity
                                });
                            },
                            duration: 800,
                            complete: function () {
                                current_fs.hide();
                                animating = false;
                            },
                            //this comes from the custom easing plugin
                            easing: 'easeInOutBack'
                        });
                    });
            
                    $(".submit").click(function () {
                        return false;
                    })
                }; 
                
                //* Add Phone no select
                function phoneNoselect() {
                  if ($("#msform").length) {
                    var input = $("#phone");
                    input.intlTelInput({
                      initialCountry: "in",
                      separateDialCode: false,
                      utilsScript:
                        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js",
                    });

                    var iti = input.intlTelInput("getSelectedCountryData");

                    $("#countryCode").val("+" + iti.dialCode);
                    $("#phoneNumber").val(input.val());

                    input.on("countrychange", function (e, countryData) {
                      $("#countryCode").val("+" + countryData.dialCode);
                      // console.log(countryData);
                      // var maxLength = iti.countryData[0].length;
                      // console.log(iti);
                      // $('#phone').attr('maxlength', maxLength);
                      $("#phoneNumber").val(input.val());
                    });
                    input.on("keyup", function () {
                      $("#phoneNumber").val(input.val());
                    });
                  }
                }
                //* Select js
                function nice_Select(){
                    if ( $('.product_select').length ){ 
                        $('select').niceSelect();
                    };
                }; 
                /*Function Calls*/  
                verificationForm ();
                phoneNoselect ();
                nice_Select ();
            })(jQuery);

            $(function () {
                $('.notnormal').each(function () {
                  $(this).select2({
                    theme: 'bootstrap4',
                    width: 'style',
                    placeholder: $(this).attr('placeholder'),
                    allowClear: Boolean($(this).data('allow-clear')),
                  });
                });
              });


            var count = 1;
            var radioCount = 2;
            var totalRadioCount = 2;
            var questionRadioCount = "2";
            var totalQuestionCount = 1;
            var latestQuestionID = 1;
            var questionRadioCountArray = [[1, 2]];
            var counta = 1;
            var radioCounta = 2;
            var totalRadioCounta = 2;
            var questionRadioCounta = "2";
            var totalQuestionCounta = 1;
            var latestQuestionIDa = 1;
            var questionRadioCountArraya = [[1, 2]];
            function addQuestion(targetval) {
                if(targetval=="skills")
                {
                    count++;
                    totalQuestionCount++;
                    latestQuestionID++;
                    radioCount = 1;
                    totalRadioCount++;
                    updateCountOnForm(count, "QuestionCount");
                    latestQuestionID = Math.max(latestQuestionID, totalQuestionCount);
                }
                else
                {
                    counta++;
                    totalQuestionCounta++;
                    latestQuestionIDa++;
                    radioCounta = 1;
                    totalRadioCounta++;
                    updateCountOnForm(counta, "QuestionCounta");
                    latestQuestionID = Math.max(latestQuestionIDa, totalQuestionCounta);
                }
                const questionDiv = document.createElement('div');
                const individualQuestion = document.createElement('div');
                const question = document.createElement('input');
                question.setAttribute('type', 'text');
                const deleteButton = document.createElement('a');
                deleteButton.setAttribute('class', 'btn delete_button');
                const deleteIcon = document.createElement('i');
                deleteButton.setAttribute('class', 'fa fa-close fa-2x');
                if(targetval=="skills")
                {
                    questionDiv.setAttribute('id', `sq${totalQuestionCount}`);
                    questionDiv.setAttribute('class', `single_question${totalQuestionCount} Ques col-6`);
                    individualQuestion.setAttribute('class', 'individualQuestion');
                    question.setAttribute('class', 'form-control specialInputQuestions');
                    question.setAttribute('placeholder', 'Skill');
                    question.setAttribute('id', `question${totalQuestionCount}`);
                    question.setAttribute('name', `skill`);
                    deleteButton.setAttribute('id', `${totalQuestionCount}`);
                    deleteButton.setAttribute('onclick', 'deleteQuestion(this.id, "sq")');
                }
                else
                {
                    questionDiv.setAttribute('id', `eq${totalQuestionCounta}`);
                    questionDiv.setAttribute('class', `single_question${totalQuestionCounta}a Ques`);
                    individualQuestion.setAttribute('class', 'individualQuestiona');
                    question.setAttribute('class', 'form-control specialInputQuestionsa');
                    question.setAttribute('placeholder', 'Experience');
                    question.setAttribute('id', `question${totalQuestionCounta}a`);
                    question.setAttribute('name', `experience`);
                    deleteButton.setAttribute('id', `${totalQuestionCounta}`);
                    deleteButton.setAttribute('onclick', 'deleteQuestion(this.id, "eq")');
                }
                deleteButton.appendChild(deleteIcon);
                individualQuestion.appendChild(question);
                individualQuestion.appendChild(deleteButton);
                questionDiv.appendChild(individualQuestion);
                var quest;
                if(targetval=="skills")
                {
                    updateRadioCountOnForm(totalRadioCount, "radioCount");
                    quest=document.getElementById('questioneer');
                    questionRadioCountArray.push([totalQuestionCount, radioCount]);
                    rdc(questionRadioCountArray, "rdc");
                }
                else
                {
                    updateRadioCountOnForm(totalRadioCounta, "radioCounta");
                    quest=document.getElementById('questioneera');
                    questionRadioCountArraya.push([totalQuestionCounta, radioCounta]);
                    rdc(questionRadioCountArraya, "rdca");
                }
                quest.appendChild(questionDiv);
            }
            function updateCountOnForm(count, targetval) {
                var countKeeper = document.getElementById(targetval);
                countKeeper.value = count; 
            }
            function updateRadioCountOnForm(totalRadioCount, targetval) {
                var countKeeper = document.getElementById(targetval);
                countKeeper.value = totalRadioCount; 
            }
            function rdc(questionRadioCountArray, targetval) {
                var questionRadioCountString = document.getElementById(targetval);
                questionRadioCountString.value = questionRadioCountArray;
            }
            function deleteQuestion(questionID, targetval) {
                var classNameOfQuestionToRemove = targetval + questionID;
                const element = document.getElementById(classNameOfQuestionToRemove);
                element.remove();
                questionID = parseInt(questionID);
                var firstArray = [];
                var firstArraya = [];
                if(targetval=="sq")
                {
                    count--;
                    updateCountOnForm(count, "QuestionCount");
                    totalRadioCount = totalRadioCount - radioCount;
                    updateRadioCountOnForm(totalRadioCount, "radioCount");
                    if (questionID == totalQuestionCount) {
                        totalQuestionCount--;
                    }
                    for (var i = 0; i < questionRadioCountArray.length; i++) {
                        firstArray.push(questionRadioCountArray[i][0]);
                    }
                    var index = firstArray.indexOf(questionID);
                    questionRadioCountArray.splice(index, 1);
                    latestQuestionID = parseInt(questionRadioCountArray[questionRadioCountArray.length-1][0]);
                    var double = questionRadioCountArray.pop();
                    double.push(radioCount);
                    questionRadioCountArray.push(double);
                    rdc(questionRadioCountArray, "rdc");
                }
                else
                {
                    counta--;
                    updateCountOnForm(count, "QuestionCounta");
                    totalRadioCounta = totalRadioCounta - radioCounta;
                    updateRadioCountOnForm(totalRadioCount, "radioCounta");
                    if (questionID == totalQuestionCounta) {
                        totalQuestionCounta--;
                    }
                    for (var i = 0; i < questionRadioCountArraya.length; i++) {
                        firstArraya.push(questionRadioCountArraya[i][0]);
                    }
                    var indexa = firstArraya.indexOf(questionID);
                    questionRadioCountArraya.splice(indexa, 1);
                    latestQuestionID = parseInt(questionRadioCountArraya[questionRadioCountArraya.length-1][0]);
                    var doublea = questionRadioCountArraya.pop();
                    doublea.push(radioCounta);
                    questionRadioCountArraya.push(doublea); 
                    rdc(questionRadioCountArray, "rdca");
                }
            }

            $(".resend-otp-button").click(function(){
              $("#hider[data-div-type='verify-otp']").removeClass("finde2");
              $("#hider[data-div-type='verify-otp']").addClass("finde");
              $("#get-otp-div").removeClass("finde");
              $("#get-otp-div").addClass("finde2");
            })

            $('.action-but').click(function(){
              if (document.getElementById("phone").value == "") {
                alert("Please enter a valid phone number");
                return;
              }
              
              let text1 = document.getElementById("countryCode").value;
              let text2 = document.getElementById("phone").value;
              let result = text1 + text2;
              console.log(result)
                $.ajax(
                {
                    type:"GET",
                    url: "get_otp/",
                    data: {
                      code: document.getElementById("countryCode").value,
                      phone: document.getElementById("phoneNumber").value,
                      csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function( data ) 
                    {
                        alert(`OTP is ${data.OTP}`)
                        $("#hider[data-div-type='verify-otp']").removeClass("finde");
                        $("#hider[data-div-type='verify-otp']").addClass("finde2");

                        $("#get-otp-div").addClass("finde");
                        $('.action-but2').css('display', 'inline-block');
                        document.getElementById('otp_val').value="";
                    }
                 })
                })
            
            $('.action-but2').click(function(){
              let text1 = document.getElementById("countryCode").value;
              let text2 = document.getElementById("phoneNumber").value;
              let result = text1 + text2;
              let code = document.getElementById("otp_val").value;
              if (code == "" || code.length !== 6) {
                alert("Please enter all the digits of OTP");
                return;
              }
              let res1 = code;
                $.ajax(
                {
                    type:"POST",
                    url: "post_otp/",
                    data:{
                        'phone': text2,
                        'OTP': res1,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    success: function( data ) 
                    {
                        if(data.message=='Please enter correct OTP')
                        {
                            alert('Please enter correct OTP or Generate a new one')
                        }
                        else
                        {
                            alert('Phone number verified');
                            $('.action-but2').css('display', 'none');
                            $('#verifier').click();
                        }
                    }
                    })
                })

                function getCodeBoxElement(index) {
                    return document.getElementById('otp_val' + index);
                  }
                  function onKeyUpEvent(index, event) {
                    const eventCode = event.which || event.keyCode;
                    if (getCodeBoxElement(index).value.length === 1) {
                      if (index !== 6) {
                        getCodeBoxElement(index+ 1).focus();
                      }
                    }
                    if (eventCode === 8 && index !== 1) {
                      getCodeBoxElement(index - 1).focus();
                    }
                  }
                  function onFocusEvent(index) {
                    for (item = 1; item < index; item++) {
                      const currentElement = getCodeBoxElement(item);
                      if (!currentElement.value) {
                          currentElement.focus();
                          break;
                      }
                    }
                  }

        </script>
    </body>
</html>
{% endblock %}