
<div class="pxp-preloader"> 
    <div class="pxp-logo">
    <a href="index.html" class="pxp-animate" style=" font-size:35px !important;"><span style="color: var(--pxpMainColor);">m</span>power</a>
</div></div>

<header class="pxp-header fixed-top">
    <div class="pxp-container">
        <div class="pxp-header-container">
            <div class="pxp-logo">
                <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
            </div>
            <div class="sig">
                {% if 'email' in request.session %}
                {% if request.session.type == "c" %}
                <div class="dropdown pxp-user-nav-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.session.photo %}
                        <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                        {% else %}
                        <div class="pxp-user-nav-avatar pxp-cover"><div id="profileImage" class="profileimage"></div></div>
                        {% endif %}
                        <div class="pxp-user-nav-name d-none d-md-block" id="blackcolor">{{ request.session.name }}</div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=request.session.pk %}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=request.session.pk %}">Edit profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=request.session.pk  %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="dropdown pxp-user-nav-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                        {% if request.session.photo %}
                        <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                        {% else %}
                        <div class="pxp-user-nav-avatar pxp-cover"><div id="profileImage" class="profileimage"></div></div>
                        {% endif %}
                        <div class="pxp-user-nav-name d-none d-md-block" id="blackcolor">{{ request.session.name }}</div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'employer:cdashboard' pk=request.session.pk %}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'employer:cedit' pk=request.session.pk %}">Edit profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'employer:clogout' pk=request.session.pk  %}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
                {% else %}
                <a id="signin" role="button" class="btn rounded-pill pxp-user-nav-trigger pxp-on-light" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a>
                {% endif %}
            </div>
            <div class="pxp-nav-trigger navbar d-xl-none flex-fill">
                <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav" aria-controls="pxpMobileNav">
                    <div class="pxp-line-1"></div>
                    <div class="pxp-line-2"></div>
                    <div class="pxp-line-3"></div>
                </a>
                <div class="offcanvas offcanvas-start pxp-nav-mobile-container" tabindex="-1" id="pxpMobileNav">
                    <div class="offcanvas-header">
                        <div class="pxp-logo">
                            <a href="{% url 'main:index' %}" class="pxp-animate"><span style="color: var(--pxpMainColor)">m</span>power</a>
                        </div>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <nav class="pxp-nav-mobile">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item dropdown">
                                    <a role="button" class="nav-link" href="{% url 'main:index' %}">Home</a>
                                    <!-- <ul class="dropdown-menu">
                                        <li class="pxp-dropdown-header">Home Page Versions</li>
                                        <li class="nav-item"><a href="index.html">Hero with Animated Cards</a></li>
                                        <li class="nav-item"><a href="index-2.html">Center Image Rotator Hero</a></li>
                                        <li class="nav-item"><a href="index-3.html">Hero with Illustration</a></li>
                                        <li class="nav-item"><a href="index-4.html">Boxed Hero with Animation</a></li>
                                        <li class="nav-item"><a href="index-5.html">Full Image Background Hero</a></li>
                                        <li class="nav-item"><a href="index-6.html">Full Image with Top Search</a></li>
                                        <li class="nav-item"><a href="index-7.html">Hero With Image Card</a></li>
                                    </ul> -->
                                </li>
                                <li class="nav-item dropdown">
                                    <a role="button" class="nav-link" href="{% url 'main:jobs' %}">Find Jobs</a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Companies</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item dropdown">
                                            <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Companies List</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="companies-list-1.html">Top Search</a></li>
                                                <li class="nav-item"><a href="companies-list-2.html">Left Search Side Panel</a></li>
                                                <li class="nav-item"><a href="companies-list-3.html">Top Search Light</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Single Company</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="single-company-1.html">Wide Content</a></li>
                                                <li class="nav-item"><a href="single-company-2.html">Right Side Panel</a></li>
                                                <li class="nav-item"><a href="single-company-3.html">Center Boxed Content</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="company-dashboard.html">Company Dashboard</a></li>
                                    </ul>
                                </li>
                                {% comment %} <li class="nav-item dropdown">
                                    <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Candidates</a>

                                    {% if 'email' in request.session %}
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="{% url 'candidate:dashboard' pk=request.session.pk %}">Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="{% url 'candidate:edit' pk=request.session.pk %}">Edit profile</a>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="{% url 'candidate:logout' pk=request.session.pk  %}">Logout</a>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                    {% comment %} <a class="btn rounded-pill pxp-user-nav-trigger pxp-on-light"  href="{% url 'main:user_login' %}" role="button">Sign in</a> {% endcomment %}
                                    {% comment %} <a id="signin" role="button" class="btn rounded-pill pxp-user-nav-trigger pxp-on-light" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a> {% endcomment %}
                                    {% comment %} {% endif %} {% endcomment %}
                                {% comment %} </li> {% endcomment %}
                                <li class="nav-item dropdown">
                                    <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="blog-list-1.html">Articles Cards</a></li>
                                        <li class="nav-item"><a href="blog-list-2.html">Articles List</a></li>
                                        <li class="nav-item"><a href="blog-list-3.html">Articles Boxed</a></li>
                                        <li class="nav-item"><a href="{% url 'main:blog' %}">Single Article</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                        <li class="nav-item"><a href="pricing.html">Pricing</a></li>
                                        <li class="nav-item"><a href="faqs.html">FAQs</a></li>
                                        <li class="nav-item"><a href="contact-us.html">Contact Us</a></li>
                                        <li class="nav-item"><a href="sign-in.html">Sign In</a></li>
                                        <li class="nav-item"><a href="sign-up.html">Sign Up</a></li>
                                        <li class="nav-item"><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Desktop Header Starts -->
            <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                <ul>
                    <li class="dropdown">
                        <a href="{% url 'main:index' %}" class="dropdown-toggle" >Home</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'main:jobs' %}" class="dropdown-toggle" >Find Jobs</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'main:companies' %}" class="dropdown-toggle" >Companies</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'main:candidates' %}" class="dropdown-toggle" >Candidates</a>
                        
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'main:blog' %}" class="dropdown-toggle" >Blog</a>
                       
                    </li>
                    
                </ul>
            </nav>
            <nav class="pxp-user-nav d-none d-sm-flex">
                {% if 'type' in request.session %}
                {% if request.session.type == "e" %}
                <a href="{% url 'employer:newjob' pk=request.session.pk %}" class="btn rounded-pill pxp-nav-btn">Post a Job</a>
                {% endif %}
                {% endif %}
                
                {% if 'email' in request.session %}
                {% if request.session.type == "c" %}
                <div class="dropdown pxp-user-nav-dropdown">
                        <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                            <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-user-nav-avatar pxp-cover"><div id="profileImage" class="profileimage"></div></div>
                            {% endif %}
                            <div class="pxp-user-nav-name d-none d-md-block" id="blackcolor">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'candidate:dashboard' pk=request.session.pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:edit' pk=request.session.pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'candidate:logout' pk=request.session.pk  %}">Logout</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="dropdown pxp-user-nav-dropdown">
                        <a href="index.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                            {% if request.session.photo %}
                            <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url('{{ request.session.photo }}')"></div>
                            {% else %}
                            <div class="pxp-user-nav-avatar pxp-cover"><div id="profileImage" class="profileimage"></div></div>
                            {% endif %}
                            <div class="pxp-user-nav-name d-none d-md-block" id="blackcolor">{{ request.session.name }}</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'employer:cdashboard' pk=request.session.pk %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'employer:cedit' pk=request.session.pk %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'employer:clogout' pk=request.session.pk  %}">Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                {% else %}
                {% comment %} <a class="btn rounded-pill pxp-user-nav-trigger pxp-on-light"  href="{% url 'main:user_login' %}" role="button">Sign in</a> {% endcomment %}
                <a id="signin" role="button" class="btn rounded-pill pxp-user-nav-trigger pxp-on-light" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a>
                {% endif%}
            </nav>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        $(".profileimage").each(function(i, el) {
            el.innerHTML = '{{request.session.name}}'[0]
        })
    })
</script>