<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Include Bootstrap CSS here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="pxp-dashboard-content-details">
        <h1>Change Password</h1>
        <p class="pxp-text-light">Choose a new account password.</p>
        {% csrf_token %}
        <!-- Add CSRF token here -->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pxp-candidate-new-password" class="form-label">New password</label>
                    <input type="password" id="pxp-candidate-new-password" class="form-control" placeholder="Enter new password" name="new_password1">
                    <input type="text" name="email_encoded" id="email_encoded" value="{{email_encoded}}" hidden>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pxp-candidate-new-password-repeat" class="form-label">Confirm New Password</label>
                    <input type="password" id="pxp-candidate-new-password-repeat" class="form-control" placeholder="Repeat new password" name="new_password2">
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary rounded-pill pxp-section-cta" type="button" onclick="changePassword()">Save New Password</button>
        </div>
    </div>
</div>

<!-- Include jQuery and Bootstrap JS here -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function changePassword() {
        var fnew = $("#pxp-candidate-new-password").val();
        var cnew = $("#pxp-candidate-new-password-repeat").val();
        var email_encoded = $("#email_encoded").val();
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        var formData = {
            fnew: fnew,
            cnew: cnew,
            email_encoded: email_encoded,
            csrfmiddlewaretoken: csrfToken
        };

        $.ajax({
            type: "POST",
            url: "{% url 'main:password_reset' %}",
            data: formData,
            success: function(response) {
                alert(response.message)
                if(response.message=="Password changed successfully"){
                    window.location = "{% url 'main:index' %}";
                }
            }
        });
    }
</script>
</body>
</html>
