{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>mpower - Single job</title>
{% endblock %}

{% block style %}
/* styles.css */

/* Base styles for the matching details box */
<!-- .matching-details-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  z-index: 1;
  max-height: 200px; /* Added max-height to make the box scrollable */
  overflow-y: auto; /* Added overflow-y to enable vertical scrolling */
  border:solid black 1px;
  border-radius:1rem;
  padding-right:1rem;
  overflow-x: auto;
  white-space: nowrap;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


  
  
  
  


/* Styling for the "View Details" button */
.btn-view-details {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-view-details:hover {
  background-color: #0056b3;
}

/* Container for the "View Details" button and matching details box */
.details-container {
  position: relative;
}

/* Show the matching details box when hovering over the button container */
.details-container:hover .matching-details-box {
  display: block;
}

/* Styling for the matching details text */
.matching-details-box h3 {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 8px;
}

.matching-details-box p {
  font-size: 14px;
  margin: 4px 0;
}

/* Give red color to "No" and green color to "Yes" */
.matching-details-box p.yes {
  color: green;
}

.matching-details-box p.no {
  color: red;
} -->

<!-- .accordion-item {
    margin-bottom: 10px;
    }
    
    .accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    color: blue;
    }
    
    .accordion-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    }
    
    /* Show the accordion content when the header is clicked */
    .accordion-item.active .accordion-content {
    display: block;
    }
    
    /* Styling for the tick mark and X symbol */
    .status {
    margin-left: 10px;
    font-size: 20px;
    }
    
    .status::before {
    content: "\2713"; /* Unicode for tick mark */
    color: green;
    }
    
    .status.no::before {
    content: "\2717"; /* Unicode for X symbol */
    color: red;
    } -->
    <!-- .accordion-content.show {
        display: block;
      } -->
.accordion {
    background-color: #f9f9f9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.green-check {
    color: green !important;
}

.red-cross {
    color: red !important;
}
.pxp-user-nav-trigger{
    color: black;
    border-color: black;
}
.pxp-user-nav-trigger:hover{
    color: white;
    border-color: white;
    background: black
}
#blackcolor{
    color: black !important;
}
.pxp-user-nav-dropdown > .dropdown-toggle::after{
    border-top-color: black !important;
}
{% endblock %}

{% block content %}

<section>
    <div class="pxp-container">
        <div class="pxp-single-job-content pxp-has-columns">
            <div class="row">
                <div class="col-lg-7 col-xl-8 col-xxl-9">
                    {% if company_details.logo %}
                    <div class="pxp-single-job-cover pxp-cover" style="background-image: url({{ company_details.logo.url }});"></div>
                    <div class="pxp-single-job-cover-logo" style="background-image: url({{ company_details.logo.url }});"></div>
                 
                    {% endif %}

                    <div class="row justify-content-between align-items-center mt-4 mt-lg-5">
                        <div class="col-xl-8 col-xxl-6">
                            <h1>{{ job_details.title }}</h1>
                            <div class="pxp-single-job-company-location">
                                by <a href="#" class="pxp-single-job-company">{{ company_details.title }}</a> in 
                                <a href="#" class="pxp-single-job-location">{{ job_details.location }}</a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="pxp-single-job-options mt-4 col-xl-0">
                                <form method="POST">
                                    {% csrf_token %}
                                {% if request.session.name %}
                                {% if score != "X" %}
                                {% if liked %}
                                <button class="btn pxp-single-job-save-btn" style="background: black; color: white"><span class="fa fa-heart-o"></span></button>
                                {% else %}
                                <button class="btn pxp-single-job-save-btn"><span class="fa fa-heart-o"></span></button>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                </form>
                                <div class="dropdown ms-2">
                                    <button class="btn pxp-single-job-share-btn dropdown-toggle" type="button" id="socialShareBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="fa fa-share-alt">
                                    </span></button>
                                    <ul class="dropdown-menu pxp-single-job-share-dropdown" aria-labelledby="socialShareBtn">
                                        {% if company_details.fblink == none %}
                                        <li><a class="dropdown-item" href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{{ company_details.fblink }}" target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
                                        {% endif %}
                                        {% if company_details.twlink == none %}
                                        <li><a class="dropdown-item" href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{{ company_details.twlink }}" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                                        {% endif %}
                                        {% if company_details.twlink == none %}
                                        <li><a class="dropdown-item" href="#"><span class="fa fa-instagram"></span> Instagram</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{{ company_details.inlink }}" target="_blank"><span class="fa fa-instagram"></span> Instagram</a></li>
                                        {% endif %}
                                        {% if company_details.twlink == none %}
                                        <li><a class="dropdown-item" href="#"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
                                        {% else %}
                                        <li><a class="dropdown-item" href="{{ company_details.lnlink }}" target="_blank"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% if request.session.name %}
                                {% if date %}
                                <button class="btn ms-2 pxp-single-job-apply-btn rounded-pill" style="height: 60px">Applied on <br>{{ date }}</button>
                                {% else %}
                                {% if score != "X" %}
                                <button class="btn ms-2 pxp-single-job-apply-btn rounded-pill" data-bs-target="#pxp-applic-modal" data-bs-toggle="modal" onclick="applicmodal('{{job_details.jobid}}')">Apply Now</button>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-between align-items-center">
                        <div class="col-6">
                            <a href="#" class="pxp-single-job-category">
                                <div class="pxp-single-job-category-icon"><span class="fa fa-calendar-o"></span></div>
                                <div class="pxp-single-job-category-label">{{ job_details.fnarea }}</div>
                            </a>
                        </div>
                        <div class="col-auto">
                            <div class="pxp-single-job-date pxp-text-light">{{ job_details.postdate }}</div>
                        </div>
                    </div>

                    <!-- <div class="pxp-single-job-content-details mt-2 mt-lg-5">
                        {% if score == "Please submit your resume" %}
                        <p>Resume not uploaded! </p>
                        {% elif score == "Please login to check eligibility" %}
                        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;</h4> 
                        {% elif score == "X" %}
                        <p></p>
                        {% else %} 
                        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;<p style="color:lightgreen;margin-bottom: 0;">The location is suitable for you.</p> </h4> 
                        {% endif %}
                    </div> -->
                   
                    <div class="pxp-single-job-content-details mt-2 mt-lg-5">
                        {% if score == "Please submit your resume" %}
                        <p>Resume not uploaded! </p>
                        {% elif score == "Please login to check eligibility" %}
                        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;</h4>
                        {% elif score == "X" %}
                        <p></p>
                        {% else %}
                        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;</h4>
                        <button class="accordion">View Details</button>
                        <div class="panel">
                            <h4>Details</h4>
                            {% if matching_details.skills %}
                        <p>Skills:</p>
                        <p>
                            {% if matching_details.skills.match|length > 0 %}
                                {{ matching_details.skills.match|length }} Skill(s) Matched: 
                                <span style="color: green;">{{ matching_details.skills.match|join:", " }}</span>
                            {% else %}
                                No Matching Skills Found
                            {% endif %}
                        </p>
                        {% if matching_details.skills.not_match|length > 0 %}
                            <p>
                                {{ matching_details.skills.not_match|length }} Skill(s) Not Matched: 
                                <span style="color:red;">{{ matching_details.skills.not_match|join:", " }}</span>
                                
                            </p>
                        {% endif %}
                    {% endif %}
                            <p>Location: {% if matching_details.location.match %}<span class="green-check">&#10004;</span>{% else %}<span class="red-cross">&#10008;</span>{% endif %}</p>
                            <p>Notice Period: {% if matching_details.notice_period.match %}<span class="green-check">&#10004;</span>{% else %}<span class="red-cross">&#10008;</span>{% endif %}</p>
                            <p>Expected Salary: {% if matching_details.expected_salary.match %}<span class="green-check">&#10004;</span>{% else %}<span class="red-cross">&#10008;</span>{% endif %}</p>
                            <p>Experience: {% if matching_details.experience.match %}<span class="green-check">&#10004;</span>{% else %}<span class="red-cross">&#10008;</span>{% endif %}</p>

                        </div>
                        {% endif %}
                    </div>
<!-- <div class="pxp-single-job-content-details mt-2 mt-lg-5">
    {% if score == "Please submit your resume" %}
        <p>Resume not uploaded!</p>
    {% elif score == "Please login to check eligibility" %}
        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">
            Job Match: {{ score }} % &emsp;
        </h4>
    {% elif score == "X" %}
        <p></p>
    {% else %} 
        <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">
            Job Match: {{ score }} % &emsp;</h4> -->
            <!-- <div class="details-container"-->
                <!-- <button class="btn-view-details btn-primary-view-details" id="showDetailsBtn">View Details</button> -->
                <!-- <div class="matching-details-box">
                    Add matching details here
                    {% if matching_details.skills %}
                        <h3>Skills:</h3>
                        <p>
                            {% if matching_details.skills.match|length > 0 %}
                                {{ matching_details.skills.match|length }} Skill(s) Matched: 
                                {{ matching_details.skills.match|join:", " }}
                            {% else %}
                                No Matching Skills Found
                            {% endif %}
                        </p>
                        {% if matching_details.skills.not_match|length > 0 %}
                            <p>
                                {{ matching_details.skills.not_match|length }} Skill(s) Not Matched: 
                                {{ matching_details.skills.not_match|join:", " }}
                            </p>
                        {% endif %}
                    {% endif %}

                    {% if matching_details.location %}
                        <h3>Location:</h3>
                        <p class="{% if matching_details.location.match %}yes{% else %}no{% endif %}">
                            {% if matching_details.location.match %}Yes{% else %}No{% endif %}
                        </p>
                    {% endif %}

                    {% if matching_details.notice_period %}
                        <h3>Notice Period:</h3>
                        <p class="{% if matching_details.notice_period.match %}yes{% else %}no{% endif %}">
                            {% if matching_details.notice_period.match %}Yes{% else %}No{% endif %}
                        </p>
                    {% endif %}

                    {% if matching_details.current_salary %}
                        <h3>Current Salary:</h3>
                        <p class="{% if matching_details.current_salary.match %}yes{% else %}no{% endif %}">
                            {% if matching_details.current_salary.match %}Yes{% else %}No{% endif %}
                        </p>
                    {% endif %}

                    {% if matching_details.expected_salary %}
                        <h3>Expected Salary:</h3>
                        <p class="{% if matching_details.expected_salary.match %}yes{% else %}no{% endif %}">
                            {% if matching_details.expected_salary.match %}Yes{% else %}No{% endif %}
                        </p>
                    {% endif %}
                </div> -->
                <!-- <div class="matching-details-box">
                    <div class="accordion">
                      <div class="accordion-item">
                        <h3 class="accordion-header">View Details</h3>
                        <div class="accordion-content">
                          Add matching details here
                          {% if matching_details.skills %}
                            <h3>Skills:</h3>
                            <p>
                              {% if matching_details.skills.match|length > 0 %}
                                {{ matching_details.skills.match|length }} Skill(s) Matched:
                                {{ matching_details.skills.match|join:", " }}
                                <span class="status">{% if matching_details.skills.match %}&#10003;{% else %}&#10005;{% endif %}</span>
                              {% else %}
                                No Matching Skills Found
                                <span class="status">&#10005;</span>
                              {% endif %}
                            </p>
                          {% endif %}
                  
                          {% if matching_details.location %}
                            <h3>Location:</h3>
                            <p class="{% if matching_details.location.match %}yes{% else %}no{% endif %}">
                              {% if matching_details.location.match %}Yes{% else %}No{% endif %}
                              <span class="status">{% if matching_details.location.match %}&#10003;{% else %}&#10005;{% endif %}</span>
                            </p>
                          {% endif %}
                  
                          {% if matching_details.notice_period %}
                            <h3>Notice Period:</h3>
                            <p class="{% if matching_details.notice_period.match %}yes{% else %}no{% endif %}">
                              {% if matching_details.notice_period.match %}Yes{% else %}No{% endif %}
                              <span class="status">{% if matching_details.notice_period.match %}&#10003;{% else %}&#10005;{% endif %}</span>
                            </p>
                          {% endif %}
                  
                          {% if matching_details.current_salary %}
                            <h3>Current Salary:</h3>
                            <p class="{% if matching_details.current_salary.match %}yes{% else %}no{% endif %}">
                              {% if matching_details.current_salary.match %}Yes{% else %}No{% endif %}
                              <span class="status">{% if matching_details.current_salary.match %}&#10003;{% else %}&#10005;{% endif %}</span>
                            </p>
                          {% endif %}
                  
                          {% if matching_details.expected_salary %}
                            <h3>Expected Salary:</h3>
                            <p class="{% if matching_details.expected_salary.match %}yes{% else %}no{% endif %}">
                              {% if matching_details.expected_salary.match %}Yes{% else %}No{% endif %}
                              <span class="status">{% if matching_details.expected_salary.match %}&#10003;{% else %}&#10005;{% endif %}</span>
                            </p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div> -->
            <!-- </div> -->
            <!-- <div class="pxp-single-job-content-details mt-2 mt-lg-5">
                <button class="accordion-btn" id="showDetailsBtn">View Details</button>
                <div class="accordion-content" id="detailsAccordion">
                  {% if score == "Please submit your resume" %}
                    <p>Resume not uploaded!</p>
                  {% elif score == "Please login to check eligibility" %}
                    <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;</h4>
                  {% elif score == "X" %}
                    <p></p>
                  {% else %}
                    <h4 class="pxp-single-job-side-panel pxp-single-job-side-info-data d-flex align-items-center">Job Match: {{ score }} % &emsp;<p style="color:lightgreen;margin-bottom: 0;">The location is suitable for you.</p></h4>
                    <div class="matching-details-box">
                      <h3>Matching Details</h3>
                      <p>Skills: {% if matching_details.skills_match %}{{ matching_details.skills_match }}/{% endif %}{{ matching_details.total_skills }}</p>
                      <p>Location: {% if matching_details.location_match %}&#10004;{% else %}&#10008;{% endif %}</p>
                      <p>Notice Period: {% if matching_details.notice_period_match %}&#10004;{% else %}&#10008;{% endif %}</p>
                      <p>Current Salary: {% if matching_details.current_salary_match %}&#10004;{% else %}&#10008;{% endif %}</p>
                      <p>Expected Salary: {% if matching_details.expected_salary_match %}&#10004;{% else %}&#10008;{% endif %}</p>
                    </div>
                  {% endif %}
                </div>
              </div> -->
        
    <!-- {% endif %}
</div> -->



                    

                    <div class="pxp-single-job-content-details mt-4 mt-lg-5">
                        {% if skills_required|length >= 1 %}
                        <p>Skills Required</p>
                        <ul>
                        {% for i in skills_required %}
                        <li> {{ i }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="pxp-single-job-content-details mt-4 mt-lg-5">
                        <h4>Overview</h4>
                        <p>{{ job_details.jobdesc }}</p>
                        <div class="mt-4">
                            <h4>Responsibilities</h4>
                            <ul>
                                {% for respon in responsibilities %}
                                    <li>{{ respon }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mt-4">
                            <h4>Requirements</h4>
                            <ul>
                                {% for require in requirements %}
                                    <li>{{ require }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mt-4">
                            <h4>Skills</h4>
                            <ul>
                                {% for skill in skills %}
                                    <li>{{ skill }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% if request.session.name %}
                        {% if date %}
                        <div class="mt-4 mt-lg-5">
                            <a class="btn rounded-pill pxp-section-cta">Applied on <br>{{ date }}</a>
                        </div>
                        {% else %}
                        {% if score != "X" %}
                        <div class="mt-4 mt-lg-5">
                            <a href="" data-bs-target="#pxp-applic-modal" data-bs-toggle="modal" onclick="applicmodal('{{job_details.jobid}}')" class="btn rounded-pill pxp-section-cta">Apply Now</a>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 col-xxl-3">
                    <div class="pxp-single-job-side-panel mt-5 mt-lg-0">
                        <div>
                            <div class="pxp-single-job-side-info-label pxp-text-light">Experience</div>
                            <div class="pxp-single-job-side-info-data">{{ job_details.experience }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Work Level</div>
                            <div class="pxp-single-job-side-info-data">{{ job_details.careerlevel }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Employment Type</div>
                            <div class="pxp-single-job-side-info-data">{{ job_details.jobtype }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Salary</div>
                            {% if job_details.basicpay == "1" %}
                            <div class="pxp-single-job-side-info-data">$0 - $700</div>
                            {% elif job_details.basicpay == "2" %}
                            <div class="pxp-single-job-side-info-data">$700 - $1000</div>
                            {% elif job_details.basicpay == "3" %}
                            <div class="pxp-single-job-side-info-data">$1000 - $1200</div>
                            {% elif job_details.basicpay == "4" %}
                            <div class="pxp-single-job-side-info-data">$1200 - $1400</div>
                            {% elif job_details.basicpay == "5" %}
                            <div class="pxp-single-job-side-info-data">$1500 - $1800</div>
                            {% elif job_details.basicpay == "6" %}
                            <div class="pxp-single-job-side-info-data">$2000 - $3000</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3 mt-lg-4 pxp-single-job-side-panel">
                        <div class="pxp-single-job-side-company">
                            {% if company_details.logo %}
                            <div class="pxp-single-job-side-company-logo pxp-cover" style="background-image: url({{ company_details.logo.url }});"></div>
                            {% else %}
                            <div class="pxp-single-job-side-company-logo pxp-cover" style="background-image: url();"></div>
                            {% endif %}
                            <div class="pxp-single-job-side-company-profile">
                                <div class="pxp-single-job-side-company-name">{{ company_details.ename }}</div>
                                <a href="#">View profile</a>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Industry</div>
                            <div class="pxp-single-job-side-info-data">{{ job_details.industry }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Company size</div>
                            {% if company_details.size == "1" %}
                            <div class="pxp-single-job-side-info-data">&lt; 50 employees</div>
                            {% elif company_details.size == "2" %}
                            <div class="pxp-single-job-side-info-data">50 - 100 employees</div>
                            {% elif company_details.size == "3" %}
                            <div class="pxp-single-job-side-info-data">100 - 150 employees</div>
                            {% elif company_details.size == "4" %}
                            <div class="pxp-single-job-side-info-data">150 - 200 employees</div>
                            {% elif company_details.size == "5" %}
                            <div class="pxp-single-job-side-info-data">200 - 250 employees</div>
                            {% elif company_details.size == "6" %}
                            <div class="pxp-single-job-side-info-data">250 - 300 employees</div>
                            {% elif company_details.size == "7" %}
                            <div class="pxp-single-job-side-info-data">&gt; 300 employees</div>
                            {% endif %}
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Founded in</div>
                            <div class="pxp-single-job-side-info-data">{{ company_details.yearfounded }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Phone</div>
                            <div class="pxp-single-job-side-info-data">{{ company_details.phone }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Email</div>
                            <div class="pxp-single-job-side-info-data">{{ loger.email }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Location</div>
                            <div class="pxp-single-job-side-info-data">{{ company_details.location }}</div>
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-label pxp-text-light">Website</div>
                            {% if company_details.website %}
                            <div class="pxp-single-job-side-info-data"><a href="{{company_details.website}}" target="_blank">{{ company_details.website }}</a></div>
                            {% else %}
                            <div class="pxp-single-job-side-info-data"><a href="#">None</a></div>
                            {% endif %}
                        </div>
                        <div class="mt-4">
                            <div class="pxp-single-job-side-info-data">
                                <ul class="list-unstyled pxp-single-job-side-info-social">
                                    {% if company_details.fblink == none %}
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    {% else %}
                                    <li><a href="{{ company_details.fblink }}" target="_blank"><span class="fa fa-facebook"></span></a></li>
                                    {% endif %}
                                    {% if company_details.twlink == none %}
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    {% else %}
                                    <li><a href="{{ company_details.twlink }}" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                    {% endif %}
                                    {% if company_details.twlink == none %}
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                    {% else %}
                                    <li><a href="{{ company_details.inlink }}" target="_blank"><span class="fa fa-instagram"></span></a></li>
                                    {% endif %}
                                    {% if company_details.twlink == none %}
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    {% else %}
                                    <li><a href="{{ company_details.lnlink }}" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} <section class="mt-100">
    <div class="pxp-container">
        <h2 class="pxp-subsection-h2">Related Jobs</h2>
        <p class="pxp-text-light">Other similar jobs that might interest you</p>

        <div class="row mt-3 mt-md-4 pxp-animate-in pxp-animate-in-top pxp-in">
            <div class="col-xl-6 pxp-jobs-card-2-container">
                <div class="pxp-jobs-card-2 pxp-has-border">
                    <div class="pxp-jobs-card-2-top">
                        <a href="#" class="pxp-jobs-card-2-company-logo" style="background-image: url();"></a>
                        <div class="pxp-jobs-card-2-info">
                            <a href="#" class="pxp-jobs-card-2-title">Software Engineering Team Leader</a>
                            <div class="pxp-jobs-card-2-details">
                                <a href="#" class="pxp-jobs-card-2-location">
                                    <span class="fa fa-globe"></span>Los Angeles, CA
                                </a>
                                <div class="pxp-jobs-card-2-type">Full-time</div>
                            </div>
                        </div>
                    </div>
                    <div class="pxp-jobs-card-2-bottom">
                        <a href="#" class="pxp-jobs-card-2-category">
                            <div class="pxp-jobs-card-2-category-label">Project Management</div>
                        </a>
                        <div class="pxp-jobs-card-2-bottom-right">
                            <span class="pxp-jobs-card-2-date pxp-text-light">3 days ago by</span> <a href="#" class="pxp-jobs-card-2-company">Craftgenics</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pxp-jobs-card-2-container">
                <div class="pxp-jobs-card-2 pxp-has-border">
                    <div class="pxp-jobs-card-2-top">
                        <a href="#" class="pxp-jobs-card-2-company-logo" style="background-image: url();"></a>
                        <div class="pxp-jobs-card-2-info">
                            <a href="#" class="pxp-jobs-card-2-title">Techincal Support Engineer</a>
                            <div class="pxp-jobs-card-2-details">
                                <a href="#" class="pxp-jobs-card-2-location">
                                    <span class="fa fa-globe"></span>Paris, France
                                </a>
                                <div class="pxp-jobs-card-2-type">Full-time</div>
                            </div>
                        </div>
                    </div>
                    <div class="pxp-jobs-card-2-bottom">
                        <a href="#" class="pxp-jobs-card-2-category">
                            <div class="pxp-jobs-card-2-category-label">Customer Service</div>
                        </a>
                        <div class="pxp-jobs-card-2-bottom-right">
                            <span class="pxp-jobs-card-2-date pxp-text-light">3 days ago by</span> <a href="#" class="pxp-jobs-card-2-company">Illuminate Studio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pxp-jobs-card-2-container">
                <div class="pxp-jobs-card-2 pxp-has-border">
                    <div class="pxp-jobs-card-2-top">
                        <a href="#" class="pxp-jobs-card-2-company-logo" style="background-image: url();"></a>
                        <div class="pxp-jobs-card-2-info">
                            <a href="#" class="pxp-jobs-card-2-title">Javascript Developer</a>
                            <div class="pxp-jobs-card-2-details">
                                <a href="#" class="pxp-jobs-card-2-location">
                                    <span class="fa fa-globe"></span>London, UK
                                </a>
                                <div class="pxp-jobs-card-2-type">Full-time</div>
                            </div>
                        </div>
                    </div>
                    <div class="pxp-jobs-card-2-bottom">
                        <a href="#" class="pxp-jobs-card-2-category">
                            <div class="pxp-jobs-card-2-category-label">Software Engineering</div>
                        </a>
                        <div class="pxp-jobs-card-2-bottom-right">
                            <span class="pxp-jobs-card-2-date pxp-text-light">3 days ago by</span> <a href="#" class="pxp-jobs-card-2-company">Syspresoft</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pxp-jobs-card-2-container">
                <div class="pxp-jobs-card-2 pxp-has-border">
                    <div class="pxp-jobs-card-2-top">
                        <a href="#" class="pxp-jobs-card-2-company-logo" style="background-image: url();"></a>
                        <div class="pxp-jobs-card-2-info">
                            <a href="#" class="pxp-jobs-card-2-title">Technical Writer</a>
                            <div class="pxp-jobs-card-2-details">
                                <a href="#" class="pxp-jobs-card-2-location">
                                    <span class="fa fa-globe"></span>London, UK
                                </a>
                                <div class="pxp-jobs-card-2-type">Full-time</div>
                            </div>
                        </div>
                    </div>
                    <div class="pxp-jobs-card-2-bottom">
                        <a href="#" class="pxp-jobs-card-2-category">
                            <div class="pxp-jobs-card-2-category-label">Business Development</div>
                        </a>
                        <div class="pxp-jobs-card-2-bottom-right">
                            <span class="pxp-jobs-card-2-date pxp-text-light">3 days ago by</span> <a href="#" class="pxp-jobs-card-2-company">Gramware</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

       
{% include "footer.html" %}

{% endblock %}
{% block script%}
var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
{% endblock %}

    
